<app-page-header [title]="'Search'" [items]="['Advanced Ui']" [active_item]="'Search'"></app-page-header>

<!-- Row -->
<div class="row row-sm">
    <div class="col-sm-12 col-md-12">
        <div class="card custom-card search-page">
            <div class="card-body pb-2">
                <div class="input-group mb-2">
                    <input type="text" class="form-control border-end-0 ps-3"  placeholder="Searching.....">

                    <span class="input-group-btn">
                        <button class="btn ripple btn-primary" type="button">Search</button>
                    </span>
                </div>
            </div>
            <div class="card-body ps-0 pe-0 bd-t-0 pt-0">
                <div class="main-content-body-profile mb-3">
                    <nav ngbNav #nav="ngbNav" class="main-nav-line">
                        <ng-container ngbNavItem>
                            <a class="d-flex" ngbNavLink><i class="fe fe-search tx-18 t-1 me-2"></i>All</a>
                          <ng-template ngbNavContent> </ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a class="d-flex" ngbNavLink><i class="fe fe-image tx-18 me-2"></i>Images</a>
                          <ng-template ngbNavContent></ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a class="d-flex" ngbNavLink><i class="fe fe-book tx-18  me-2"></i>Books</a>
                          <ng-template ngbNavContent></ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a class="d-flex" ngbNavLink><i class="fe fe-globe tx-18 me-2"></i>News</a>
                          <ng-template ngbNavContent></ng-template>
                        </ng-container>
                        <ng-container ngbNavItem>
                            <a class="d-flex" ngbNavLink><i class="fe fe-video tx-18 me-2"></i>Videos</a>
                          <ng-template ngbNavContent></ng-template>
                        </ng-container>
                      </nav>
                      <div [ngbNavOutlet]="nav"></div>
                </div>
                <p class="text-muted mb-0 ps-3">About 12,546,90000 results (0.56 Seconds)</p>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Templist – HTML5 Digital Marketplace Template by ...</a>
                </div>
                <a href="javascript:void(0);" class="mb-2">https://www.spruko.com/demo/templist/Html/index.html</a>
                <p class="text-muted mt-2 mb-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (48) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Treal - Admin Responsive Bootstrap HTML Dashboard Template</a>
                </div>
                <a href="javascript:void(0);" class="mb-2">https://www.spruko.com/demo/treal/html/</a>
                <p class="text-muted mt-2 mb-1">Treal Template included in 30 versions. In the demo 30 versions is shown in 4 floders. And In the final each version has single floder corresponding to that ...</p>
                <p class="text-muted  mb-2">Tags: admin, admin dashboard, admin panel, admin template, backright, bootstrap, bootstrap 4, clean, dashboard, flat, jquery, modern, premium admin templates ...</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (22) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Eduserv Website Templates from ThemeForest</a>
                </div>
                <a href="javascript:void(0);" class="mb-2">https://spruko.com/demo/eduserv/html/</a>
                <p class="text-muted mt-2 mb-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (35) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">HostOne – Web Hosting HTML Creative Responsive Clean Template</a>
                </div>
                <a href="javascript:void(0);" class="">https://www.spruko.com/demo/hostone/html/</a>
                <p class="text-muted mt-2 mb-1"> HostOne - Web Hosting HTML Creative Responsive Clean Template by sprukosoft HostOne -HTML Templates is a Clean, Simple Responsive Template Design.</p>
                <p class="text-muted  mb-2">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehrighterit qui in ea voluptate velit esse quam nihil molestiae consequatur</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (53) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Zendash - Bootstrap HTML Dashboard Template</a>
                </div>
                <a href="javascript:void(0);" class="">https://www.spruko.com/demo/zendash/html/</a>
                <p class="text-muted mt-2 mb-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (35) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-2">
                    <a href="https://www.spruko.com/demo/eudica/Eudica/Html/index.html" class="tx-18 text-dark tx-medium">Volgh template Images </a>
                </div>
                <div class="">
                    <span class="tx-18">
                        <span class="mx-1 tag tag-default">Volgh laravel
                            <a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a>
                        </span>
                        <span class="mx-1 tag tag-default">Volgh Images
                            <a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a>
                        </span>
                        <span class="mx-1 tag tag-default">Volgh Landing
                            <a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a>
                        </span>
                        <span class="mx-1 tag tag-default">Volgh leftmenu
                            <a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a>
                        </span>
                        <span class="mx-1 tag tag-default">Volgh Horizontalmenu
                            <a href="javascript:void(0)" class="tag-addon"><i class="fe fe-x"></i></a>
                        </span>
                    </span>
                </div>
                <ul class="mt-3 search-imgs ps-0 text-sm-start text-center">
                    <li class=""><img src="./assets/img/media/screen1.jpg" alt="related-image" class="wd-150 ht-150 border"></li>
                    <li class=""><img src="./assets/img/media/screen2.jpg" alt="related-image" class="wd-150 ht-150 border"></li>
                    <li class=""><img src="./assets/img/media/screen3.jpg" alt="related-image" class="wd-150 ht-150 border"></li>
                    <li class=""><img src="./assets/img/media/screen4.jpg" alt="related-image" class="wd-150 ht-150 border"></li>
                    <li class=""><img src="./assets/img/media/screen5.jpg" alt="related-image" class="wd-150 ht-150 border"></li>
                </ul>
                <br>
                <a href="javascript:;" class="tx-15"><i class="fe fe-arrow-right me-2"></i>Related images</a>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body d-lg-flex">
                <div class="">
                    <iframe width="200" height="138" src="https://www.youtube.com/embed/WmpPTEPS5mI"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="ms-lg-3 mt-3 mt-lg-0">
                    <h3 class="tx-18 text-dark"><a href="https://www.spruko.com/demo/dashlot/" class="text-dark">Dashlot - Bootstrap 5 Admin Dashboard HTML Template | Themeforest Templates</a></h3>
                    <p class="mb-0 text-success"><a href="https://www.spruko.com/demo/claylist/LTR/Claylist/HTML/index.html" class="text-success" target="_blank">https://www.spruko.com/demo/claylist/LTR/Claylist/HTML/index.html</a></p>
                    <ul class="list-inline d-flex mt-2">
                        <li>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star text-warning"></i>
                            <i class="fa fa-star-half-alt text-warning"></i> 2 reviews
                        </li>
                        <li class="mx-3">USD - $24.00</li>
                        <li class="text-success">In Stock</li>
                    </ul>
                    <p class="text-muted"> <b>Dashlot </b> – Bootstrap Responsive Admin panel Dashboard Template Ui Kit & Premium Dashboard Design Modern Flat HTML Template. This Template Includes 2000 HTML Pages & 90+ Plugins. No Need to do hard work for this template customization</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Azira - Admin Dashboard HTML Template</a>
                </div>
                <a href="javascript:void(0);" class="">https://www.spruko.com/demo/azira/html/</a>
                <p class="text-muted mt-2 mb-2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fugaEt harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (32) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Claylist - Bootstrap Responsive Classifieds, Directory, Multipurpose Listing HTML Template</a>
                </div>
                <a href="javascript:void(0);" class="">https://www.spruko.com/demo/claylist/html/</a>
                <p class="text-muted mt-2 mb-2">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (25) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-1">
                    <a href="javascript:void(0);" class="h5 text-dark">Dashlot - Bootstrap 5 Admin Dashboard HTML Template | Themeforest Templates</a>
                </div>
                <a href="javascript:void(0);" class="">https://www.spruko.com/demo/dashlot/html/</a>
                <p class="text-muted mt-2 mb-2">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fugaEt harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
                <div>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="fa fa-star text-warning"></i></a>
                    <a href="javascript:void(0);"><i class="far fa-star text-warning"></i></a>
                    <p class="me-4 mb-0 text-dark d-inline-flex"> (43) Reviews</p>
                    <p class="mb-0 text-dark d-inline-flex">USD-$24</p>
                </div>
            </div>
        </div>
        <div class="text-center ms-3 mb-4">
            <div class="row row-sm">
                <nav>
                    <div class="d-flex justify-content-center">
                        <ngb-pagination [collectionSize]="40" [page]="1" aria-label="Default pagination"></ngb-pagination>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->