<app-page-header [title]="'Simple-line-icons'" [items]="['Icons']" [active_item]="'Simple-line-icons'"></app-page-header>
<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Simpleline Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://simplelineicons.github.io/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="si si-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="si si-user" ngbTooltip="si-user"></i></li>
                                <li class="icons-list-item"><i class="si si-people" ngbTooltip="si-people"></i></li>
                                <li class="icons-list-item"><i class="si si-user-female" ngbTooltip="si-user-female"></i></li>
                                <li class="icons-list-item"><i class="si si-user-follow" ngbTooltip="si-user-follow"></i></li>
                                <li class="icons-list-item"><i class="si si-user-following" ngbTooltip="si-user-following"></i></li>
                                <li class="icons-list-item"><i class="si si-user-unfollow" ngbTooltip="si-user-unfollow"></i></li>
                                <li class="icons-list-item"><i class="si si-login" ngbTooltip="si-login"></i></li>
                                <li class="icons-list-item"><i class="si si-logout" ngbTooltip="si-logout"></i></li>
                                <li class="icons-list-item"><i class="si si-emotsmile" ngbTooltip="si-emotsmile"></i></li>
                                <li class="icons-list-item"><i class="si si-phone" ngbTooltip="si-phone"></i></li>
                                <li class="icons-list-item"><i class="si si-call-end" ngbTooltip="si-call-end"></i></li>
                                <li class="icons-list-item"><i class="si si-call-in" ngbTooltip="si-call-in"></i></li>
                                <li class="icons-list-item"><i class="si si-call-out" ngbTooltip="si-call-out"></i></li>
                                <li class="icons-list-item"><i class="si si-map" ngbTooltip="si-map"></i></li>
                                <li class="icons-list-item"><i class="si si-location-pin" ngbTooltip="si-location-pin"></i></li>
                                <li class="icons-list-item"><i class="si si-direction" ngbTooltip="si-direction"></i></li>
                                <li class="icons-list-item"><i class="si si-directions" ngbTooltip="si-directions"></i></li>
                                <li class="icons-list-item"><i class="si si-compass" ngbTooltip="si-compass"></i></li>
                                <li class="icons-list-item"><i class="si si-layers" ngbTooltip="si-layers"></i></li>
                                <li class="icons-list-item"><i class="si si-menu" ngbTooltip="si-menu"></i></li>
                                <li class="icons-list-item"><i class="si si-list" ngbTooltip="si-list"></i></li>
                                <li class="icons-list-item"><i class="si si-options-vertical" ngbTooltip="si-options-vertical"></i></li>
                                <li class="icons-list-item"><i class="si si-options" ngbTooltip="si-options"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-down" ngbTooltip="si-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-left" ngbTooltip="si-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-right" ngbTooltip="si-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-up" ngbTooltip="si-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-up-circle" ngbTooltip="si-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-left-circle" ngbTooltip="si-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-right-circle" ngbTooltip="si-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-arrow-down-circle" ngbTooltip="si-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="si si-check" ngbTooltip="si-check"></i></li>
                                <li class="icons-list-item"><i class="si si-clock" ngbTooltip="si-clock"></i></li>
                                <li class="icons-list-item"><i class="si si-plus" ngbTooltip="si-plus"></i></li>
                                <li class="icons-list-item"><i class="si si-minus" ngbTooltip="si-minus"></i></li>
                                <li class="icons-list-item"><i class="si si-close" ngbTooltip="si-close"></i></li>
                                <li class="icons-list-item"><i class="si si-event" ngbTooltip="si-event"></i></li>
                                <li class="icons-list-item"><i class="si si-exclamation" ngbTooltip="si-exclamation"></i></li>
                                <li class="icons-list-item"><i class="si si-organization" ngbTooltip="si-organization"></i></li>
                                <li class="icons-list-item"><i class="si si-trophy" ngbTooltip="si-trophy"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-smartphone" ngbTooltip="si-screen-smartphone"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-desktop" ngbTooltip="si-screen-desktop"></i></li>
                                <li class="icons-list-item"><i class="si si-plane" ngbTooltip="si-plane"></i></li>
                                <li class="icons-list-item"><i class="si si-notebook" ngbTooltip="si-notebook"></i></li>
                                <li class="icons-list-item"><i class="si si-mustache" ngbTooltip="si-mustache"></i></li>
                                <li class="icons-list-item"><i class="si si-mouse" ngbTooltip="si-mouse"></i></li>
                                <li class="icons-list-item"><i class="si si-magnet" ngbTooltip="si-magnet"></i></li>
                                <li class="icons-list-item"><i class="si si-energy" ngbTooltip="si-energy"></i></li>
                                <li class="icons-list-item"><i class="si si-disc" ngbTooltip="si-disc"></i></li>
                                <li class="icons-list-item"><i class="si si-cursor" ngbTooltip="si-cursor"></i></li>
                                <li class="icons-list-item"><i class="si si-cursor-move" ngbTooltip="si-cursor-move"></i></li>
                                <li class="icons-list-item"><i class="si si-crop" ngbTooltip="si-crop"></i></li>
                                <li class="icons-list-item"><i class="si si-chemistry" ngbTooltip="si-chemistry"></i></li>
                                <li class="icons-list-item"><i class="si si-speedometer" ngbTooltip="si-speedometer"></i></li>
                                <li class="icons-list-item"><i class="si si-shield" ngbTooltip="si-shield"></i></li>
                                <li class="icons-list-item"><i class="si si-screen-tablet" ngbTooltip="si-screen-tablet"></i></li>
                                <li class="icons-list-item"><i class="si si-magic-wand" ngbTooltip="si-magic-wand"></i></li>
                                <li class="icons-list-item"><i class="si si-hourglass" ngbTooltip="si-hourglass"></i></li>
                                <li class="icons-list-item"><i class="si si-graduation" ngbTooltip="si-graduation"></i></li>
                                <li class="icons-list-item"><i class="si si-ghost" ngbTooltip="si-ghost"></i></li>
                                <li class="icons-list-item"><i class="si si-game-controller" ngbTooltip="si-game-controller"></i></li>
                                <li class="icons-list-item"><i class="si si-fire" ngbTooltip="si-fire"></i></li>
                                <li class="icons-list-item"><i class="si si-eyeglass" ngbTooltip="si-eyeglass"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope-open" ngbTooltip="si-envelope-open"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope-letter" ngbTooltip="si-envelope-letter"></i></li>
                                <li class="icons-list-item"><i class="si si-bell" ngbTooltip="si-bell"></i></li>
                                <li class="icons-list-item"><i class="si si-badge" ngbTooltip="si-badge"></i></li>
                                <li class="icons-list-item"><i class="si si-anchor" ngbTooltip="si-anchor"></i></li>
                                <li class="icons-list-item"><i class="si si-wallet" ngbTooltip="si-wallet"></i></li>
                                <li class="icons-list-item"><i class="si si-vector" ngbTooltip="si-vector"></i></li>
                                <li class="icons-list-item"><i class="si si-speech" ngbTooltip="si-speech"></i></li>
                                <li class="icons-list-item"><i class="si si-puzzle" ngbTooltip="si-puzzle"></i></li>
                                <li class="icons-list-item"><i class="si si-printer" ngbTooltip="si-printer"></i></li>
                                <li class="icons-list-item"><i class="si si-present" ngbTooltip="si-present"></i></li>
                                <li class="icons-list-item"><i class="si si-playlist" ngbTooltip="si-playlist"></i></li>
                                <li class="icons-list-item"><i class="si si-pin" ngbTooltip="si-pin"></i></li>
                                <li class="icons-list-item"><i class="si si-picture" ngbTooltip="si-picture"></i></li>
                                <li class="icons-list-item"><i class="si si-handbag" ngbTooltip="si-handbag"></i></li>
                                <li class="icons-list-item"><i class="si si-globe-alt" ngbTooltip="si-globe-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-globe" ngbTooltip="si-globe"></i></li>
                                <li class="icons-list-item"><i class="si si-folder-alt" ngbTooltip="si-folder-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-folder" ngbTooltip="si-folder"></i></li>
                                <li class="icons-list-item"><i class="si si-film" ngbTooltip="si-film"></i></li>
                                <li class="icons-list-item"><i class="si si-feed" ngbTooltip="si-feed"></i></li>
                                <li class="icons-list-item"><i class="si si-drop" ngbTooltip="si-drop"></i></li>
                                <li class="icons-list-item"><i class="si si-drawer" ngbTooltip="si-drawer"></i></li>
                                <li class="icons-list-item"><i class="si si-docs" ngbTooltip="si-docs"></i></li>
                                <li class="icons-list-item"><i class="si si-doc" ngbTooltip="si-doc"></i></li>
                                <li class="icons-list-item"><i class="si si-diamond" ngbTooltip="si-diamond"></i></li>
                                <li class="icons-list-item"><i class="si si-cup" ngbTooltip="si-cup"></i></li>
                                <li class="icons-list-item"><i class="si si-calculator" ngbTooltip="si-calculator"></i></li>
                                <li class="icons-list-item"><i class="si si-bubbles" ngbTooltip="si-bubbles"></i></li>
                                <li class="icons-list-item"><i class="si si-briefcase" ngbTooltip="si-briefcase"></i></li>
                                <li class="icons-list-item"><i class="si si-book-open" ngbTooltip="si-book-open"></i></li>
                                <li class="icons-list-item"><i class="si si-basket-loaded" ngbTooltip="si-basket-loaded"></i></li>
                                <li class="icons-list-item"><i class="si si-basket" ngbTooltip="si-basket"></i></li>
                                <li class="icons-list-item"><i class="si si-bag" ngbTooltip="si-bag"></i></li>
                                <li class="icons-list-item"><i class="si si-action-undo" ngbTooltip="si-action-undo"></i></li>
                                <li class="icons-list-item"><i class="si si-action-redo" ngbTooltip="si-action-redo"></i></li>
                                <li class="icons-list-item"><i class="si si-wrench" ngbTooltip="si-wrench"></i></li>
                                <li class="icons-list-item"><i class="si si-umbrella" ngbTooltip="si-umbrella"></i></li>
                                <li class="icons-list-item"><i class="si si-trash" ngbTooltip="si-trash"></i></li>
                                <li class="icons-list-item"><i class="si si-tag" ngbTooltip="si-tag"></i></li>
                                <li class="icons-list-item"><i class="si si-support" ngbTooltip="si-support"></i></li>
                                <li class="icons-list-item"><i class="si si-frame" ngbTooltip="si-frame"></i></li>
                                <li class="icons-list-item"><i class="si si-size-fullscreen" ngbTooltip="si-size-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="si si-size-actual" ngbTooltip="si-size-actual"></i></li>
                                <li class="icons-list-item"><i class="si si-shuffle" ngbTooltip="si-shuffle"></i></li>
                                <li class="icons-list-item"><i class="si si-share-alt" ngbTooltip="si-share-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-share" ngbTooltip="si-share"></i></li>
                                <li class="icons-list-item"><i class="si si-rocket" ngbTooltip="si-rocket"></i></li>
                                <li class="icons-list-item"><i class="si si-question" ngbTooltip="si-question"></i></li>
                                <li class="icons-list-item"><i class="si si-pie-chart" ngbTooltip="si-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="si si-pencil" ngbTooltip="si-pencil"></i></li>
                                <li class="icons-list-item"><i class="si si-note" ngbTooltip="si-note"></i></li>
                                <li class="icons-list-item"><i class="si si-loop" ngbTooltip="si-loop"></i></li>
                                <li class="icons-list-item"><i class="si si-home" ngbTooltip="si-home"></i></li>
                                <li class="icons-list-item"><i class="si si-grid" ngbTooltip="si-grid"></i></li>
                                <li class="icons-list-item"><i class="si si-graph" ngbTooltip="si-graph"></i></li>
                                <li class="icons-list-item"><i class="si si-microphone" ngbTooltip="si-microphone"></i></li>
                                <li class="icons-list-item"><i class="si si-music-tone-alt" ngbTooltip="si-music-tone-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-music-tone" ngbTooltip="si-music-tone"></i></li>
                                <li class="icons-list-item"><i class="si si-earphones-alt" ngbTooltip="si-earphones-alt"></i></li>
                                <li class="icons-list-item"><i class="si si-earphones" ngbTooltip="si-earphones"></i></li>
                                <li class="icons-list-item"><i class="si si-equalizer" ngbTooltip="si-equalizer"></i></li>
                                <li class="icons-list-item"><i class="si si-like" ngbTooltip="si-like"></i></li>
                                <li class="icons-list-item"><i class="si si-dislike" ngbTooltip="si-dislike"></i></li>
                                <li class="icons-list-item"><i class="si si-control-start" ngbTooltip="si-control-start"></i></li>
                                <li class="icons-list-item"><i class="si si-control-rewind" ngbTooltip="si-control-rewind"></i></li>
                                <li class="icons-list-item"><i class="si si-control-play" ngbTooltip="si-control-play"></i></li>
                                <li class="icons-list-item"><i class="si si-control-pause" ngbTooltip="si-control-pause"></i></li>
                                <li class="icons-list-item"><i class="si si-control-forward" ngbTooltip="si-control-forward"></i></li>
                                <li class="icons-list-item"><i class="si si-control-end" ngbTooltip="si-control-end"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-1" ngbTooltip="si-volume-1"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-2" ngbTooltip="si-volume-2"></i></li>
                                <li class="icons-list-item"><i class="si si-volume-off" ngbTooltip="si-volume-off"></i></li>
                                <li class="icons-list-item"><i class="si si-calendar" ngbTooltip="si-calendar"></i></li>
                                <li class="icons-list-item"><i class="si si-bulb" ngbTooltip="si-bulb"></i></li>
                                <li class="icons-list-item"><i class="si si-chart" ngbTooltip="si-chart"></i></li>
                                <li class="icons-list-item"><i class="si si-ban" ngbTooltip="si-ban"></i></li>
                                <li class="icons-list-item"><i class="si si-bubble" ngbTooltip="si-bubble"></i></li>
                                <li class="icons-list-item"><i class="si si-camrecorder" ngbTooltip="si-camrecorder"></i></li>
                                <li class="icons-list-item"><i class="si si-camera" ngbTooltip="si-camera"></i></li>
                                <li class="icons-list-item"><i class="si si-cloud-download" ngbTooltip="si-cloud-download"></i></li>
                                <li class="icons-list-item"><i class="si si-cloud-upload" ngbTooltip="si-cloud-upload"></i></li>
                                <li class="icons-list-item"><i class="si si-envelope" ngbTooltip="si-envelope"></i></li>
                                <li class="icons-list-item"><i class="si si-eye" ngbTooltip="si-eye"></i></li>
                                <li class="icons-list-item"><i class="si si-flag" ngbTooltip="si-flag"></i></li>
                                <li class="icons-list-item"><i class="si si-heart" ngbTooltip="si-heart"></i></li>
                                <li class="icons-list-item"><i class="si si-info" ngbTooltip="si-info"></i></li>
                                <li class="icons-list-item"><i class="si si-key" ngbTooltip="si-key"></i></li>
                                <li class="icons-list-item"><i class="si si-link" ngbTooltip="si-link"></i></li>
                                <li class="icons-list-item"><i class="si si-lock" ngbTooltip="si-lock"></i></li>
                                <li class="icons-list-item"><i class="si si-lock-open" ngbTooltip="si-lock-open"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier" ngbTooltip="si-magnifier"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier-add" ngbTooltip="si-magnifier-add"></i></li>
                                <li class="icons-list-item"><i class="si si-magnifier-remove" ngbTooltip="si-magnifier-remove"></i></li>
                                <li class="icons-list-item"><i class="si si-paper-clip" ngbTooltip="si-paper-clip"></i></li>
                                <li class="icons-list-item"><i class="si si-paper-plane" ngbTooltip="si-paper-plane"></i></li>
                                <li class="icons-list-item"><i class="si si-power" ngbTooltip="si-power"></i></li>
                                <li class="icons-list-item"><i class="si si-refresh" ngbTooltip="si-refresh"></i></li>
                                <li class="icons-list-item"><i class="si si-reload" ngbTooltip="si-reload"></i></li>
                                <li class="icons-list-item"><i class="si si-settings" ngbTooltip="si-settings"></i></li>
                                <li class="icons-list-item"><i class="si si-star" ngbTooltip="si-star"></i></li>
                                <li class="icons-list-item"><i class="si si-symbol-female" ngbTooltip="si-symbol-female"></i></li>
                                <li class="icons-list-item"><i class="si si-symbol-male" ngbTooltip="si-symbol-male"></i></li>
                                <li class="icons-list-item"><i class="si si-target" ngbTooltip="si-target"></i></li>
                                <li class="icons-list-item"><i class="si si-credit-card" ngbTooltip="si-credit-card"></i></li>
                                <li class="icons-list-item"><i class="si si-paypal" ngbTooltip="si-paypal"></i></li>
                                <li class="icons-list-item"><i class="si si-social-tumblr" ngbTooltip="si-social-tumblr"></i></li>
                                <li class="icons-list-item"><i class="si si-social-twitter" ngbTooltip="si-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="si si-social-facebook" ngbTooltip="si-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="si si-social-instagram" ngbTooltip="si-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="si si-social-linkedin" ngbTooltip="si-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="si si-social-pinterest" ngbTooltip="si-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="si si-social-github" ngbTooltip="si-social-github"></i></li>
                                <li class="icons-list-item"><i class="si si-social-google" ngbTooltip="si-social-google"></i></li>
                                <li class="icons-list-item"><i class="si si-social-reddit" ngbTooltip="si-social-reddit"></i></li>
                                <li class="icons-list-item"><i class="si si-social-skype" ngbTooltip="si-social-skype"></i></li>
                                <li class="icons-list-item"><i class="si si-social-dribbble" ngbTooltip="si-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="si si-social-behance" ngbTooltip="si-social-behance"></i></li>
                                <li class="icons-list-item"><i class="si si-social-foursqare" ngbTooltip="si-social-foursqare"></i></li>
                                <li class="icons-list-item"><i class="si si-social-soundcloud" ngbTooltip="si-social-soundcloud"></i></li>
                                <li class="icons-list-item"><i class="si si-social-spotify" ngbTooltip="si-social-spotify"></i></li>
                                <li class="icons-list-item"><i class="si si-social-stumbleupon" ngbTooltip="si-social-stumbleupon"></i></li>
                                <li class="icons-list-item"><i class="si si-social-youtube" ngbTooltip="si-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="si si-social-dropbox" ngbTooltip="si-social-dropbox"></i></li>
                                <li class="icons-list-item"><i class="si si-social-vkontakte" ngbTooltip="si-social-vkontakte"></i></li>
                                <li class="icons-list-item"><i class="si si-social-steam" ngbTooltip="si-social-steam"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>