<app-page-header [title]="'Position'" [items]="['Tables']" [active_item]="'Position'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-12 col-lg-12">
        <div class="card custom-card" id="setposition">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Set Position</h6>
                    <p class="text-muted  card-sub-title">You can set a position to an element instantly by using the following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.pos-relative</code></td>
                                <td>Set a relative position to an element.</td>
                            </tr>
                            <tr>
                                <td><code>.pos-absolute</code></td>
                                <td>Set an absolute position to an element.</td>
                            </tr>
                            <tr>
                                <td><code>.pos-fixed</code></td>
                                <td>Set a fixed position to an element.</td>
                            </tr>
                            <tr>
                                <td><code>.pos-static</code></td>
                                <td>Set a static position to an element.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="cornering">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Cornering</h6>
                    <p class="text-muted  card-sub-title">You can set a top,right,bottom and left position to an element using the following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.t-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.r-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.b-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.l-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="zyposition">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">X and Y Position</h6>
                    <p class="text-muted  card-sub-title">You can set a top,right,bottom and left position to an element using the following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.t-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.r-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.b-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.l-[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="negative">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Negative Corner</h6>
                    <p class="text-muted  card-sub-title">You can set a negative positioning to an element using the following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.t--[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.r--[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.b--[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                            <tr>
                                <td><code>.l--[value]</code></td>
                                <td>0 | 5 | 10 | 15 | ... | 100 (step of 5)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="zindex">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Z-Index Property</h6>
                    <p class="text-muted  card-sub-title">You can set a z-index to an element instantly using the following utilities classes.</p>
                </div>
                <div class="table-responsive">
                    <table class="table main-table-reference mt-0 mb-0">
                        <thead>
                            <tr>
                                <th class="wd-30p">Class</th>
                                <th class="wd-70p">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><code>.z-index-[value]</code></td>
                                <td>10 | 50 | 100 | 150 | 200</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->