<app-page-header [title]="'Themeify-icons'" [items]="['Icons']" [active_item]="'Themeify-icons'"></app-page-header>
<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Themify Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://themify.me/themify-icons" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="ti-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="ti-arrow-up" ngbTooltip="ti-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-right" ngbTooltip="ti-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-left" ngbTooltip="ti-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-down" ngbTooltip="ti-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-vertical" ngbTooltip="ti-arrows-vertical"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-horizontal" ngbTooltip="ti-arrows-horizontal"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-up" ngbTooltip="ti-angle-up"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-right" ngbTooltip="ti-angle-right"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-left" ngbTooltip="ti-angle-left"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-down" ngbTooltip="ti-angle-down"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-up" ngbTooltip="ti-angle-double-up"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-right" ngbTooltip="ti-angle-double-right"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-left" ngbTooltip="ti-angle-double-left"></i></li>
                                <li class="icons-list-item"><i class="ti-angle-double-down" ngbTooltip="ti-angle-double-down"></i></li>
                                <li class="icons-list-item"><i class="ti-move" ngbTooltip="ti-move"></i></li>
                                <li class="icons-list-item"><i class="ti-fullscreen" ngbTooltip="ti-fullscreen"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-top-right" ngbTooltip="ti-arrow-top-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-top-left" ngbTooltip="ti-arrow-top-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-up" ngbTooltip="ti-arrow-circle-up"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-right" ngbTooltip="ti-arrow-circle-right"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-left" ngbTooltip="ti-arrow-circle-left"></i></li>
                                <li class="icons-list-item"><i class="ti-arrow-circle-down" ngbTooltip="ti-arrow-circle-down"></i></li>
                                <li class="icons-list-item"><i class="ti-arrows-corner" ngbTooltip="ti-arrows-corner"></i></li>
                                <li class="icons-list-item"><i class="ti-split-v" ngbTooltip="ti-split-v"></i></li>
                                <li class="icons-list-item"><i class="ti-split-v-alt" ngbTooltip="ti-split-v-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-split-h" ngbTooltip="ti-split-h"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-up" ngbTooltip="ti-hand-point-up"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-right" ngbTooltip="ti-hand-point-right"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-left" ngbTooltip="ti-hand-point-left"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-point-down" ngbTooltip="ti-hand-point-down"></i></li>
                                <li class="icons-list-item"><i class="ti-back-right" ngbTooltip="ti-back-right"></i></li>
                                <li class="icons-list-item"><i class="ti-back-left" ngbTooltip="ti-back-left"></i></li>
                                <li class="icons-list-item"><i class="ti-exchange-vertical" ngbTooltip="ti-exchange-vertical"></i></li>
                                <li class="icons-list-item"><i class="ti-wand" ngbTooltip="ti-wand"></i></li>
                                <li class="icons-list-item"><i class="ti-save" ngbTooltip="ti-save"></i></li>
                                <li class="icons-list-item"><i class="ti-save-alt" ngbTooltip="ti-save-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-direction" ngbTooltip="ti-direction"></i></li>
                                <li class="icons-list-item"><i class="ti-direction-alt" ngbTooltip="ti-direction-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-user" ngbTooltip="ti-user"></i></li>
                                <li class="icons-list-item"><i class="ti-link" ngbTooltip="ti-link"></i></li>
                                <li class="icons-list-item"><i class="ti-unlink" ngbTooltip="ti-unlink"></i></li>
                                <li class="icons-list-item"><i class="ti-trash" ngbTooltip="ti-trash"></i></li>
                                <li class="icons-list-item"><i class="ti-target" ngbTooltip="ti-target"></i></li>
                                <li class="icons-list-item"><i class="ti-tag" ngbTooltip="ti-tag"></i></li>
                                <li class="icons-list-item"><i class="ti-desktop" ngbTooltip="ti-desktop"></i></li>
                                <li class="icons-list-item"><i class="ti-tablet" ngbTooltip="ti-tablet"></i></li>
                                <li class="icons-list-item"><i class="ti-mobile" ngbTooltip="ti-mobile"></i></li>
                                <li class="icons-list-item"><i class="ti-email" ngbTooltip="ti-email"></i></li>
                                <li class="icons-list-item"><i class="ti-star" ngbTooltip="ti-star"></i></li>
                                <li class="icons-list-item"><i class="ti-spray" ngbTooltip="ti-spray"></i></li>
                                <li class="icons-list-item"><i class="ti-signal" ngbTooltip="ti-signal"></i></li>
                                <li class="icons-list-item"><i class="ti-shopping-cart" ngbTooltip="ti-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="ti-shopping-cart-full" ngbTooltip="ti-shopping-cart-full"></i></li>
                                <li class="icons-list-item"><i class="ti-settings" ngbTooltip="ti-settings"></i></li>
                                <li class="icons-list-item"><i class="ti-search" ngbTooltip="ti-search"></i></li>
                                <li class="icons-list-item"><i class="ti-zoom-in" ngbTooltip="ti-zoom-in"></i></li>
                                <li class="icons-list-item"><i class="ti-zoom-out" ngbTooltip="ti-zoom-out"></i></li>
                                <li class="icons-list-item"><i class="ti-cut" ngbTooltip="ti-cut"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler" ngbTooltip="ti-ruler"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-alt-2" ngbTooltip="ti-ruler-alt-2"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-pencil" ngbTooltip="ti-ruler-pencil"></i></li>
                                <li class="icons-list-item"><i class="ti-ruler-alt" ngbTooltip="ti-ruler-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-bookmark" ngbTooltip="ti-bookmark"></i></li>
                                <li class="icons-list-item"><i class="ti-bookmark-alt" ngbTooltip="ti-bookmark-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-reload" ngbTooltip="ti-reload"></i></li>
                                <li class="icons-list-item"><i class="ti-plus" ngbTooltip="ti-plus"></i></li>
                                <li class="icons-list-item"><i class="ti-minus" ngbTooltip="ti-minus"></i></li>
                                <li class="icons-list-item"><i class="ti-close" ngbTooltip="ti-close"></i></li>
                                <li class="icons-list-item"><i class="ti-pin" ngbTooltip="ti-pin"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil" ngbTooltip="ti-pencil"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil-alt" ngbTooltip="ti-pencil-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-paint-roller" ngbTooltip="ti-paint-roller"></i></li>
                                <li class="icons-list-item"><i class="ti-paint-bucket" ngbTooltip="ti-paint-bucket"></i></li>
                                <li class="icons-list-item"><i class="ti-na" ngbTooltip="ti-na"></i></li>
                                <li class="icons-list-item"><i class="ti-medall" ngbTooltip="ti-medall"></i></li>
                                <li class="icons-list-item"><i class="ti-medall-alt" ngbTooltip="ti-medall-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-marker" ngbTooltip="ti-marker"></i></li>
                                <li class="icons-list-item"><i class="ti-marker-alt" ngbTooltip="ti-marker-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-lock" ngbTooltip="ti-lock"></i></li>
                                <li class="icons-list-item"><i class="ti-unlock" ngbTooltip="ti-unlock"></i></li>
                                <li class="icons-list-item"><i class="ti-location-arrow" ngbTooltip="ti-location-arrow"></i></li>
                                <li class="icons-list-item"><i class="ti-layout" ngbTooltip="ti-layout"></i></li>
                                <li class="icons-list-item"><i class="ti-layers" ngbTooltip="ti-layers"></i></li>
                                <li class="icons-list-item"><i class="ti-layers-alt" ngbTooltip="ti-layers-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-key" ngbTooltip="ti-key"></i></li>
                                <li class="icons-list-item"><i class="ti-image" ngbTooltip="ti-image"></i></li>
                                <li class="icons-list-item"><i class="ti-heart" ngbTooltip="ti-heart"></i></li>
                                <li class="icons-list-item"><i class="ti-heart-broken" ngbTooltip="ti-heart-broken"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-stop" ngbTooltip="ti-hand-stop"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-open" ngbTooltip="ti-hand-open"></i></li>
                                <li class="icons-list-item"><i class="ti-hand-drag" ngbTooltip="ti-hand-drag"></i></li>
                                <li class="icons-list-item"><i class="ti-flag" ngbTooltip="ti-flag"></i></li>
                                <li class="icons-list-item"><i class="ti-flag-alt" ngbTooltip="ti-flag-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-flag-alt-2" ngbTooltip="ti-flag-alt-2"></i></li>
                                <li class="icons-list-item"><i class="ti-eye" ngbTooltip="ti-eye"></i></li>
                                <li class="icons-list-item"><i class="ti-import" ngbTooltip="ti-import"></i></li>
                                <li class="icons-list-item"><i class="ti-export" ngbTooltip="ti-export"></i></li>
                                <li class="icons-list-item"><i class="ti-cup" ngbTooltip="ti-cup"></i></li>
                                <li class="icons-list-item"><i class="ti-crown" ngbTooltip="ti-crown"></i></li>
                                <li class="icons-list-item"><i class="ti-comments" ngbTooltip="ti-comments"></i></li>
                                <li class="icons-list-item"><i class="ti-comment" ngbTooltip="ti-comment"></i></li>
                                <li class="icons-list-item"><i class="ti-comment-alt" ngbTooltip="ti-comment-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-thought" ngbTooltip="ti-thought"></i></li>
                                <li class="icons-list-item"><i class="ti-clip" ngbTooltip="ti-clip"></i></li>
                                <li class="icons-list-item"><i class="ti-check" ngbTooltip="ti-check"></i></li>
                                <li class="icons-list-item"><i class="ti-check-box" ngbTooltip="ti-check-box"></i></li>
                                <li class="icons-list-item"><i class="ti-camera" ngbTooltip="ti-camera"></i></li>
                                <li class="icons-list-item"><i class="ti-announcement" ngbTooltip="ti-announcement"></i></li>
                                <li class="icons-list-item"><i class="ti-brush" ngbTooltip="ti-brush"></i></li>
                                <li class="icons-list-item"><i class="ti-brush-alt" ngbTooltip="ti-brush-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-palette" ngbTooltip="ti-palette"></i></li>
                                <li class="icons-list-item"><i class="ti-briefcase" ngbTooltip="ti-briefcase"></i></li>
                                <li class="icons-list-item"><i class="ti-bolt" ngbTooltip="ti-bolt"></i></li>
                                <li class="icons-list-item"><i class="ti-bolt-alt" ngbTooltip="ti-bolt-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-blackboard" ngbTooltip="ti-blackboard"></i></li>
                                <li class="icons-list-item"><i class="ti-bag" ngbTooltip="ti-bag"></i></li>
                                <li class="icons-list-item"><i class="ti-world" ngbTooltip="ti-world"></i></li>
                                <li class="icons-list-item"><i class="ti-wheelchair" ngbTooltip="ti-wheelchair"></i></li>
                                <li class="icons-list-item"><i class="ti-car" ngbTooltip="ti-car"></i></li>
                                <li class="icons-list-item"><i class="ti-truck" ngbTooltip="ti-truck"></i></li>
                                <li class="icons-list-item"><i class="ti-timer" ngbTooltip="ti-timer"></i></li>
                                <li class="icons-list-item"><i class="ti-ticket" ngbTooltip="ti-ticket"></i></li>
                                <li class="icons-list-item"><i class="ti-thumb-up" ngbTooltip="ti-thumb-up"></i></li>
                                <li class="icons-list-item"><i class="ti-thumb-down" ngbTooltip="ti-thumb-down"></i></li>
                                <li class="icons-list-item"><i class="ti-stats-up" ngbTooltip="ti-stats-up"></i></li>
                                <li class="icons-list-item"><i class="ti-stats-down" ngbTooltip="ti-stats-down"></i></li>
                                <li class="icons-list-item"><i class="ti-shine" ngbTooltip="ti-shine"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-right" ngbTooltip="ti-shift-right"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-left" ngbTooltip="ti-shift-left"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-right-alt" ngbTooltip="ti-shift-right-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-shift-left-alt" ngbTooltip="ti-shift-left-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-shield" ngbTooltip="ti-shield"></i></li>
                                <li class="icons-list-item"><i class="ti-notepad" ngbTooltip="ti-notepad"></i></li>
                                <li class="icons-list-item"><i class="ti-server" ngbTooltip="ti-server"></i></li>
                                <li class="icons-list-item"><i class="ti-pulse" ngbTooltip="ti-pulse"></i></li>
                                <li class="icons-list-item"><i class="ti-printer" ngbTooltip="ti-printer"></i></li>
                                <li class="icons-list-item"><i class="ti-power-off" ngbTooltip="ti-power-off"></i></li>
                                <li class="icons-list-item"><i class="ti-plug" ngbTooltip="ti-plug"></i></li>
                                <li class="icons-list-item"><i class="ti-pie-chart" ngbTooltip="ti-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="ti-panel" ngbTooltip="ti-panel"></i></li>
                                <li class="icons-list-item"><i class="ti-package" ngbTooltip="ti-package"></i></li>
                                <li class="icons-list-item"><i class="ti-music" ngbTooltip="ti-music"></i></li>
                                <li class="icons-list-item"><i class="ti-music-alt" ngbTooltip="ti-music-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-mouse" ngbTooltip="ti-mouse"></i></li>
                                <li class="icons-list-item"><i class="ti-mouse-alt" ngbTooltip="ti-mouse-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-money" ngbTooltip="ti-money"></i></li>
                                <li class="icons-list-item"><i class="ti-microphone" ngbTooltip="ti-microphone"></i></li>
                                <li class="icons-list-item"><i class="ti-menu" ngbTooltip="ti-menu"></i></li>
                                <li class="icons-list-item"><i class="ti-menu-alt" ngbTooltip="ti-menu-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-map" ngbTooltip="ti-map"></i></li>
                                <li class="icons-list-item"><i class="ti-map-alt" ngbTooltip="ti-map-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-location-pin" ngbTooltip="ti-location-pin"></i></li>
                                <li class="icons-list-item"><i class="ti-light-bulb" ngbTooltip="ti-light-bulb"></i></li>
                                <li class="icons-list-item"><i class="ti-info" ngbTooltip="ti-info"></i></li>
                                <li class="icons-list-item"><i class="ti-infinite" ngbTooltip="ti-infinite"></i></li>
                                <li class="icons-list-item"><i class="ti-id-badge" ngbTooltip="ti-id-badge"></i></li>
                                <li class="icons-list-item"><i class="ti-hummer" ngbTooltip="ti-hummer"></i></li>
                                <li class="icons-list-item"><i class="ti-home" ngbTooltip="ti-home"></i></li>
                                <li class="icons-list-item"><i class="ti-help" ngbTooltip="ti-help"></i></li>
                                <li class="icons-list-item"><i class="ti-headphone" ngbTooltip="ti-headphone"></i></li>
                                <li class="icons-list-item"><i class="ti-harddrives" ngbTooltip="ti-harddrives"></i></li>
                                <li class="icons-list-item"><i class="ti-harddrive" ngbTooltip="ti-harddrive"></i></li>
                                <li class="icons-list-item"><i class="ti-gift" ngbTooltip="ti-gift"></i></li>
                                <li class="icons-list-item"><i class="ti-game" ngbTooltip="ti-game"></i></li>
                                <li class="icons-list-item"><i class="ti-filter" ngbTooltip="ti-filter"></i></li>
                                <li class="icons-list-item"><i class="ti-files" ngbTooltip="ti-files"></i></li>
                                <li class="icons-list-item"><i class="ti-file" ngbTooltip="ti-file"></i></li>
                                <li class="icons-list-item"><i class="ti-zip" ngbTooltip="ti-zip"></i></li>
                                <li class="icons-list-item"><i class="ti-folder" ngbTooltip="ti-folder"></i></li>
                                <li class="icons-list-item"><i class="ti-envelope" ngbTooltip="ti-envelope"></i></li>
                                <li class="icons-list-item"><i class="ti-dashboard" ngbTooltip="ti-dashboard"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud" ngbTooltip="ti-cloud"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud-up" ngbTooltip="ti-cloud-up"></i></li>
                                <li class="icons-list-item"><i class="ti-cloud-down" ngbTooltip="ti-cloud-down"></i></li>
                                <li class="icons-list-item"><i class="ti-clipboard" ngbTooltip="ti-clipboard"></i></li>
                                <li class="icons-list-item"><i class="ti-calendar" ngbTooltip="ti-calendar"></i></li>
                                <li class="icons-list-item"><i class="ti-book" ngbTooltip="ti-book"></i></li>
                                <li class="icons-list-item"><i class="ti-bell" ngbTooltip="ti-bell"></i></li>
                                <li class="icons-list-item"><i class="ti-basketball" ngbTooltip="ti-basketball"></i></li>
                                <li class="icons-list-item"><i class="ti-bar-chart" ngbTooltip="ti-bar-chart"></i></li>
                                <li class="icons-list-item"><i class="ti-bar-chart-alt" ngbTooltip="ti-bar-chart-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-archive" ngbTooltip="ti-archive"></i></li>
                                <li class="icons-list-item"><i class="ti-anchor" ngbTooltip="ti-anchor"></i></li>
                                <li class="icons-list-item"><i class="ti-alert" ngbTooltip="ti-alert"></i></li>
                                <li class="icons-list-item"><i class="ti-alarm-clock" ngbTooltip="ti-alarm-clock"></i></li>
                                <li class="icons-list-item"><i class="ti-agenda" ngbTooltip="ti-agenda"></i></li>
                                <li class="icons-list-item"><i class="ti-write" ngbTooltip="ti-write"></i></li>
                                <li class="icons-list-item"><i class="ti-wallet" ngbTooltip="ti-wallet"></i></li>
                                <li class="icons-list-item"><i class="ti-video-clapper" ngbTooltip="ti-video-clapper"></i></li>
                                <li class="icons-list-item"><i class="ti-video-camera" ngbTooltip="ti-video-camera"></i></li>
                                <li class="icons-list-item"><i class="ti-vector" ngbTooltip="ti-vector"></i></li>
                                <li class="icons-list-item"><i class="ti-support" ngbTooltip="ti-support"></i></li>
                                <li class="icons-list-item"><i class="ti-stamp" ngbTooltip="ti-stamp"></i></li>
                                <li class="icons-list-item"><i class="ti-slice" ngbTooltip="ti-slice"></i></li>
                                <li class="icons-list-item"><i class="ti-shortcode" ngbTooltip="ti-shortcode"></i></li>
                                <li class="icons-list-item"><i class="ti-receipt" ngbTooltip="ti-receipt"></i></li>
                                <li class="icons-list-item"><i class="ti-pin2" ngbTooltip="ti-pin2"></i></li>
                                <li class="icons-list-item"><i class="ti-pin-alt" ngbTooltip="ti-pin-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-pencil-alt2" ngbTooltip="ti-pencil-alt2"></i></li>
                                <li class="icons-list-item"><i class="ti-eraser" ngbTooltip="ti-eraser"></i></li>
                                <li class="icons-list-item"><i class="ti-more" ngbTooltip="ti-more"></i></li>
                                <li class="icons-list-item"><i class="ti-more-alt" ngbTooltip="ti-more-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-microphone-alt" ngbTooltip="ti-microphone-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-magnet" ngbTooltip="ti-magnet"></i></li>
                                <li class="icons-list-item"><i class="ti-line-double" ngbTooltip="ti-line-double"></i></li>
                                <li class="icons-list-item"><i class="ti-line-dotted" ngbTooltip="ti-line-dotted"></i></li>
                                <li class="icons-list-item"><i class="ti-line-dashed" ngbTooltip="ti-line-dashed"></i></li>
                                <li class="icons-list-item"><i class="ti-ink-pen" ngbTooltip="ti-ink-pen"></i></li>
                                <li class="icons-list-item"><i class="ti-info-alt" ngbTooltip="ti-info-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-help-alt" ngbTooltip="ti-help-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-headphone-alt" ngbTooltip="ti-headphone-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-gallery" ngbTooltip="ti-gallery"></i></li>
                                <li class="icons-list-item"><i class="ti-face-smile" ngbTooltip="ti-face-smile"></i></li>
                                <li class="icons-list-item"><i class="ti-face-sad" ngbTooltip="ti-face-sad"></i></li>
                                <li class="icons-list-item"><i class="ti-credit-card" ngbTooltip="ti-credit-card"></i></li>
                                <li class="icons-list-item"><i class="ti-comments-smiley" ngbTooltip="ti-comments-smiley"></i></li>
                                <li class="icons-list-item"><i class="ti-time" ngbTooltip="ti-time"></i></li>
                                <li class="icons-list-item"><i class="ti-share" ngbTooltip="ti-share"></i></li>
                                <li class="icons-list-item"><i class="ti-share-alt" ngbTooltip="ti-share-alt"></i></li>
                                <li class="icons-list-item"><i class="ti-rocket" ngbTooltip="ti-rocket"></i></li>
                                <li class="icons-list-item"><i class="ti-new-window" ngbTooltip="ti-new-window"></i></li>
                                <li class="icons-list-item"><i class="ti-rss" ngbTooltip="ti-rss"></i></li>
                                <li class="icons-list-item"><i class="ti-rss-alt" ngbTooltip="ti-rss-alt"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->