<app-page-header [title]="'Flex'" [items]="['Tables']" [active_item]="'Flex'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card" id="enable">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Enable Flex</h6>
                    <p class="text-muted  card-sub-title">Apply display utilities to create a flexbox container and transform direct children elements into flex items.</p>
                </div>
                <div class="d-flex pd-10 bg-light">
                    I'm a flexbox container!
                </div>
            </div>
        </div>
        <div class="card custom-card" id="direc">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Direction</h6>
                    <p class="text-muted  card-sub-title">Set the direction of flex items in a flex container with direction utilities.</p>
                </div>
                <div>
                    <div class="d-flex flex-row bg-light mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row-reverse bg-light">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="justcont">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Justify Content</h6>
                    <p class="text-muted  card-sub-title">Use justify-content utilities on flexbox containers to change the alignment of flex items on the main axis.</p>
                </div>
                <div>
                    <div class="d-flex flex-row justify-content-start bg-light mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-end bg-light mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-center bg-light mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-between bg-light mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row justify-content-around bg-light">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="alignitems">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Align Items</h6>
                    <p class="text-muted  card-sub-title">Use align-items utilities on flexbox containers to change the alignment of flex items on the cross axis.</p>
                </div>
                <div>
                    <div class="d-flex flex-row align-items-start bg-light ht-100 mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-center bg-light ht-100 mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-end bg-light ht-100 mg-b-20">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                    <div class="d-flex flex-row align-items-stretch bg-light ht-100">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item 3
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="alignself">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Align Self</h6>
                    <p class="text-muted  card-sub-title">Use align-self utilities on flexbox items to individually change their alignment on the cross axis.</p>
                </div>
                <div>
                    <div class="d-flex flex-row bg-light ht-100 mg-b-20">
                        <div class="pd-10 bg-primary-transparent align-self-start">
                            Flex item 1
                        </div>
                        <div class="pd-10 bg-primary-transparent align-self-center">
                            Flex item 2
                        </div>
                        <div class="pd-10 bg-primary-transparent align-self-end">
                            Flex item 3
                        </div>
                        <div class="pd-10 bg-primary-transparent align-self-stretch">
                            Flex item 4
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="fill">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Fill</h6>
                    <p class="text-muted  card-sub-title">Use the <code>.flex-fill</code> class on a series of sibling elements to force them into widths equal to their content.</p>
                </div>
                <div>
                    <div class="d-flex bg-light">
                        <div class="pd-10 bg-primary-transparent flex-fill">
                            Flex item with a lot of content
                        </div>
                        <div class="pd-10 bg-primary-transparent flex-fill">
                            Flex item
                        </div>
                        <div class="pd-10 bg-primary-transparent flex-fill">
                            Flex item
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="grow">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Grow and Shrink</h6>
                    <p class="text-muted  card-sub-title">Use <code>.flex-grow</code> utilities to toggle a flex item’s ability to grow to fill available space.</p>
                </div>
                <div>
                    <div class="d-flex bg-light">
                        <div class="pd-10 bg-primary-transparent flex-grow-1">
                            Flex item
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Third flex item
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="automargin">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Auto Margins</h6>
                    <p class="text-muted  card-sub-title">Flexbox can do some pretty awesome things when you mix flex alignments with auto margins.</p>
                </div>
                <div>
                    <div class="d-flex bg-light">
                        <div class="pd-10 bg-primary-transparent">
                            Flex item
                        </div>
                        <div class="pd-10 bg-primary-transparent">
                            Flex item
                        </div>
                        <div class="pd-10 bg-primary-transparent mg-l-auto">
                            Third flex item
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="order">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Order</h6>
                    <p class="text-muted  card-sub-title">Change the visual order of specific flex items with a handful of order utilities.</p>
                </div>
                <div>
                    <div class="d-flex bg-light">
                        <div class="pd-10 bg-primary-transparent order-3">
                            First Item
                        </div>
                        <div class="pd-10 bg-primary-transparent order-2">
                            Second Item
                        </div>
                        <div class="pd-10 bg-primary-transparent order-1">
                            Third Item
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->