<app-page-header [title]="'Tooltip'" [items]="['Elements']" [active_item]="'Tooltip'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-12 col-lg-12">
        <div class="card custom-card" id="default">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Default Tooltip</h6>
                    <p class="text-muted card-sub-title">Below are basic pagination navigation.</p>
                </div>
                <div class="main-content-label main-content-label-sm mg-b-10">
                    Static Example
                </div>
                <div class="tooltip-static-demo mg-b-20">
                    <div class="row row-sm">
                        <div class="col-sm-6 col-lg-3">
                            <div class="tooltip bs-tooltip-bottom" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the bottom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-sm-t-0">
                            <div class="tooltip bs-tooltip-top" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the top
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip bs-tooltip-start" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the left
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip bs-tooltip-end" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the right
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-label main-content-label-sm mg-b-10">
                    Live Example
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="row row-sm tx-center">
                            <div class="col-sm-6 col-lg-3">
                                <button class="btn ripple btn-primary" placement="bottom" ngbTooltip="Tooltip on bottom" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30  mg-sm-t-0">
                                <button class="btn ripple btn-secondary" placement="top" ngbTooltip="Tooltip on top" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                                <button class="btn ripple btn-info" placement="left" ngbTooltip="Tooltip on left" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                                <button class="btn ripple btn-success" placement="right" ngbTooltip="Tooltip on right" type="button">Hover me</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card custom-card" id="colored">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Colored Tooltip</h6>
                    <p class="text-muted card-sub-title">Colored tooltip. Four options are available: top, right, bottom, and left aligned.</p>
                </div>
                <div class="main-content-label main-content-label-sm mg-b-10">
                    Static Example
                </div>
                <div class="tooltip-static-demo mg-b-20">
                    <div class="row row-sm">
                        <div class="col-sm-6 col-lg-3">
                            <div class="tooltip tooltip-primary bs-tooltip-top" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the top
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-sm-t-0">
                            <div class="tooltip tooltip-secondary bs-tooltip-bottom" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the bottom
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip tooltip-info bs-tooltip-start" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the left
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                            <div class="tooltip tooltip-success bs-tooltip-end" role="tooltip">
                                <div class="tooltip-arrow"></div>
                                <div class="tooltip-inner">
                                    Tooltip on the right
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main-content-label main-content-label-sm mg-b-10">
                    Live Example
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="row row-sm tx-center">
                            <div class="col-sm-6 col-lg-3">
                                <button class="btn ripple btn-primary" placement="top" tooltipClass="tooltip-primary" ngbTooltip="Tooltip on top" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30 mg-sm-t-0">
                                <button class="btn ripple btn-secondary" placement="bottom" tooltipClass="tooltip-secondary" ngbTooltip="Tooltip on bottom" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                                <button class="btn ripple btn-info" placement="left" tooltipClass="tooltip-info" ngbTooltip="Tooltip on left" type="button">Hover me</button>
                            </div>
                            <div class="col-sm-6 col-lg-3 mg-t-30 mg-lg-t-0">
                                <button class="btn ripple btn-success" placement="right" tooltipClass="tooltip-success" ngbTooltip="Tooltip on right" type="button">Hover me</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->