<app-page-header [title]="'Pe7 icons'" [items]="['Icons']" [active_item]="'Pe7 icons'"></app-page-header>
<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Pe7 Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://themes-pixeden.com/font-demos/7-stroke/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="pe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="pe-7s-album" ngbTooltip="pe-7s-album"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-arc" ngbTooltip="pe-7s-arc"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-back-2" ngbTooltip="pe-7s-back-2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bandaid" ngbTooltip="pe-7s-bandaid"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-car" ngbTooltip="pe-7s-car"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-diamond" ngbTooltip="pe-7s-diamond"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-door-lock" ngbTooltip="pe-7s-door-lock"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-eyedropper" ngbTooltip="pe-7s-eyedropper"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-female" ngbTooltip="pe-7s-female"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-gym" ngbTooltip="pe-7s-gym"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-hammer" ngbTooltip="pe-7s-hammer"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-headphones" ngbTooltip="pe-7s-headphones"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-helm" ngbTooltip="pe-7s-helm"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-hourglass" ngbTooltip="pe-7s-hourglass"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-leaf" ngbTooltip="pe-7s-leaf"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-magic-wand" ngbTooltip="pe-7s-magic-wand"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-male" ngbTooltip="pe-7s-male"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-map-2" ngbTooltip="pe-7s-map-2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-next-2" ngbTooltip="pe-7s-next-2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-paint-bucket" ngbTooltip="pe-7s-paint-bucket"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-pendrive" ngbTooltip="pe-7s-pendrive"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-photo" ngbTooltip="pe-7s-photo"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-piggy" ngbTooltip="pe-7s-piggy"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-plugin" ngbTooltip="pe-7s-plugin"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-refresh-2" ngbTooltip="pe-7s-refresh-2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-rocket" ngbTooltip="pe-7s-rocket"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-settings" ngbTooltip="pe-7s-settings"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-shield" ngbTooltip="pe-7s-shield"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-smile" ngbTooltip="pe-7s-smile"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-usb" ngbTooltip="pe-7s-usb"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-vector" ngbTooltip="pe-7s-vector"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-wine" ngbTooltip="pe-7s-wine"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cloud-upload" ngbTooltip="pe-7s-cloud-upload"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cash" ngbTooltip="pe-7s-cash"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-close" ngbTooltip="pe-7s-close"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bluetooth" ngbTooltip="pe-7s-bluetooth"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cloud-download" ngbTooltip="pe-7s-cloud-download"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-way" ngbTooltip="pe-7s-way"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-close-circle" ngbTooltip="pe-7s-close-circle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-id" ngbTooltip="pe-7s-id"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-up" ngbTooltip="pe-7s-angle-up"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-wristwatch" ngbTooltip="pe-7s-wristwatch"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-up-circle" ngbTooltip="pe-7s-angle-up-circle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-world" ngbTooltip="pe-7s-world"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-right" ngbTooltip="pe-7s-angle-right"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-volume" ngbTooltip="pe-7s-volume"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-right-circle" ngbTooltip="pe-7s-angle-right-circle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-users" ngbTooltip="pe-7s-users"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-left" ngbTooltip="pe-7s-angle-left"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-user-female" ngbTooltip="pe-7s-user-female"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-left-circle" ngbTooltip="pe-7s-angle-left-circle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-up-arrow" ngbTooltip="pe-7s-up-arrow"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-down" ngbTooltip="pe-7s-angle-down"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-switch" ngbTooltip="pe-7s-switch"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-angle-down-circle" ngbTooltip="pe-7s-angle-down-circle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-scissors" ngbTooltip="pe-7s-scissors"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-wallet" ngbTooltip="pe-7s-wallet"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-safe" ngbTooltip="pe-7s-safe"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-volume2" ngbTooltip="pe-7s-volume2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-volume1" ngbTooltip="pe-7s-volume1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-voicemail" ngbTooltip="pe-7s-voicemail"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-video" ngbTooltip="pe-7s-video"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-user" ngbTooltip="pe-7s-user"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-upload" ngbTooltip="pe-7s-upload"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-unlock" ngbTooltip="pe-7s-unlock"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-umbrella" ngbTooltip="pe-7s-umbrella"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-trash" ngbTooltip="pe-7s-trash"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-tools" ngbTooltip="pe-7s-tools"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-timer" ngbTooltip="pe-7s-timer"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-ticket" ngbTooltip="pe-7s-ticket"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-target" ngbTooltip="pe-7s-target"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-sun" ngbTooltip="pe-7s-sun"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-study" ngbTooltip="pe-7s-study"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-stopwatch" ngbTooltip="pe-7s-stopwatch"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-star" ngbTooltip="pe-7s-star"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-speaker" ngbTooltip="pe-7s-speaker"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-signal" ngbTooltip="pe-7s-signal"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-shuffle" ngbTooltip="pe-7s-shuffle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-shopbag" ngbTooltip="pe-7s-shopbag"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-share" ngbTooltip="pe-7s-share"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-server" ngbTooltip="pe-7s-server"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-search" ngbTooltip="pe-7s-search"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-film" ngbTooltip="pe-7s-film"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-science" ngbTooltip="pe-7s-science"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-disk" ngbTooltip="pe-7s-disk"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-ribbon" ngbTooltip="pe-7s-ribbon"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-repeat" ngbTooltip="pe-7s-repeat"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-refresh" ngbTooltip="pe-7s-refresh"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-add-user" ngbTooltip="pe-7s-add-user"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-refresh-cloud" ngbTooltip="pe-7s-refresh-cloud"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-paperclip" ngbTooltip="pe-7s-paperclip"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-radio" ngbTooltip="pe-7s-radio"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-note2" ngbTooltip="pe-7s-note2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-print" ngbTooltip="pe-7s-print"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-network" ngbTooltip="pe-7s-network"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-prev" ngbTooltip="pe-7s-prev"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-mute" ngbTooltip="pe-7s-mute"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-power" ngbTooltip="pe-7s-power"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-medal" ngbTooltip="pe-7s-medal"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-portfolio" ngbTooltip="pe-7s-portfolio"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-like2" ngbTooltip="pe-7s-like2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-plus" ngbTooltip="pe-7s-plus"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-left-arrow" ngbTooltip="pe-7s-left-arrow"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-play" ngbTooltip="pe-7s-play"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-key" ngbTooltip="pe-7s-key"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-plane" ngbTooltip="pe-7s-plane"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-joy" ngbTooltip="pe-7s-joy"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-photo-gallery" ngbTooltip="pe-7s-photo-gallery"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-pin" ngbTooltip="pe-7s-pin"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-phone" ngbTooltip="pe-7s-phone"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-plug" ngbTooltip="pe-7s-plug"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-pen" ngbTooltip="pe-7s-pen"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-right-arrow" ngbTooltip="pe-7s-right-arrow"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-paper-plane" ngbTooltip="pe-7s-paper-plane"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-delete-user" ngbTooltip="pe-7s-delete-user"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-paint" ngbTooltip="pe-7s-paint"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bottom-arrow" ngbTooltip="pe-7s-bottom-arrow"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-notebook" ngbTooltip="pe-7s-notebook"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-note" ngbTooltip="pe-7s-note"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-next" ngbTooltip="pe-7s-next"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-news-paper" ngbTooltip="pe-7s-news-paper"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-musiclist" ngbTooltip="pe-7s-musiclist"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-music" ngbTooltip="pe-7s-music"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-mouse" ngbTooltip="pe-7s-mouse"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-more" ngbTooltip="pe-7s-more"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-moon" ngbTooltip="pe-7s-moon"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-monitor" ngbTooltip="pe-7s-monitor"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-micro" ngbTooltip="pe-7s-micro"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-menu" ngbTooltip="pe-7s-menu"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-map" ngbTooltip="pe-7s-map"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-map-marker" ngbTooltip="pe-7s-map-marker"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-mail" ngbTooltip="pe-7s-mail"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-mail-open" ngbTooltip="pe-7s-mail-open"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-mail-open-file" ngbTooltip="pe-7s-mail-open-file"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-magnet" ngbTooltip="pe-7s-magnet"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-loop" ngbTooltip="pe-7s-loop"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-look" ngbTooltip="pe-7s-look"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-lock" ngbTooltip="pe-7s-lock"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-lintern" ngbTooltip="pe-7s-lintern"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-link" ngbTooltip="pe-7s-link"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-like" ngbTooltip="pe-7s-like"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-light" ngbTooltip="pe-7s-light"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-less" ngbTooltip="pe-7s-less"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-keypad" ngbTooltip="pe-7s-keypad"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-junk" ngbTooltip="pe-7s-junk"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-info" ngbTooltip="pe-7s-info"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-home" ngbTooltip="pe-7s-home"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-help2" ngbTooltip="pe-7s-help2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-help1" ngbTooltip="pe-7s-help1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-graph3" ngbTooltip="pe-7s-graph3"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-graph2" ngbTooltip="pe-7s-graph2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-graph1" ngbTooltip="pe-7s-graph1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-graph" ngbTooltip="pe-7s-graph"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-global" ngbTooltip="pe-7s-global"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-gleam" ngbTooltip="pe-7s-gleam"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-glasses" ngbTooltip="pe-7s-glasses"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-gift" ngbTooltip="pe-7s-gift"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-folder" ngbTooltip="pe-7s-folder"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-flag" ngbTooltip="pe-7s-flag"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-filter" ngbTooltip="pe-7s-filter"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-file" ngbTooltip="pe-7s-file"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-expand1" ngbTooltip="pe-7s-expand1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-exapnd2" ngbTooltip="pe-7s-exapnd2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-edit" ngbTooltip="pe-7s-edit"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-drop" ngbTooltip="pe-7s-drop"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-drawer" ngbTooltip="pe-7s-drawer"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-download" ngbTooltip="pe-7s-download"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-display2" ngbTooltip="pe-7s-display2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-display1" ngbTooltip="pe-7s-display1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-diskette" ngbTooltip="pe-7s-diskette"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-date" ngbTooltip="pe-7s-date"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cup" ngbTooltip="pe-7s-cup"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-culture" ngbTooltip="pe-7s-culture"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-crop" ngbTooltip="pe-7s-crop"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-credit" ngbTooltip="pe-7s-credit"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-copy-file" ngbTooltip="pe-7s-copy-file"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-config" ngbTooltip="pe-7s-config"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-compass" ngbTooltip="pe-7s-compass"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-comment" ngbTooltip="pe-7s-comment"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-coffee" ngbTooltip="pe-7s-coffee"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cloud" ngbTooltip="pe-7s-cloud"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-clock" ngbTooltip="pe-7s-clock"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-check" ngbTooltip="pe-7s-check"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-chat" ngbTooltip="pe-7s-chat"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-cart" ngbTooltip="pe-7s-cart"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-camera" ngbTooltip="pe-7s-camera"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-call" ngbTooltip="pe-7s-call"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-calculator" ngbTooltip="pe-7s-calculator"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-browser" ngbTooltip="pe-7s-browser"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-box2" ngbTooltip="pe-7s-box2"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-box1" ngbTooltip="pe-7s-box1"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bookmarks" ngbTooltip="pe-7s-bookmarks"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bicycle" ngbTooltip="pe-7s-bicycle"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-bell" ngbTooltip="pe-7s-bell"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-battery" ngbTooltip="pe-7s-battery"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-ball" ngbTooltip="pe-7s-ball"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-back" ngbTooltip="pe-7s-back"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-attention" ngbTooltip="pe-7s-attention"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-anchor" ngbTooltip="pe-7s-anchor"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-albums" ngbTooltip="pe-7s-albums"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-alarm" ngbTooltip="pe-7s-alarm"></i></li>
                                <li class="icons-list-item"><i class="pe-7s-airplay" ngbTooltip="pe-7s-airplay"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->