<app-page-header [title]="'Cart'" [items]="['Ecommerce']" [active_item]="'Cart'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-xl-9 col-md-12">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">SHOPPING CART</label></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap table-shopping-cart mb-0">
                        <thead class="text-muted">
                            <tr class="small text-uppercase">
                                <th scope="col">Product</th>
                                <th scope="col">Status</th>
                                <th scope="col" class="wd-100">Quantity</th>
                                <th scope="col" class="wd-120">Price</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of objectArray">
                                <td>
                                    <div class="media">
                                        <div class="card-aside-img">
                                            <img src={{obj.image}} alt="img" class="img-sm">
                                        </div>
                                        <div class="media-body my-auto">
                                            <div class="card-item-desc mt-0">
                                                <h6 class=" mt-0 text-uppercase">{{obj.title}}</h6>
                                                <dl class="card-item-desc-1">
                                                    <dt class="me-2">Color: </dt>
                                                    <dd>{{obj.color}}</dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="text-{{obj.statusText}} mb-0 mt-1 tx-14 px-1 py-1 text-center">{{obj.status}}</p>
                                </td>
                                <td>
                                    <div class="handle-counter" id="handleCounter">
                                        <button class="counter-minus btn minus">
                                            <i class="fas fa-minus tx-10"></i>
                                        </button>
                                        <input type="text" value={{obj.quantity}} class="">
                                        <button class="counter-plus btn plus">
                                            <i class="fas fa-plus tx-10"></i>
                                        </button>
                                    </div>
                                </td>
                                <td>
                                    <div class="price-wrap"> <span class="price tx-16">$26.00</span></div>
                                </td>
                                <td class="text-center">
                                    <a href="javascript:;" class="remove-list tx-16 remove-button" data-abc="true">
                                        <i (click)="RemoveElementFromObjectArray(obj.id)" class="fe fe-trash text-danger mx-2"></i>
                                        <i class="fe fe-edit text-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-3 col-md-12">
        <div class="card custom-card">
            <div class="card-header">
                <h6 class="main-content-label">Have coupon ?</h6>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group">
                            <input type="text" class="form-control coupon" placeholder="Coupon code">
                            <span class="input-group-btn">
                                <button class="btn btn-primary btn-apply coupon">Apply</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <h6 class="main-content-label">Price Details</h6>
            </div>
            <div class="card-body">
                <table class="table border-top-0 mb-0">
                    <tbody>
                        <tr>
                            <td class="border-top-0 tx-medium">Sub Total</td>
                            <td class="text-end border-top-0">$4,360</td>
                        </tr>
                        <tr>
                            <td class="border-top-0 tx-medium">Discount</td>
                            <td class="text-end border-top-0">5%</td>
                        </tr>
                        <tr>
                            <td class="border-top-0 tx-medium">Shipping</td>
                            <td class="text-end border-top-0">Free</td>
                        </tr>
                        <tr>
                            <td class="fs-20 border-top-0 tx-medium">Total</td>
                            <td class="text-end fs-20 border-top-0 tx-medium">$3,976</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <div class="step-footer">
                    <a data-direction="next" class="step-btn btn btn-success mb-1 me-1" routerLink="/eCommerce/shop">
                        <i class="mdi mdi-arrow-left me-1"></i>Continue shopping
                    </a>
                    <a data-direction="next" class="step-btn btn btn-primary float-sm-end mb-1" routerLink="/eCommerce/checkout">Checkout
                        <i class="mdi mdi-arrow-right ms-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->