mat-expansion-panel {
    margin-top: 15px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 3vw;
}

mat-radio-group {
    margin-left: 15px;
}

::ng-deep {
    mat-radio-button > label {
        margin-bottom: 0 !important;
    }
}
