<app-page-header [title]="'My-wallet'" [items]="['Crypto currencies']" [active_item]="'My-wallet'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">BTC WALLET</label></h3>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <img src="./assets/img/svgs/crypto-currencies/btc.svg" class="wd-40 ht-40 me-3 my-auto" alt="">
                    <div class="">
                        <span class="text-uppercase tx-12 mt-4 text-muted">Available BTC</span>
                        <div class="d-flex my-auto">
                            <h6 class="mt-1 mb-0 tx-semibold">0.0543139</h6>
                            <span class="mt-auto ms-2">BTC</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-primary">Deposit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-success">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">ETH WALLET</label></h3>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <img src="./assets/img/svgs/crypto-currencies/eth.svg" class="wd-40 ht-40 me-3 my-auto" alt="">
                    <div class="">
                        <span class="text-uppercase tx-12 mt-4 text-muted">Available ETH</span>
                        <div class="d-flex my-auto">
                            <h6 class="mt-1 mb-0 tx-semibold">0.0654328</h6>
                            <span class="mt-auto ms-2">ETH</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-primary">Deposit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-success">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">XRP WALLET</label></h3>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <img src="./assets/img/svgs/crypto-currencies/xrp.svg" class="wd-40 ht-40 me-3 my-auto" alt="">
                    <div class="">
                        <span class="text-uppercase tx-12 mt-4 text-muted">Available XRP</span>
                        <div class="d-flex my-auto">
                            <h6 class="mt-1 mb-0 tx-semibold">0.178436</h6>
                            <span class="mt-auto ms-2">XRP</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-primary">Deposit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-success">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6">
        <div class="card custom-card">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">BCN WALLET</label></h3>
            </div>
            <div class="card-body">
                <div class="d-flex">
                    <img src="./assets/img/svgs/crypto-currencies/bcn.svg" class="wd-40 ht-40 me-3 my-auto" alt="">
                    <div class="">
                        <span class="text-uppercase tx-12 mt-4 text-muted">Available BCN</span>
                        <div class="d-flex my-auto">
                            <h6 class="mt-1 mb-0 tx-semibold">0.0764329</h6>
                            <span class="mt-auto ms-2">BCN</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <button class="btn btn-block btn-outline-primary">Deposit</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-success">Withdraw</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <h3 class="card-title tx-18">
                    <label class="main-content-label tx-15">BTC WALLET ADDRESS</label>
                </h3>
                <div class="row mt-3 crypto-wallet">
                    <div class="col-md-10 mt-1">
                        <h6 class="tx-semibold">Wallet Address </h6>
                        <div class="input-group">
                            <input type="text" class="form-control input-lg" id="wallet-address" value="afb0dc8bc84625587b85415c86ef43ed8df">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary clipboard-icon clipboard-box" data-clipboard-target="#wallet-address">COPY</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <img src="./assets/img/pngs/qrcode.png" alt="qrcode" class="ht-100 float-md-end mt-3 mt-md-0 border rounded-10 p-2">
                    </div>
                </div>
            </div>
            <div class="row row-sm px-4">
                <div class="col-lg-12 col-xl-4">
                    <div class="card border custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <span class="crypto-icon bg-success-transparent me-3 my-auto"><i class="fe fe-arrow-down-left text-success"></i></span>
                                <div class="">
                                    <p class="text-uppercase tx-13 text-muted mb-1">Received</p>
                                    <h5 class="tx-semibold">6,873.2751 <span class="tx-14 text-muted font-weight-normal ms-1">BTC</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="card border custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <span class="crypto-icon bg-danger-transparent me-3 my-auto">
                                    <i class="fe fe-arrow-up-right text-danger"></i>
                                </span>
                                <div class="">
                                    <p class="text-uppercase tx-13 text-muted mb-1">Sent</p>
                                    <h5 class="tx-semibold">2,583.7382 <span class="tx-14 text-muted font-weight-normal ms-1">BTC</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-4">
                    <div class="card border custom-card">
                        <div class="card-body">
                            <div class="d-flex">
                                <span class="crypto-icon bg-primary-transparent me-3 my-auto"><i class="fas fa-wallet text-primary"></i></span>
                                <div class="">
                                    <p class="text-uppercase tx-13 text-muted mb-1">Balance</p>
                                    <h5 class="tx-semibold">4.17845232 <span class="tx-14 text-muted font-weight-normal ms-1">BTC</span></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Row End -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md-12 col-lg-12 col-xl-12">
        <div class="card custom-card transcation-crypto">
            <div class="card-header border-bottom">
                <h3 class="card-title tx-18"><label class="main-content-label tx-15">TRANSACTION HISTORY</label></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <select class="form-select" style="width: auto" [(ngModel)]="pageSize"
                        (ngModelChange)="refreshWallet()">
                        <option [ngValue]="10">10 items per page</option>
                        <option [ngValue]="25">25 items per page</option>
                        <option [ngValue]="50">50 items per page</option>
                        <option [ngValue]="100">100 items per page</option>
                    </select>
                    <table class="table  text-nowrap table-bordered text-md-nowrap table-striped mg-b-0 my-2">
                        <thead>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">TRANSACTION ID</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">From</th>
                                    <th scope="col">To</th>
                                    <th scope="col">Coin</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Status</th>
                                </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of WalletList">
                                <td>
                                    <span class="crypto-icon bg-{{data.arrowStatus}}-transparent me-3 my-auto rounded-6">
                                        <i class="fe fe-arrow-{{data.arrow}}-right text-{{data.arrowStatus}}"></i>
                                    </span>
                                </td>
                                <td>{{data.id}}</td>
                                <td class="text-muted">{{data.date}}</td>
                                <td>{{data.from}}</td>
                                <td>
                                    <div class="d-flex my-auto mx-auto">
                                        <img src={{data.toImg}} class="avatar avatar-sm me-2" alt="">
                                        <span class="my-auto">{{data.to}}</span>
                                    </div>
                                </td>
                                <td><img src={{data.coinImg}} class="wd-30 hd-30 me-2" alt="">{{data.coin}}</td>
                                <td class="text-{{data.status}}">{{data.amount}}</td>
                                <td><span class="text-{{data.status}} bg-{{data.status}}-transparent py-1 px-2 font-weight-semibold tx-10 rounded-10">{{data.statusText}}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-end">
                        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                          (pageChange)="refreshWallet()">
                        </ngb-pagination>
                      </div>
                </div>
            </div>
        </div>
        <!-- Row End -->
    </div>
</div>
<!-- Row End -->