<app-page-header [title]="'Blog Page'" [items]="['apps','Blog']" [active_item]="'Blog Page'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-6 col-lg-12 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="px-4 pt-4">
                <a routerLink="/apps/blog/blog-details"><img src="./assets/img/media/blog1.jpg" alt="img" class="rounded-6 w-100"></a>
            </div>
            <div class="card-body">
                <div class="item-card-desc d-flex mb-2">
                    <a href="javascript:;" class="d-flex me-4">
                        <i class="fe fe-calendar fs-18 me-2"></i>
                        <span class="my-auto text-dark">20-Mar-2021</span>
                    </a>
                    <a href="javascript:;" class="d-flex me-4">
                        <i class="fe fe-user fs-18 me-2"></i>
                        <span class="my-auto text-dark">Dennis Mark</span>
                    </a>
                    <a href="javascript:;" class="d-flex ms-auto">
                        <i class="fe fe-message-square fs-18 me-2"></i>
                        <span class="my-auto text-dark">6 Comments</span>
                    </a>
                </div>
                <a href="javascript:;" class="mt-4"><h4>Excepteur occaecat cupidatat</h4></a>
                <p class="">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                <p class="">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
                <hr class="message-inner-separator">
                <div class="media mg-t-15 profile-footer">
                    <div class="media-user">
                        <div class="demo-avatar-group">
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/12.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/7.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/5.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/6.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body p-4">
                <div class="row no-gutters blog-list">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="card-body p-0">
                            <div class="item-card-img">
                                <a routerLink="/apps/blog/blog-details">
                                <img class="card-img-left" src="./assets/img/media/blog2.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="card-body px-0 px-xl-3 py-3 py-xl-0">
                            <a routerLink="/apps/blog/blog-details"><h4>Circumstances Certain claims</h4></a>
                            <p class="">Sunt in culpa qui officia cupidatat non proident, sunt in culpa qui officia deserunt No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                            <p class="">I of human happiness. sint occaecat ccaecat cupidatat non proident, sunt in culpa qui officia cupidatat non proident.</p>
                            <hr class="message-inner-separator">
                            <div class="d-flex">
                                <div class="main-avatar avatar online">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/2.jpg">
                                </div>
                                <div class="main-contact-body">
                                    <h6>Dennis Trexy</h6><span class="phone">2 days ago</span>
                                </div>
                                <div class="ms-auto mb-2">
                                    <a class="me-0 d-flex" href="javascript:;">
                                        <span class="fe fe-message-square me-2 tx-18"></span>
                                        <div class="mt-0 text-dark">22 Comments</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body p-4">
                <div class="row no-gutters blog-list">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="card-body p-0">
                            <div class="item-card-img">
                                <a routerLink="/apps/blog/blog-details">
                                <img class="card-img-left" src="./assets/img/media/blog4.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="card-body px-0 px-xl-3 py-3 py-xl-0">
                            <a routerLink="/apps/blog/blog-details"><h4>Teri Dactyl Certain</h4></a>
                            <p class="">Sunt in culpa qui officia cupidatat non proident, sunt in culpa qui officia deserunt No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                            <p class="">I of human happiness. sint occaecat ccaecat cupidatat non proident, sunt in culpa qui officia cupidatat non proident.</p>
                            <hr class="message-inner-separator">
                            <div class="d-flex">
                                <div class="main-avatar avatar online">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/2.jpg">
                                </div>
                                <div class="main-contact-body">
                                    <h6>Robbie Ruder</h6><span class="phone">5 days ago</span>
                                </div>
                                <div class="ms-auto mb-2">
                                    <a class="me-0 d-flex" href="javascript:;">
                                        <span class="fe fe-message-square me-2 tx-18"></span>
                                        <div class="mt-0 text-dark">4 Comments</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body p-4">
                <div class="row no-gutters blog-list">
                    <div class="col-xl-5 col-lg-12 col-md-12">
                        <div class="card-body p-0">
                            <div class="item-card-img">
                                <a routerLink="/apps/blog/blog-details">
                                <img class="card-img-left" src="./assets/img/media/blog3.jpg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-12 col-md-12">
                        <div class="card-body px-0 px-xl-3 py-3 py-xl-0">
                            <a routerLink="/apps/blog/blog-details"><h4>Circumstances Certain claims</h4></a>
                            <p class="">Sunt in culpa qui officia cupidatat non proident, sunt in culpa qui officia deserunt No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                            <p class="">I of human happiness. sint occaecat ccaecat cupidatat non proident, sunt in culpa qui officia cupidatat non proident.</p>
                            <hr class="message-inner-separator">
                            <div class="d-flex">
                                <div class="main-avatar avatar online">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/2.jpg">
                                </div>
                                <div class="main-contact-body">
                                    <h6>Mercy Ritia</h6><span class="phone">7 days ago</span>
                                </div>
                                <div class="ms-auto mb-2">
                                    <a class="me-0 d-flex" href="javascript:;">
                                        <span class="fe fe-message-square me-2 tx-18"></span>
                                        <div class="mt-0 text-dark">15 Comments</div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xxl-3 col-xl-6 col-md-6">
        <div class="card custom-card">
            <img class="card-img-top w-100 blog-img" src="./assets/img/media/blog11.jpg" alt="">
            <div class="card-body">
                <h5 class="main-content-label mb-3 tx-16">Excepteur occaecat cupidatat</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. </p>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                <a class="" href="javascript:;">Read More<i class="fe fe-arrow-right ms-1"></i></a>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="main-avatar avatar online">
                        <img alt="avatar" class="rounded-circle" src="./assets/img/users/2.jpg">
                    </div>
                    <div class="main-contact-body">
                        <h6>Catrice Doshier</h6><span class="phone">5 days ago</span>
                    </div>
                    <div class="ms-auto mb-2">
                        <a class="me-0 d-flex" href="javascript:;">
                            <span class="fe fe-message-square me-2 tx-18"></span>
                            <div class="mt-0 text-dark">8 Comments</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-md-6">
        <div class="card custom-card">
            <img class="card-img-top w-100 blog-img" src="./assets/img/media/blog6.jpg" alt="">
            <div class="card-body">
                <h5 class="main-content-label mb-3 tx-16">Teri Dactyl Certain</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. </p>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium. </p>
                <a class="" href="javascript:;">Read More<i class="fe fe-arrow-right ms-1"></i></a>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="main-avatar avatar online">
                    <img alt="avatar" class="rounded-circle" src="./assets/img/users/8.jpg">
                    </div>
                    <div class="main-contact-body">
                        <h6>Dana Lott</h6><span class="phone">2 days ago</span>
                    </div>
                    <div class="ms-auto mb-2">
                        <a class="me-0 d-flex" href="javascript:;">
                            <span class="fe fe-message-square me-2 tx-18"></span>
                            <div class="mt-0 text-dark">4 Comments</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-md-6">
        <div class="card custom-card">
            <img class="card-img-top w-100 blog-img op-9" src="./assets/img/media/blog9.jpg" alt="">
            <div class="card-body">
                <h5 class="main-content-label mb-3 tx-16">Circumstances Certain claims</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. </p>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                <a class="" href="javascript:;">Read More<i class="fe fe-arrow-right ms-1"></i></a>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="main-avatar avatar online">
                    <img alt="avatar" class="rounded-circle" src="./assets/img/users/4.jpg">
                    </div>
                    <div class="main-contact-body">
                        <h6>Bendict Valone</h6><span class="phone">4 days ago</span>
                    </div>
                    <div class="ms-auto mb-2">
                        <a class="me-0 d-flex" href="javascript:;">
                            <span class="fe fe-message-square me-2 tx-18"></span>
                            <div class="mt-0 text-dark">21 Comments</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-6 col-md-6">
        <div class="card custom-card">
            <img class="card-img-top w-100 blog-img op-9" src="./assets/img/media/blog10.jpg" alt="">
            <div class="card-body">
                <h5 class="main-content-label mb-3 tx-16">The standard chunk of Lorem</h5>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa. </p>
                <p class="card-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
                <a class="" href="javascript:;">Read More<i class="fe fe-arrow-right ms-1"></i></a>
            </div>
            <div class="card-footer">
                <div class="d-flex">
                    <div class="main-avatar avatar online">
                    <img alt="avatar" class="rounded-circle" src="./assets/img/users/6.jpg">
                    </div>
                    <div class="main-contact-body">
                        <h6>Harvey Mattos</h6><span class="phone">2 days ago</span>
                    </div>
                    <div class="ms-auto mb-2">
                        <a class="me-0 d-flex" href="javascript:;">
                            <span class="fe fe-message-square me-2 tx-18"></span>
                            <div class="mt-0 text-dark">7 Comments</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6">
        <div class="card card-aside custom-card">
            <a href="javascript:;" class="card-aside-column  cover-image rounded-start-11 op-9" data-image-src="./assets/img/media/blog7.jpg" style="background: url(&quot;./assets/img/media/11.jpg&quot;) center center;"></a>
            <div class="card-body">
                <label class="main-content-label tx-16 mb-3">Certain claims</label>
                <div class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <hr class="message-inner-separator">
                <div class="d-flex align-items-center mt-auto">
                    <div class="main-img-user avatar-sm me-3">
                        <img src="./assets/img/users/1.jpg" class="w-10 rounded-circle" alt="avatar-img">
                    </div>
                    <div class="d-none d-sm-block">
                        <a href="javascript:;" class="text-default tx-semibold">Harvey Mattos</a>
                        <small class="d-block text-muted">15 mintues ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Like" aria-label="Like"><i class="fe fe-thumbs-up"></i></a>
                        <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Dislike" aria-label="Dislike"><i class="fe fe-thumbs-down"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card card-aside custom-card">
            <div class="card-body">
                <label class="main-content-label tx-16 mb-3">Non proident</label>
                <div class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <hr class="message-inner-separator">
                <div class="d-flex align-items-center mt-auto">
                    <div class="main-img-user avatar-sm me-3">
                        <img src="./assets/img/users/2.jpg" class="w-10 rounded-circle" alt="avatar-img">
                    </div>
                    <div class="d-none d-sm-block">
                        <a href="javascript:;" class="text-default tx-semibold">Catrice Doshier</a>
                        <small class="d-block text-muted">2 days ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Like" aria-label="Like"><i class="fe fe-thumbs-up"></i></a>
                        <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Dislike" aria-label="Dislike"><i class="fe fe-thumbs-down"></i></a>
                    </div>
                </div>
            </div>
            <a href="javascript:;" class="card-aside-column  cover-image rounded-end-11 op-9" data-image-src="./assets/img/media/blog8.jpg" style="background: url(&quot;./assets/img/media/13.jpg&quot;) center center;"></a>
        </div>
    </div>
</div>
<!-- End Row -->