<app-page-header [title]="'Faqs'" [items]="['Pages']" [active_item]="'Faqs'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
  <div class="col-sm-12 col-md-12">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Basic Faqs</h6>
          <p class="text-muted  card-sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
            erat a ante.</p>
        </div>

        <div class="border rounded-6">
          <div class="p-4">
            <h5 class="tx-16">1. How To Insert All The Plugins?</h5>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
          <div class="p-4 border-top">
            <h4 class="tx-16">2. How Can I contact?</h4>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
          <div class="p-4 border-top">
            <h4 class="tx-16">3. Can I use this Plugins in Another Template?</h4>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
          <div class="p-4 border-top">
            <h4 class="tx-16">4. How Can I Add another page in Template?</h4>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
          <div class="p-4 border-top">
            <h4 class="tx-16">5. It is Easy to Customizable?</h4>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
          <div class="p-4 border-top">
            <h4 class="tx-16">6. How can I download This template?</h4>
            <p class="mb-0 tx-14 text-muted">I must explain to you how all this mistaken idea of denouncing pleasure and
              praising pain was born and I will give you a complete account of the system, and expound the actual
              teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
              dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
              pursue pleasure rationally encounter consequences</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
  <div class="col-sm-12 col-md-12">
    <div class="card custom-card">
      <div class="card-header">
        <h6 class="main-content-label">Accordion faq's</h6>
      </div>
      <div class="card-body">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
          <ngb-panel title="1. How To Insert All The Plugins?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="2. How Can I contact?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="3. Can I use this Plugins in Another Template?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="4. It is Easy to Customizable?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="5. How Can I Add another page in Template?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="6. How can I download This template?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
          <ngb-panel title="7. How To Add additional plugins?" cardClass="acc-card mb-2">
            <ng-template ngbPanelContent>
              <p class="text-muted mb-0 tx-14">I must explain to you how all this mistaken idea of denouncing pleasure
                and
                praising pain was born and I will give you a complete account of the system, and expound the actual
                teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to
                pursue pleasure rationally encounter consequences</p>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->