<app-page-header [title]="'typicons'" [items]="['Icons']" [active_item]="'typicons'"></app-page-header>
<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Typicons icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://www.s-ings.com/typicons/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="typcn typcn-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="typcn typcn-chart-pie-outline" ngbTooltip="typcn typcn-chart-pie-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chart-pie" ngbTooltip="typcn typcn-chart-pie"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-left-outline" ngbTooltip="typcn typcn-chevron-left-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-left" ngbTooltip="typcn typcn-chevron-left"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-right-outline" ngbTooltip="typcn typcn-chevron-right-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-chevron-right" ngbTooltip="typcn typcn-chevron-right"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-clipboard" ngbTooltip="typcn typcn-clipboard"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cloud-storage" ngbTooltip="typcn typcn-cloud-storage"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cloud-storage-outline" ngbTooltip="typcn typcn-cloud-storage-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-code-outline" ngbTooltip="typcn typcn-code-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-code" ngbTooltip="typcn typcn-code"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-coffee" ngbTooltip="typcn typcn-coffee"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cog-outline" ngbTooltip="typcn typcn-cog-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-cog" ngbTooltip="typcn typcn-cog"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-compass" ngbTooltip="typcn typcn-compass"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-contacts" ngbTooltip="typcn typcn-contacts"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-credit-card" ngbTooltip="typcn typcn-credit-card"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-css3" ngbTooltip="typcn typcn-css3"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-database" ngbTooltip="typcn typcn-database"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-delete-outline" ngbTooltip="typcn typcn-delete-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-delete" ngbTooltip="typcn typcn-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-desktop" ngbTooltip="typcn typcn-device-desktop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-laptop" ngbTooltip="typcn typcn-device-laptop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-phone" ngbTooltip="typcn typcn-device-phone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-device-tablet" ngbTooltip="typcn typcn-device-tablet"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-directions" ngbTooltip="typcn typcn-directions"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-divide-outline" ngbTooltip="typcn typcn-divide-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-divide" ngbTooltip="typcn typcn-divide"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-add" ngbTooltip="typcn typcn-document-add"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-delete" ngbTooltip="typcn typcn-document-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document-text" ngbTooltip="typcn typcn-document-text"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-document" ngbTooltip="typcn typcn-document"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-download-outline" ngbTooltip="typcn typcn-download-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-download" ngbTooltip="typcn typcn-download"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-dropbox" ngbTooltip="typcn typcn-dropbox"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-edit" ngbTooltip="typcn typcn-edit"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eject-outline" ngbTooltip="typcn typcn-eject-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eject" ngbTooltip="typcn typcn-eject"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-equals-outline" ngbTooltip="typcn typcn-equals-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-equals" ngbTooltip="typcn typcn-equals"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-export-outline" ngbTooltip="typcn typcn-export-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-export" ngbTooltip="typcn typcn-export"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eye-outline" ngbTooltip="typcn typcn-eye-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-eye" ngbTooltip="typcn typcn-eye"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-feather" ngbTooltip="typcn typcn-feather"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-film" ngbTooltip="typcn typcn-film"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-filter" ngbTooltip="typcn typcn-filter"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flag-outline" ngbTooltip="typcn typcn-flag-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flag" ngbTooltip="typcn typcn-flag"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flash-outline" ngbTooltip="typcn typcn-flash-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flash" ngbTooltip="typcn typcn-flash"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-children" ngbTooltip="typcn typcn-flow-children"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-merge" ngbTooltip="typcn typcn-flow-merge"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-parallel" ngbTooltip="typcn typcn-flow-parallel"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-flow-switch" ngbTooltip="typcn typcn-flow-switch"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-add" ngbTooltip="typcn typcn-folder-add"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-delete" ngbTooltip="typcn typcn-folder-delete"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder-open" ngbTooltip="typcn typcn-folder-open"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-folder" ngbTooltip="typcn typcn-folder"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-gift" ngbTooltip="typcn typcn-gift"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-globe-outline" ngbTooltip="typcn typcn-globe-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-globe" ngbTooltip="typcn typcn-globe"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-group-outline" ngbTooltip="typcn typcn-group-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-group" ngbTooltip="typcn typcn-group"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-headphones" ngbTooltip="typcn typcn-headphones"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-full-outline" ngbTooltip="typcn typcn-heart-full-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-half-outline" ngbTooltip="typcn typcn-heart-half-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart-outline" ngbTooltip="typcn typcn-heart-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-heart" ngbTooltip="typcn typcn-heart"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-home-outline" ngbTooltip="typcn typcn-home-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-home" ngbTooltip="typcn typcn-home"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-html5" ngbTooltip="typcn typcn-html5"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-image-outline" ngbTooltip="typcn typcn-image-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-image" ngbTooltip="typcn typcn-image"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-infinity-outline" ngbTooltip="typcn typcn-infinity-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-large-outline" ngbTooltip="typcn typcn-info-large-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-large" ngbTooltip="typcn typcn-info-large"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info-outline" ngbTooltip="typcn typcn-info-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-info" ngbTooltip="typcn typcn-info"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-input-checked-outline" ngbTooltip="typcn typcn-input-checked-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-input-checked" ngbTooltip="typcn typcn-input-checked"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-key-outline" ngbTooltip="typcn typcn-key-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-key" ngbTooltip="typcn typcn-key"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-keyboard" ngbTooltip="typcn typcn-keyboard"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-leaf" ngbTooltip="typcn typcn-leaf"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lightbulb" ngbTooltip="typcn typcn-lightbulb"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-link-outline" ngbTooltip="typcn typcn-link-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-link" ngbTooltip="typcn typcn-link"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-arrow-outline" ngbTooltip="typcn typcn-location-arrow-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-arrow" ngbTooltip="typcn typcn-location-arrow"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location-outline" ngbTooltip="typcn typcn-location-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-location" ngbTooltip="typcn typcn-location"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-closed-outline" ngbTooltip="typcn typcn-lock-closed-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-closed" ngbTooltip="typcn typcn-lock-closed"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-open-outline" ngbTooltip="typcn typcn-lock-open-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-lock-open" ngbTooltip="typcn typcn-lock-open"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-mail" ngbTooltip="typcn typcn-mail"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-map" ngbTooltip="typcn typcn-map"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-eject-outline" ngbTooltip="typcn typcn-media-eject-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-eject" ngbTooltip="typcn typcn-media-eject"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-fast-forward-outline" ngbTooltip="typcn typcn-media-fast-forward-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-fast-forward" ngbTooltip="typcn typcn-media-fast-forward"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-pause-outline" ngbTooltip="typcn typcn-media-pause-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-pause" ngbTooltip="typcn typcn-media-pause"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-outline" ngbTooltip="typcn typcn-media-play-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-reverse-outline" ngbTooltip="typcn typcn-media-play-reverse-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play-reverse" ngbTooltip="typcn typcn-media-play-reverse"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-play" ngbTooltip="typcn typcn-media-play"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-record-outline" ngbTooltip="typcn typcn-media-record-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-record" ngbTooltip="typcn typcn-media-record"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-rewind-outline" ngbTooltip="typcn typcn-media-rewind-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-rewind" ngbTooltip="typcn typcn-media-rewind"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-stop-outline" ngbTooltip="typcn typcn-media-stop-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-media-stop" ngbTooltip="typcn typcn-media-stop"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-message-typing" ngbTooltip="typcn typcn-message-typing"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-message" ngbTooltip="typcn typcn-message"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-messages" ngbTooltip="typcn typcn-messages"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-microphone-outline" ngbTooltip="typcn typcn-microphone-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-microphone" ngbTooltip="typcn typcn-microphone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-minus-outline" ngbTooltip="typcn typcn-minus-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-minus" ngbTooltip="typcn typcn-minus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-mortar-board" ngbTooltip="typcn typcn-mortar-board"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-news" ngbTooltip="typcn typcn-news"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-notes-outline" ngbTooltip="typcn typcn-notes-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-notes" ngbTooltip="typcn typcn-notes"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pen" ngbTooltip="typcn typcn-pen"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pencil" ngbTooltip="typcn typcn-pencil"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-phone-outline" ngbTooltip="typcn typcn-phone-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-phone" ngbTooltip="typcn typcn-phone"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pi-outline" ngbTooltip="typcn typcn-pi-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pi" ngbTooltip="typcn typcn-pi"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pin-outline" ngbTooltip="typcn typcn-pin-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pin" ngbTooltip="typcn typcn-pin"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-pipette" ngbTooltip="typcn typcn-pipette"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plane-outline" ngbTooltip="typcn typcn-plane-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plane" ngbTooltip="typcn typcn-plane"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plug" ngbTooltip="typcn typcn-plug"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plus-outline" ngbTooltip="typcn typcn-plus-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-plus" ngbTooltip="typcn typcn-plus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-point-of-interest-outline" ngbTooltip="typcn typcn-point-of-interest-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-point-of-interest" ngbTooltip="typcn typcn-point-of-interest"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-power-outline" ngbTooltip="typcn typcn-power-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-power" ngbTooltip="typcn typcn-power"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-printer" ngbTooltip="typcn typcn-printer"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-puzzle-outline" ngbTooltip="typcn typcn-puzzle-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-puzzle" ngbTooltip="typcn typcn-puzzle"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-radar-outline" ngbTooltip="typcn typcn-radar-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-radar" ngbTooltip="typcn typcn-radar"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-refresh-outline" ngbTooltip="typcn typcn-refresh-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-refresh" ngbTooltip="typcn typcn-refresh"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-rss-outline" ngbTooltip="typcn typcn-rss-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-rss" ngbTooltip="typcn typcn-rss"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-scissors-outline" ngbTooltip="typcn typcn-scissors-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-scissors" ngbTooltip="typcn typcn-scissors"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-shopping-bag" ngbTooltip="typcn typcn-shopping-bag"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-shopping-cart" ngbTooltip="typcn typcn-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-at-circular" ngbTooltip="typcn typcn-social-at-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-dribbble-circular" ngbTooltip="typcn typcn-social-dribbble-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-dribbble" ngbTooltip="typcn typcn-social-dribbble"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-facebook-circular" ngbTooltip="typcn typcn-social-facebook-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-facebook" ngbTooltip="typcn typcn-social-facebook"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-flickr-circular" ngbTooltip="typcn typcn-social-flickr-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-flickr" ngbTooltip="typcn typcn-social-flickr"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-github-circular" ngbTooltip="typcn typcn-social-github-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-github" ngbTooltip="typcn typcn-social-github"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-google-plus-circular" ngbTooltip="typcn typcn-social-google-plus-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-google-plus" ngbTooltip="typcn typcn-social-google-plus"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-instagram-circular" ngbTooltip="typcn typcn-social-instagram-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-instagram" ngbTooltip="typcn typcn-social-instagram"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-last-fm-circular" ngbTooltip="typcn typcn-social-last-fm-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-last-fm" ngbTooltip="typcn typcn-social-last-fm"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-linkedin-circular" ngbTooltip="typcn typcn-social-linkedin-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-linkedin" ngbTooltip="typcn typcn-social-linkedin"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-pinterest-circular" ngbTooltip="typcn typcn-social-pinterest-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-pinterest" ngbTooltip="typcn typcn-social-pinterest"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-skype-outline" ngbTooltip="typcn typcn-social-skype-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-skype" ngbTooltip="typcn typcn-social-skype"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-tumbler-circular" ngbTooltip="typcn typcn-social-tumbler-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-tumbler" ngbTooltip="typcn typcn-social-tumbler"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-twitter-circular" ngbTooltip="typcn typcn-social-twitter-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-twitter" ngbTooltip="typcn typcn-social-twitter"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-vimeo-circular" ngbTooltip="typcn typcn-social-vimeo-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-vimeo" ngbTooltip="typcn typcn-social-vimeo"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-youtube-circular" ngbTooltip="typcn typcn-social-youtube-circular"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-social-youtube" ngbTooltip="typcn typcn-social-youtube"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-alphabetically-outline" ngbTooltip="typcn typcn-sort-alphabetically-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-alphabetically" ngbTooltip="typcn typcn-sort-alphabetically"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-numerically-outline" ngbTooltip="typcn typcn-sort-numerically-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-sort-numerically" ngbTooltip="typcn typcn-sort-numerically"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spanner-outline" ngbTooltip="typcn typcn-spanner-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spanner" ngbTooltip="typcn typcn-spanner"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-spiral" ngbTooltip="typcn typcn-spiral"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-full-outline" ngbTooltip="typcn typcn-star-full-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-half-outline" ngbTooltip="typcn typcn-star-half-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-half" ngbTooltip="typcn typcn-star-half"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star-outline" ngbTooltip="typcn typcn-star-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-star" ngbTooltip="typcn typcn-star"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-starburst-outline" ngbTooltip="typcn typcn-starburst-outline"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-starburst" ngbTooltip="typcn typcn-starburst"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-stopwatch" ngbTooltip="typcn typcn-stopwatch"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-support" ngbTooltip="typcn typcn-support"></i></li>
                                <li class="icons-list-item"><i class="typcn typcn-tabs-outline" ngbTooltip="typcn typcn-tabs-outline"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->