<app-page-header [title]="'BreadCrumbs'" [items]="['Elements']" [active_item]="'BreadCrumbs'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-12 col-lg-12">
        <div class="card custom-card" id="basic">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Simple Breadcrumbs</h6>
                    <p class="text-muted card-sub-title">The example below is the basic styling of the breadcrumb from Bootstrap.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-basic">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">About</a>
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-basic">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Library
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-basic mg-b-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Library</a>
                                </li>
                                <li class="breadcrumb-item active">Data</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="divider">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Custom Divider</h6>
                    <p class="text-muted card-sub-title">The example below is the custom styling of the breadcrumb using different divider.</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-style2">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">About</a>
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-style2">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    Library
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-style2 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Library</a>
                                </li>
                                <li class="breadcrumb-item active">Data</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Icon Breadcrumbs</h6>
                    <p class="text-muted card-sub-title">The example below is the breadcrumb with an icon</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb breadcrumb-basic">
                                <li class="breadcrumb-item">
                                    <i class="fe fe-home me-1 fs-14" aria-hidden="true"></i>
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">About</a>
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-basic">
                                <li class="breadcrumb-item">
                                    <i class="fe fe-home me-1 fs-14" aria-hidden="true"></i>
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <i class="fe fe-folder me-1 fs-14" aria-hidden="true"></i>
                                    Library
                                </li>
                            </ol>
                            <ol class="breadcrumb breadcrumb-basic mg-b-0">
                                <li class="breadcrumb-item">
                                    <i class="fe fe-home me-1 fs-14" aria-hidden="true"></i>
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <i class="fe fe-folder me-1 fs-14" aria-hidden="true"></i>
                                    <a href="javascript:;">Library</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    <i class="fe fe-book me-1 fs-14" aria-hidden="true"></i>
                                    Data
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="center">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Breadcrumbs-Center align</h6>
                    <p class="text-muted card-sub-title">The example below is the center aligment of the breadcrumb</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <nav class="breadcrumb-3">
                            <ol class="breadcrumb breadcrumb-style1 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Library</a>
                                </li>
                                <li class="breadcrumb-item active">Data</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card" id="right">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Breadcrumbs-Right align</h6>
                    <p class="text-muted card-sub-title">The example below is the Right aligment of the breadcrumb</p>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <nav class="breadcrumb-4">
                            <ol class="breadcrumb breadcrumb-style1 mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Home</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="javascript:;">Library</a>
                                </li>
                                <li class="breadcrumb-item active">Data</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->