<app-page-header [title]="'chartlist'" [items]="['charts']" [active_item]="'chartlist'"></app-page-header>

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">SVG Path Animation</h6>
                    <p class="text-muted  card-sub-title">Below is the SVG Path Animation example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart1.type" [data]="chart1.data" [options]="chart1.options"
                    [events]="chart1.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Bi-Polar line Chart with Area only</h6>
                    <p class="text-muted  card-sub-title">Below is the bi-polar line chart with area example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart3.type" [data]="chart3.data" [options]="chart3.options"
                    [events]="chart3.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Animating A Donut with SVG Animate</h6>
                    <p class="text-muted  card-sub-title">Below is the Donut with SVG Animate example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart2.type" [data]="chart2.data" [options]="chart2.options"
                    [events]="chart2.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Line Chart With Area</h6>
                    <p class="text-muted  card-sub-title">Below is the line chart with area example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart4.type" [data]="chart4.data" [options]="chart4.options"
                    [events]="chart4.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Bi-Polar Bar Chart</h6>
                    <p class="text-muted  card-sub-title">Below is the bi-polar bar chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart5.type" [data]="chart5.data" [options]="chart5.options"
                    [events]="chart5.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Stacked Bar Chart</h6>
                    <p class="text-muted  card-sub-title">Below is the stacked bar chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart6.type" [data]="chart6.data" [options]="chart6.options"
                    [events]="chart6.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Horizontal Bar Chart</h6>
                    <p class="text-muted  card-sub-title">Below is the horizontal bar chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart7.type" [data]="chart7.data" [options]="chart7.options"
                    [events]="chart7.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Extreme Responsive Configuration</h6>
                    <p class="text-muted  card-sub-title">Below is the Responsive Configuration example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart8.type" [data]="chart8.data" [options]="chart8.options"
                    [events]="chart8.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Simple Line Chart</h6>
                    <p class="text-muted  card-sub-title">Below is the simple line chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart9.type" [data]="chart9.data" [options]="chart9.options"
                    [events]="chart9.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Holes in Data</h6>
                    <p class="text-muted  card-sub-title">Below is the holes in data chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart10.type" [data]="chart10.data" [options]="chart10.options"
                    [events]="chart10.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-6 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-1">Filled Holes in Data Chart</h6>
                    <p class="text-muted  card-sub-title">Below is the filled holes in data chart example.</p>
                </div>
                <div>
                    <x-chartist [type]="chart11.type" [data]="chart11.data" [options]="chart11.options"
                    [events]="chart11.events"></x-chartist>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->