<app-page-header [title]="'Pricing'" [items]="['Pages']" [active_item]="'Pricing'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-2">
            <h5 class="fs-17 tx-medium">Basic</h5>
            <h6 class="fs-13 text-muted tx-normal">Best Value</h6>
          </div>
          <div class="text-end ms-auto mb-2">
            <h2 class="h2 mb-0 p-2">$<span class="price">19</span><span class="tx-14 text-dark ms-2">/ Month</span></h2>
          </div>
        </div>
        <p class="text-muted fs-15">All the basic things for businesses that are just getting started.</p>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-0"><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">0</span> Featured
              Listings</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">100%</span> Secure
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Easy</span> to use
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Customer</span>
              Reviews</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">24/7</span> Support
            </li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary btn-block mb-2">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-2">
            <h5 class="fs-17 tx-medium">Premium</h5>
            <h6 class="fs-13 text-muted tx-normal">Best Package</h6>
          </div>
          <div class="text-end ms-auto mb-2">
            <h2 class="h2 mb-0 p-2">$<span class="price">39</span><span class="tx-14 text-dark ms-2">/ Month</span></h2>
          </div>
        </div>
        <p class="text-muted fs-15">When your business ready for more customers and revenues.Its time for this.</p>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-0"><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">0</span> Featured
              Listings</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">100%</span> Secure
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Easy</span> to use
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Customer</span>
              Reviews</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">24/7</span> Support
            </li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary btn-block mb-2">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card bd bd-1 border-primary">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-2">
            <h5 class="fs-17 tx-medium">Business</h5>
            <h6 class="fs-13 text-dark tx-normal">Most Popular</h6>
          </div>
          <div class="text-end ms-auto mb-2">
            <h2 class="h2 mb-0 p-2">$<span class="price">59</span><span class="tx-14 text-dark ms-2">/ Month</span></h2>
          </div>
        </div>
        <p class="text-muted fs-15">Advanced features for pros who need more customization.</p>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-0"><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">0</span> Featured
              Listings</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">100%</span> Secure
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Easy</span> to use
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Customer</span>
              Reviews</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">24/7</span> Support
            </li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary btn-block mb-2">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-2">
            <h5 class="fs-17 tx-medium">Unlimited</h5>
            <h6 class="fs-13 text-muted tx-normal">Recommended</h6>
          </div>
          <div class="text-end ms-auto mb-2">
            <h2 class="h2 mb-0 p-2">$<span class="price">99</span><span class="tx-14 text-dark ms-2">/ Month</span></h2>
          </div>
        </div>
        <p class="text-muted fs-15">Features are very comfortable and reday to use any time unlimitedly.</p>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-0"><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">0</span> Featured
              Listings</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">100%</span> Secure
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Easy</span> to use
            </li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">Customer</span>
              Reviews</li>
            <li><i class="mdi mdi-check-circle me-2 tx-gray-900 tx-18"></i><span class="tx-semibold">24/7</span> Support
            </li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary btn-block mb-2">Choose Plan</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-0">
            <h5 class="fs-16 tx-medium">Startup</h5>
            <h2 class="mt-2 mb-0 text-primary">$29.00 <span class="text-muted fs-12">/ Month</span></h2>
            <p class="text-dark mt-3 mb-0 fs-14">Powerup you business.</p>
          </div>
          <div class="text-end ms-auto">
            <span class="badge bg-warning-light">Best Range</span>
          </div>
        </div>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-1"><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">100%</span> Secure</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">24/7</span> Support</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Featured</span> Listings</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Customer</span> Reviews</li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary-transparent btn-block mb-2">Choose Plan
            <i class="mdi mdi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card bd bd-1 border-primary">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-0">
            <h5 class="fs-16 tx-medium">Professional</h5>
            <h2 class="mt-2 mb-0 text-primary">$59.00 <span class="text-muted fs-12">/ Month</span></h2>
            <p class="text-dark mt-3 mb-0 fs-14">The perfect way to get start.</p>
          </div>
          <div class="text-end ms-auto">
            <span class="badge bg-success-light">Most Popular</span>
          </div>
        </div>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-1"><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">100%</span> Secure</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">24/7</span> Support</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Featured</span> Listings</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Customer</span> Reviews</li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary-transparent btn-block mb-2">Choose Plan
            <i class="mdi mdi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-0">
            <h5 class="fs-16 tx-medium">Enterprise</h5>
            <h2 class="mt-2 mb-0 text-primary">$79 <span class="text-muted fs-12">/ Month</span></h2>
            <p class="text-dark mt-3 mb-0 fs-14">Customized just for you.</p>
          </div>
          <div class="text-end ms-auto">
            <span class="badge bg-secondary-light">Recommended</span>
          </div>
        </div>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-1"><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">100%</span> Secure</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">24/7</span> Support</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Featured</span> Listings</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Customer</span> Reviews</li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary-transparent btn-block mb-2">Choose Plan
            <i class="mdi mdi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xxl-3 col-xl-6 col-lg-6 col-sm-6">
    <div class="card card-pricing custom-card">
      <div class="card-body">
        <div class="d-flex">
          <div class="mb-0">
            <h5 class="fs-16 tx-medium">Pro-Business</h5>
            <h2 class="mt-2 mb-0 text-primary">$99 <span class="text-muted fs-12">/ Month</span></h2>
            <p class="text-dark mt-3 mb-0 fs-14">Better results for businesses.</p>
          </div>
          <div class="text-end ms-auto">
            <span class="badge bg-primary-light">Try It Now</span>
          </div>
        </div>
        <hr class="message-inner-separator">
        <div class="pricingContent1">
          <ul>
            <li class="pt-1"><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Free</span> Ad posting</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">100%</span> Secure</li>
            <li><i
                class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">24/7</span> Support</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Featured</span> Listings</li>
            <li><i
                class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                class="tx-semibold">Customer</span> Reviews</li>
          </ul>
          <a href="javascript:;" class="btn ripple btn-primary-transparent btn-block mb-2">Choose Plan
            <i class="mdi mdi-arrow-right ms-1"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
  <div class="col-xl-12 col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Tabs Pricing Tables</h6>
          <p class="text-muted">Below is the Using tabs year & month pricing Tables example</p>
        </div>
        <div class="pricing-tabs">
          <div class=" text-center">
            <div class="pri-tabs-heading">
              <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-price">
                <li [ngbNavItem]="1">
                  <a ngbNavLink>Annual</a>
                  <ng-template ngbNavContent>
                    <div class="row row-sm">
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-primary-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Basic</h4>
                            <h1 class="mt-3 mb-3 text-primary tx-normal">$69 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-primary-transparent mb-2">Choose Plan</a>
                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-secondary-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Personal</h4>
                            <h1 class="mt-3 mb-3 text-secondary tx-normal">$99 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-secondary-transparent mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card bd bd-2 border-success pricing2 shadow">
                          <div class="card-header bg-success-light border-bottom-0">
                            <div class="pricingtabs-badge">
                              <span class="badge bg-success text-white">Popular</span>
                            </div>
                            <h4 class="mt-2 text-dark tx-medium">Business</h4>
                            <h1 class="mt-3 mb-3 text-success tx-normal">$149 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-success mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-info-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Professional</h4>
                            <h1 class="mt-3 mb-3 text-info tx-normal">$199 <span class="text-dark fs-12">/ Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-info-transparent mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
                <li [ngbNavItem]="2">
                  <a ngbNavLink>Monthly</a>
                  <ng-template ngbNavContent>
                    <div class="row row-sm">
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-primary-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Basic</h4>
                            <h1 class="mt-3 mb-3 text-primary tx-normal">$29 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-primary-transparent mb-2">Choose Plan</a>
                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-secondary-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Personal</h4>
                            <h1 class="mt-3 mb-3 text-secondary tx-normal">$39 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-secondary-transparent mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card bd bd-2 border-success pricing2 shadow">
                          <div class="card-header bg-success-light border-bottom-0">
                            <div class="pricingtabs-badge">
                              <span class="badge bg-success text-white">Popular</span>
                            </div>
                            <h4 class="mt-2 text-dark tx-medium">Business</h4>
                            <h1 class="mt-3 mb-3 text-success tx-normal">$59 <span class="text-dark fs-12">/
                                Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-success mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6 col-lg-6 col-xl-6 col-xxl-3">
                        <div class="card custom-card border pricing2">
                          <div class="card-header bg-info-light border-bottom-0">
                            <h4 class="mt-2 text-dark tx-medium">Professional</h4>
                            <h1 class="mt-3 mb-3 text-info tx-normal">$79 <span class="text-dark fs-12">/ Month</span>
                            </h1>
                            <a href="javascript:;" class="btn ripple btn-info-transparent mb-2">Choose Plan</a>

                          </div>
                          <div class="card-body text-start">
                            <div class="pricingContent1">
                              <ul>
                                <li class="pt-1"><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Unlimited</span> Ad posting</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Secure and reliable</li>
                                <li><i
                                    class="fe fe-check me-2 text-success bg-success-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">24/7</span> Support from company</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Featured</span> Listings Projects</li>
                                <li><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">100%</span> Money Refundable</li>
                                <li class="pb-0"><i
                                    class="fe fe-x me-2 text-danger bg-danger-transparent font-weight-bold p-1 tx-12 rounded-circle"></i><span
                                    class="tx-semibold">Customer</span> Reviews</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </li>
              </ul>

            </div>
            <div [ngbNavOutlet]="nav"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->