<app-page-header [title]="'Flag icons'" [items]="['Icons']" [active_item]="'Flag icons'"></app-page-header>
<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Flags Icons</h3>
                        <p><code>&lt;i class="flag flag-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="flag flag-ad" ngbTooltip="flag flag-ad"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ae" ngbTooltip="flag flag-ae"></i></li>
                                <li class="icons-list-item"><i class="flag flag-af" ngbTooltip="flag flag-af"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ag" ngbTooltip="flag flag-ag"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ai" ngbTooltip="flag flag-ai"></i></li>
                                <li class="icons-list-item"><i class="flag flag-al" ngbTooltip="flag flag-al"></i></li>
                                <li class="icons-list-item"><i class="flag flag-am" ngbTooltip="flag flag-am"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ao" ngbTooltip="flag flag-ao"></i></li>
                                <li class="icons-list-item"><i class="flag flag-aq" ngbTooltip="flag flag-aq"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ar" ngbTooltip="flag flag-ar"></i></li>
                                <li class="icons-list-item"><i class="flag flag-as" ngbTooltip="flag flag-as"></i></li>
                                <li class="icons-list-item"><i class="flag flag-at" ngbTooltip="flag flag-at"></i></li>
                                <li class="icons-list-item"><i class="flag flag-au" ngbTooltip="flag flag-au"></i></li>
                                <li class="icons-list-item"><i class="flag flag-aw" ngbTooltip="flag flag-aw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ax" ngbTooltip="flag flag-ax"></i></li>
                                <li class="icons-list-item"><i class="flag flag-az" ngbTooltip="flag flag-az"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ba" ngbTooltip="flag flag-ba"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bb" ngbTooltip="flag flag-bb"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bd" ngbTooltip="flag flag-bd"></i></li>
                                <li class="icons-list-item"><i class="flag flag-be" ngbTooltip="flag flag-be"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bf" ngbTooltip="flag flag-bf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bg" ngbTooltip="flag flag-bg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bh" ngbTooltip="flag flag-bh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bi" ngbTooltip="flag flag-bi"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bj" ngbTooltip="flag flag-bj"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bl" ngbTooltip="flag flag-bl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bm" ngbTooltip="flag flag-bm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bn" ngbTooltip="flag flag-bn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bo" ngbTooltip="flag flag-bo"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bq" ngbTooltip="flag flag-bq"></i></li>
                                <li class="icons-list-item"><i class="flag flag-br" ngbTooltip="flag flag-br"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bs" ngbTooltip="flag flag-bs"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bt" ngbTooltip="flag flag-bt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bv" ngbTooltip="flag flag-bv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bw" ngbTooltip="flag flag-bw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-by" ngbTooltip="flag flag-by"></i></li>
                                <li class="icons-list-item"><i class="flag flag-bz" ngbTooltip="flag flag-bz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ca" ngbTooltip="flag flag-ca"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cc" ngbTooltip="flag flag-cc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cd" ngbTooltip="flag flag-cd"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cf" ngbTooltip="flag flag-cf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cg" ngbTooltip="flag flag-cg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ch" ngbTooltip="flag flag-ch"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ci" ngbTooltip="flag flag-ci"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ck" ngbTooltip="flag flag-ck"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cl" ngbTooltip="flag flag-cl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cm" ngbTooltip="flag flag-cm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cn" ngbTooltip="flag flag-cn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-co" ngbTooltip="flag flag-co"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cr" ngbTooltip="flag flag-cr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cu" ngbTooltip="flag flag-cu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cv" ngbTooltip="flag flag-cv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cw" ngbTooltip="flag flag-cw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cx" ngbTooltip="flag flag-cx"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cy" ngbTooltip="flag flag-cy"></i></li>
                                <li class="icons-list-item"><i class="flag flag-cz" ngbTooltip="flag flag-cz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-de" ngbTooltip="flag flag-de"></i></li>
                                <li class="icons-list-item"><i class="flag flag-dj" ngbTooltip="flag flag-dj"></i></li>
                                <li class="icons-list-item"><i class="flag flag-dk" ngbTooltip="flag flag-dk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-dm" ngbTooltip="flag flag-dm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-do" ngbTooltip="flag flag-do"></i></li>
                                <li class="icons-list-item"><i class="flag flag-dz" ngbTooltip="flag flag-dz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ec" ngbTooltip="flag flag-ec"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ee" ngbTooltip="flag flag-ee"></i></li>
                                <li class="icons-list-item"><i class="flag flag-eg" ngbTooltip="flag flag-eg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-eh" ngbTooltip="flag flag-eh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-er" ngbTooltip="flag flag-er"></i></li>
                                <li class="icons-list-item"><i class="flag flag-es" ngbTooltip="flag flag-es"></i></li>
                                <li class="icons-list-item"><i class="flag flag-et" ngbTooltip="flag flag-et"></i></li>
                                <li class="icons-list-item"><i class="flag flag-eu" ngbTooltip="flag flag-eu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fi" ngbTooltip="flag flag-fi"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fj" ngbTooltip="flag flag-fj"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fk" ngbTooltip="flag flag-fk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fm" ngbTooltip="flag flag-fm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fo" ngbTooltip="flag flag-fo"></i></li>
                                <li class="icons-list-item"><i class="flag flag-fr" ngbTooltip="flag flag-fr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ga" ngbTooltip="flag flag-ga"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gb" ngbTooltip="flag flag-gb"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gb-eng" ngbTooltip="flag flag-gb-eng"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gb-nir" ngbTooltip="flag flag-gb-nir"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gb-sct" ngbTooltip="flag flag-gb-sct"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gb-wls" ngbTooltip="flag flag-gb-wls"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gd" ngbTooltip="flag flag-gd"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ge" ngbTooltip="flag flag-ge"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gf" ngbTooltip="flag flag-gf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gg" ngbTooltip="flag flag-gg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gh" ngbTooltip="flag flag-gh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gi" ngbTooltip="flag flag-gi"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gl" ngbTooltip="flag flag-gl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gm" ngbTooltip="flag flag-gm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gn" ngbTooltip="flag flag-gn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gp" ngbTooltip="flag flag-gp"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gq" ngbTooltip="flag flag-gq"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gr" ngbTooltip="flag flag-gr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gs" ngbTooltip="flag flag-gs"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gt" ngbTooltip="flag flag-gt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gu" ngbTooltip="flag flag-gu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gw" ngbTooltip="flag flag-gw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-gy" ngbTooltip="flag flag-gy"></i></li>
                                <li class="icons-list-item"><i class="flag flag-hk" ngbTooltip="flag flag-hk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-hm" ngbTooltip="flag flag-hm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-hn" ngbTooltip="flag flag-hn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-hr" ngbTooltip="flag flag-hr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ht" ngbTooltip="flag flag-ht"></i></li>
                                <li class="icons-list-item"><i class="flag flag-hu" ngbTooltip="flag flag-hu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-id" ngbTooltip="flag flag-id"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ie" ngbTooltip="flag flag-ie"></i></li>
                                <li class="icons-list-item"><i class="flag flag-il" ngbTooltip="flag flag-il"></i></li>
                                <li class="icons-list-item"><i class="flag flag-im" ngbTooltip="flag flag-im"></i></li>
                                <li class="icons-list-item"><i class="flag flag-in" ngbTooltip="flag flag-in"></i></li>
                                <li class="icons-list-item"><i class="flag flag-io" ngbTooltip="flag flag-io"></i></li>
                                <li class="icons-list-item"><i class="flag flag-iq" ngbTooltip="flag flag-iq"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ir" ngbTooltip="flag flag-ir"></i></li>
                                <li class="icons-list-item"><i class="flag flag-is" ngbTooltip="flag flag-is"></i></li>
                                <li class="icons-list-item"><i class="flag flag-it" ngbTooltip="flag flag-it"></i></li>
                                <li class="icons-list-item"><i class="flag flag-je" ngbTooltip="flag flag-je"></i></li>
                                <li class="icons-list-item"><i class="flag flag-jm" ngbTooltip="flag flag-jm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-jo" ngbTooltip="flag flag-jo"></i></li>
                                <li class="icons-list-item"><i class="flag flag-jp" ngbTooltip="flag flag-jp"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ke" ngbTooltip="flag flag-ke"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kg" ngbTooltip="flag flag-kg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kh" ngbTooltip="flag flag-kh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ki" ngbTooltip="flag flag-ki"></i></li>
                                <li class="icons-list-item"><i class="flag flag-km" ngbTooltip="flag flag-km"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kn" ngbTooltip="flag flag-kn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kp" ngbTooltip="flag flag-kp"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kr" ngbTooltip="flag flag-kr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kw" ngbTooltip="flag flag-kw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ky" ngbTooltip="flag flag-ky"></i></li>
                                <li class="icons-list-item"><i class="flag flag-kz" ngbTooltip="flag flag-kz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-la" ngbTooltip="flag flag-la"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lb" ngbTooltip="flag flag-lb"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lc" ngbTooltip="flag flag-lc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-li" ngbTooltip="flag flag-li"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lk" ngbTooltip="flag flag-lk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lr" ngbTooltip="flag flag-lr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ls" ngbTooltip="flag flag-ls"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lt" ngbTooltip="flag flag-lt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lu" ngbTooltip="flag flag-lu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-lv" ngbTooltip="flag flag-lv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ly" ngbTooltip="flag flag-ly"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ma" ngbTooltip="flag flag-ma"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mc" ngbTooltip="flag flag-mc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-md" ngbTooltip="flag flag-md"></i></li>
                                <li class="icons-list-item"><i class="flag flag-me" ngbTooltip="flag flag-me"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mf" ngbTooltip="flag flag-mf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mg" ngbTooltip="flag flag-mg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mh" ngbTooltip="flag flag-mh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mk" ngbTooltip="flag flag-mk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ml" ngbTooltip="flag flag-ml"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mm" ngbTooltip="flag flag-mm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mn" ngbTooltip="flag flag-mn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mo" ngbTooltip="flag flag-mo"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mp" ngbTooltip="flag flag-mp"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mq" ngbTooltip="flag flag-mq"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mr" ngbTooltip="flag flag-mr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ms" ngbTooltip="flag flag-ms"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mt" ngbTooltip="flag flag-mt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mu" ngbTooltip="flag flag-mu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mv" ngbTooltip="flag flag-mv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mw" ngbTooltip="flag flag-mw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mx" ngbTooltip="flag flag-mx"></i></li>
                                <li class="icons-list-item"><i class="flag flag-my" ngbTooltip="flag flag-my"></i></li>
                                <li class="icons-list-item"><i class="flag flag-mz" ngbTooltip="flag flag-mz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-na" ngbTooltip="flag flag-na"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nc" ngbTooltip="flag flag-nc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ne" ngbTooltip="flag flag-ne"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nf" ngbTooltip="flag flag-nf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ng" ngbTooltip="flag flag-ng"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ni" ngbTooltip="flag flag-ni"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nl" ngbTooltip="flag flag-nl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-no" ngbTooltip="flag flag-no"></i></li>
                                <li class="icons-list-item"><i class="flag flag-np" ngbTooltip="flag flag-np"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nr" ngbTooltip="flag flag-nr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nu" ngbTooltip="flag flag-nu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-nz" ngbTooltip="flag flag-nz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-om" ngbTooltip="flag flag-om"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pa" ngbTooltip="flag flag-pa"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pe" ngbTooltip="flag flag-pe"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pf" ngbTooltip="flag flag-pf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pg" ngbTooltip="flag flag-pg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ph" ngbTooltip="flag flag-ph"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pk" ngbTooltip="flag flag-pk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pl" ngbTooltip="flag flag-pl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pm" ngbTooltip="flag flag-pm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pn" ngbTooltip="flag flag-pn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pr" ngbTooltip="flag flag-pr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ps" ngbTooltip="flag flag-ps"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pt" ngbTooltip="flag flag-pt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-pw" ngbTooltip="flag flag-pw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-py" ngbTooltip="flag flag-py"></i></li>
                                <li class="icons-list-item"><i class="flag flag-qa" ngbTooltip="flag flag-qa"></i></li>
                                <li class="icons-list-item"><i class="flag flag-re" ngbTooltip="flag flag-re"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ro" ngbTooltip="flag flag-ro"></i></li>
                                <li class="icons-list-item"><i class="flag flag-rs" ngbTooltip="flag flag-rs"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ru" ngbTooltip="flag flag-ru"></i></li>
                                <li class="icons-list-item"><i class="flag flag-rw" ngbTooltip="flag flag-rw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sa" ngbTooltip="flag flag-sa"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sb" ngbTooltip="flag flag-sb"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sc" ngbTooltip="flag flag-sc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sd" ngbTooltip="flag flag-sd"></i></li>
                                <li class="icons-list-item"><i class="flag flag-se" ngbTooltip="flag flag-se"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sg" ngbTooltip="flag flag-sg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sh" ngbTooltip="flag flag-sh"></i></li>
                                <li class="icons-list-item"><i class="flag flag-si" ngbTooltip="flag flag-si"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sj" ngbTooltip="flag flag-sj"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sk" ngbTooltip="flag flag-sk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sl" ngbTooltip="flag flag-sl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sm" ngbTooltip="flag flag-sm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sn" ngbTooltip="flag flag-sn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-so" ngbTooltip="flag flag-so"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sr" ngbTooltip="flag flag-sr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ss" ngbTooltip="flag flag-ss"></i></li>
                                <li class="icons-list-item"><i class="flag flag-st" ngbTooltip="flag flag-st"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sv" ngbTooltip="flag flag-sv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sx" ngbTooltip="flag flag-sx"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sy" ngbTooltip="flag flag-sy"></i></li>
                                <li class="icons-list-item"><i class="flag flag-sz" ngbTooltip="flag flag-sz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tc" ngbTooltip="flag flag-tc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-td" ngbTooltip="flag flag-td"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tf" ngbTooltip="flag flag-tf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tg" ngbTooltip="flag flag-tg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-th" ngbTooltip="flag flag-th"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tj" ngbTooltip="flag flag-tj"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tk" ngbTooltip="flag flag-tk"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tl" ngbTooltip="flag flag-tl"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tm" ngbTooltip="flag flag-tm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tn" ngbTooltip="flag flag-tn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-to" ngbTooltip="flag flag-to"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tr" ngbTooltip="flag flag-tr"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tt" ngbTooltip="flag flag-tt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tv" ngbTooltip="flag flag-tv"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tw" ngbTooltip="flag flag-tw"></i></li>
                                <li class="icons-list-item"><i class="flag flag-tz" ngbTooltip="flag flag-tz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ua" ngbTooltip="flag flag-ua"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ug" ngbTooltip="flag flag-ug"></i></li>
                                <li class="icons-list-item"><i class="flag flag-um" ngbTooltip="flag flag-um"></i></li>
                                <li class="icons-list-item"><i class="flag flag-un" ngbTooltip="flag flag-un"></i></li>
                                <li class="icons-list-item"><i class="flag flag-us" ngbTooltip="flag flag-us"></i></li>
                                <li class="icons-list-item"><i class="flag flag-uy" ngbTooltip="flag flag-uy"></i></li>
                                <li class="icons-list-item"><i class="flag flag-uz" ngbTooltip="flag flag-uz"></i></li>
                                <li class="icons-list-item"><i class="flag flag-va" ngbTooltip="flag flag-va"></i></li>
                                <li class="icons-list-item"><i class="flag flag-vc" ngbTooltip="flag flag-vc"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ve" ngbTooltip="flag flag-ve"></i></li>
                                <li class="icons-list-item"><i class="flag flag-vg" ngbTooltip="flag flag-vg"></i></li>
                                <li class="icons-list-item"><i class="flag flag-vi" ngbTooltip="flag flag-vi"></i></li>
                                <li class="icons-list-item"><i class="flag flag-vn" ngbTooltip="flag flag-vn"></i></li>
                                <li class="icons-list-item"><i class="flag flag-vu" ngbTooltip="flag flag-vu"></i></li>
                                <li class="icons-list-item"><i class="flag flag-wf" ngbTooltip="flag flag-wf"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ws" ngbTooltip="flag flag-ws"></i></li>
                                <li class="icons-list-item"><i class="flag flag-ye" ngbTooltip="flag flag-ye"></i></li>
                                <li class="icons-list-item"><i class="flag flag-yt" ngbTooltip="flag flag-yt"></i></li>
                                <li class="icons-list-item"><i class="flag flag-za" ngbTooltip="flag flag-za"></i></li>
                                <li class="icons-list-item"><i class="flag flag-zm" ngbTooltip="flag flag-zm"></i></li>
                                <li class="icons-list-item"><i class="flag flag-zw" ngbTooltip="flag flag-zw"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Payments Icons</h3>
                        <p><code>&lt;i class="payment payment-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="payment payment-2checkout" ngbTooltip="payment payment-2checkout"></i></li>
                                <li class="icons-list-item"><i class="payment payment-alipay" ngbTooltip="payment payment-alipay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-amazon" ngbTooltip="payment payment-amazon"></i></li>
                                <li class="icons-list-item"><i class="payment payment-americanexpress" ngbTooltip="payment payment-americanexpress"></i></li>
                                <li class="icons-list-item"><i class="payment payment-applepay" ngbTooltip="payment payment-applepay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bancontact" ngbTooltip="payment payment-bancontact"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitcoin" ngbTooltip="payment payment-bitcoin"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitpay" ngbTooltip="payment payment-bitpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-cirrus" ngbTooltip="payment payment-cirrus"></i></li>
                                <li class="icons-list-item"><i class="payment payment-clickandbuy" ngbTooltip="payment payment-clickandbuy"></i></li>
                                <li class="icons-list-item"><i class="payment payment-coinkite" ngbTooltip="payment payment-coinkite"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dinersclub" ngbTooltip="payment payment-dinersclub"></i></li>
                                <li class="icons-list-item"><i class="payment payment-directdebit" ngbTooltip="payment payment-directdebit"></i></li>
                                <li class="icons-list-item"><i class="payment payment-discover" ngbTooltip="payment payment-discover"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dwolla" ngbTooltip="payment payment-dwolla"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ebay" ngbTooltip="payment payment-ebay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-eway" ngbTooltip="payment payment-eway"></i></li>
                                <li class="icons-list-item"><i class="payment payment-giropay" ngbTooltip="payment payment-giropay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-googlewallet" ngbTooltip="payment payment-googlewallet"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ingenico" ngbTooltip="payment payment-ingenico"></i></li>
                                <li class="icons-list-item"><i class="payment payment-jcb" ngbTooltip="payment payment-jcb"></i></li>
                                <li class="icons-list-item"><i class="payment payment-klarna" ngbTooltip="payment payment-klarna"></i></li>
                                <li class="icons-list-item"><i class="payment payment-laser" ngbTooltip="payment payment-laser"></i></li>
                                <li class="icons-list-item"><i class="payment payment-maestro" ngbTooltip="payment payment-maestro"></i></li>
                                <li class="icons-list-item"><i class="payment payment-mastercard" ngbTooltip="payment payment-mastercard"></i></li>
                                <li class="icons-list-item"><i class="payment payment-monero" ngbTooltip="payment payment-monero"></i></li>
                                <li class="icons-list-item"><i class="payment payment-neteller" ngbTooltip="payment payment-neteller"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ogone" ngbTooltip="payment payment-ogone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-okpay" ngbTooltip="payment payment-okpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paybox" ngbTooltip="payment payment-paybox"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paymill" ngbTooltip="payment payment-paymill"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payone" ngbTooltip="payment payment-payone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payoneer" ngbTooltip="payment payment-payoneer"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paypal" ngbTooltip="payment payment-paypal"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paysafecard" ngbTooltip="payment payment-paysafecard"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payu" ngbTooltip="payment payment-payu"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payza" ngbTooltip="payment payment-payza"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ripple" ngbTooltip="payment payment-ripple"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sage" ngbTooltip="payment payment-sage"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sepa" ngbTooltip="payment payment-sepa"></i></li>
                                <li class="icons-list-item"><i class="payment payment-shopify" ngbTooltip="payment payment-shopify"></i></li>
                                <li class="icons-list-item"><i class="payment payment-skrill" ngbTooltip="payment payment-skrill"></i></li>
                                <li class="icons-list-item"><i class="payment payment-solo" ngbTooltip="payment payment-solo"></i></li>
                                <li class="icons-list-item"><i class="payment payment-square" ngbTooltip="payment payment-square"></i></li>
                                <li class="icons-list-item"><i class="payment payment-stripe" ngbTooltip="payment payment-stripe"></i></li>
                                <li class="icons-list-item"><i class="payment payment-switch" ngbTooltip="payment payment-switch"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ukash" ngbTooltip="payment payment-ukash"></i></li>
                                <li class="icons-list-item"><i class="payment payment-unionpay" ngbTooltip="payment payment-unionpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verifone" ngbTooltip="payment payment-verifone"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verisign" ngbTooltip="payment payment-verisign"></i></li>
                                <li class="icons-list-item"><i class="payment payment-visa" ngbTooltip="payment payment-visa"></i></li>
                                <li class="icons-list-item"><i class="payment payment-webmoney" ngbTooltip="payment payment-webmoney"></i></li>
                                <li class="icons-list-item"><i class="payment payment-westernunion" ngbTooltip="payment payment-westernunion"></i></li>
                                <li class="icons-list-item"><i class="payment payment-worldpay" ngbTooltip="payment payment-worldpay"></i></li>
                                <li class="icons-list-item"><i class="payment payment-2checkout-dark" ngbTooltip="payment payment-2checkout-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-alipay-dark" ngbTooltip="payment payment-alipay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-amazon-dark" ngbTooltip="payment payment-amazon-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-americanexpress-dark" ngbTooltip="payment payment-americanexpress-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-applepay-dark" ngbTooltip="payment payment-applepay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bancontact-dark" ngbTooltip="payment payment-bancontact-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitcoin-dark" ngbTooltip="payment payment-bitcoin-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-bitpay-dark" ngbTooltip="payment payment-bitpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-cirrus-dark" ngbTooltip="payment payment-cirrus-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-clickandbuy-dark" ngbTooltip="payment payment-clickandbuy-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-coinkite-dark" ngbTooltip="payment payment-coinkite-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dinersclub-dark" ngbTooltip="payment payment-dinersclub-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-directdebit-dark" ngbTooltip="payment payment-directdebit-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-discover-dark" ngbTooltip="payment payment-discover-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-dwolla-dark" ngbTooltip="payment payment-dwolla-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ebay-dark" ngbTooltip="payment payment-ebay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-eway-dark" ngbTooltip="payment payment-eway-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-giropay-dark" ngbTooltip="payment payment-giropay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-googlewallet-dark" ngbTooltip="payment payment-googlewallet-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ingenico-dark" ngbTooltip="payment payment-ingenico-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-jcb-dark" ngbTooltip="payment payment-jcb-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-klarna-dark" ngbTooltip="payment payment-klarna-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-laser-dark" ngbTooltip="payment payment-laser-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-maestro-dark" ngbTooltip="payment payment-maestro-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-mastercard-dark" ngbTooltip="payment payment-mastercard-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-monero-dark" ngbTooltip="payment payment-monero-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-neteller-dark" ngbTooltip="payment payment-neteller-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ogone-dark" ngbTooltip="payment payment-ogone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-okpay-dark" ngbTooltip="payment payment-okpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paybox-dark" ngbTooltip="payment payment-paybox-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paymill-dark" ngbTooltip="payment payment-paymill-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payone-dark" ngbTooltip="payment payment-payone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payoneer-dark" ngbTooltip="payment payment-payoneer-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paypal-dark" ngbTooltip="payment payment-paypal-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-paysafecard-dark" ngbTooltip="payment payment-paysafecard-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payu-dark" ngbTooltip="payment payment-payu-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-payza-dark" ngbTooltip="payment payment-payza-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ripple-dark" ngbTooltip="payment payment-ripple-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sage-dark" ngbTooltip="payment payment-sage-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-sepa-dark" ngbTooltip="payment payment-sepa-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-shopify-dark" ngbTooltip="payment payment-shopify-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-skrill-dark" ngbTooltip="payment payment-skrill-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-solo-dark" ngbTooltip="payment payment-solo-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-square-dark" ngbTooltip="payment payment-square-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-stripe-dark" ngbTooltip="payment payment-stripe-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-switch-dark" ngbTooltip="payment payment-switch-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-ukash-dark" ngbTooltip="payment payment-ukash-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-unionpay-dark" ngbTooltip="payment payment-unionpay-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verifone-dark" ngbTooltip="payment payment-verifone-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-verisign-dark" ngbTooltip="payment payment-verisign-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-visa-dark" ngbTooltip="payment payment-visa-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-webmoney-dark" ngbTooltip="payment payment-webmoney-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-westernunion-dark" ngbTooltip="payment payment-westernunion-dark"></i></li>
                                <li class="icons-list-item"><i class="payment payment-worldpay-dark" ngbTooltip="payment payment-worldpay-dark"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->