<app-page-header [title]="'File attachments'" [items]="['apps','File manager']" [active_item]="'File attachments'"></app-page-header>
<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Rounded File Attachment</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-rounded-attachments tag-outline mt-0">
                        <span><i class="mdi mdi-file-image text-primary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-pdf text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-word text-info fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-video text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-excel text-success fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-headphones text-secondary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-zip-box text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Radius File Attachment</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-radius-attachments tag-outline mt-0">
                        <span><i class="mdi mdi-file-image text-primary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-pdf text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-word text-info fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-video text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-excel text-success fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-headphones text-secondary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-zip-box text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Rounded With Transparent Background</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-rounded-attachments tag-primary-transparent mt-0">
                        <span><i class="mdi mdi-file-image fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-warning-transparent">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-danger-transparent">
                        <span><i class="mdi mdi-file-pdf text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-info-transparent">
                        <span><i class="mdi mdi-file-word text-info fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-danger-transparent">
                        <span><i class="mdi mdi-file-video text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-success-transparent">
                        <span><i class="mdi mdi-file-excel text-success fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-secondary-transparent">
                        <span><i class="mdi mdi-headphones text-secondary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-warning-transparent">
                        <span><i class="mdi mdi-zip-box text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Radius With Transparent Background</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-radius-attachments tag-primary-transparent mt-0">
                        <span><i class="mdi mdi-file-image fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-warning-transparent">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-danger-transparent">
                        <span><i class="mdi mdi-file-pdf text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-info-transparent">
                        <span><i class="mdi mdi-file-word text-info fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-danger-transparent">
                        <span><i class="mdi mdi-file-video text-danger fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-success-transparent">
                        <span><i class="mdi mdi-file-excel text-success fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-secondary-transparent">
                        <span><i class="mdi mdi-headphones text-secondary fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-warning-transparent">
                        <span><i class="mdi mdi-zip-box text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Rounded With Background Color</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-rounded-attachments tag-primary mt-0">
                        <span><i class="mdi mdi-file-image fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-warning">
                        <span><i class="mdi mdi-file-powerpoint fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-danger">
                        <span><i class="mdi mdi-file-pdf fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-info">
                        <span><i class="mdi mdi-file-word fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-danger">
                        <span><i class="mdi mdi-file-video fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-success">
                        <span><i class="mdi mdi-file-excel fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-secondary">
                        <span><i class="mdi mdi-headphones fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-warning">
                        <span><i class="mdi mdi-zip-box fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Radius With Background Color</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-radius-attachments tag-primary mt-0">
                        <span><i class="mdi mdi-file-image fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-warning">
                        <span><i class="mdi mdi-file-powerpoint fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-danger">
                        <span><i class="mdi mdi-file-pdf fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-info">
                        <span><i class="mdi mdi-file-word fs-18 p-0 me-1"></i></span>
                        <span class="my-auto"> Word_attachment.doc </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-danger">
                        <span><i class="mdi mdi-file-video fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Video_attachment.mp4 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-success">
                        <span><i class="mdi mdi-file-excel fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Excel_attachment.xls </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-secondary">
                        <span><i class="mdi mdi-headphones fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Audio_attachment.mp3 </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-warning">
                        <span><i class="mdi mdi-zip-box fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">Zipfile_attachment.zip </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Rounded File Attachment Sizes</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-rounded-attachments-sm tag-outline mt-0">
                        <span><i class="mdi mdi-file-image text-primary fs-15 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-rounded-attachments tag-outline">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3 fs-18"></i>
                    </span>

                    <span class="tag file-rounded-attachments-lg tag-outline">
                        <span><i class="mdi mdi-file-pdf text-danger p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-6">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">Radius File Attachment Sizes</h6>
            </div>
            <div class="card-body">
                <div class="tags">
                    <span class="tag file-radius-attachments-sm tag-outline mt-0">
                        <span><i class="mdi mdi-file-image text-primary fs-15 p-0 me-1"></i></span>
                        <span class="my-auto">Image_attachment.jpg </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>

                    <span class="tag file-radius-attachments tag-outline">
                        <span><i class="mdi mdi-file-powerpoint text-warning fs-18 p-0 me-1"></i></span>
                        <span class="my-auto">PPT_attachment.ppt </span>
                        <i class="fe fe-x my-auto ms-3 fs-18"></i>
                    </span>

                    <span class="tag file-radius-attachments-lg tag-outline">
                        <span><i class="mdi mdi-file-pdf text-danger p-0 me-1"></i></span>
                        <span class="my-auto">PDF_attachment.pdf </span>
                        <i class="fe fe-x my-auto ms-3"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">File Attachment Style</h6>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="">
                        <div class="row">
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/01.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image01.jpg</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/02.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image02.jpg</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/03.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image03.jpg</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/04.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image04</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/05.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image05.jpg</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-4 col-md-6 col-sm-4">
                                <div class="file-image p-2">
                                    <div class="product-image">
                                        <a routerLink="/apps/filemanager/file-details">
                                            <img src="./assets/img/files/06.jpg" alt="" class="w-100">
                                        </a>
                                        <ul class="icons">
                                            <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                            <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                                        </ul>
                                        <a href="javascript:;"><span class="file-name">Image06.jpg</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">File Attachment Small Size</h6>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="file-image-sm">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/word.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-sm">word.doc</span>
                        </div>
                    </div>
                    <div class="file-image-sm">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/10.jpg" class="rounded-6" width="100" height="100" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-sm">Image2.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-sm">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/video.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-sm">hdi.mp4</span>
                        </div>
                    </div>
                    <div class="file-image-sm">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/09.jpg" class="rounded-6" width="100" height="100" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-sm">img3.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-sm">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/zip1.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-sm">lak.zip</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">File Attachment Medium Size</h6>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="file-image-md">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/doc.png" class="rounded-6" width="150" height="150" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-md text-muted">word.doc</span>
                        </div>
                    </div>
                    <div class="file-image-md">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/10.jpg" class="rounded-6" width="150" height="150" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-md">Image2.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-md">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/file.png" class="rounded-6" width="150" height="150" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-md text-muted">hdi.pdf</span>
                        </div>
                    </div>
                    <div class="file-image-md">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/09.jpg" class="rounded-6" width="150" height="150" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-md">img3.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-md">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/zip.png" class="rounded-6" width="150" height="150" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-md text-muted">lak.zip</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->

<!-- Row-->
<div class="row row-sm">
    <div class="col-lg-12">
        <div class="card custom-card">
            <div class="card-header pb-3">
                <h6 class="main-content-label">File Attachment Large Size</h6>
            </div>
            <div class="card-body">
                <div class="text-wrap">
                    <div class="file-image-lg">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/doc.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-lg text-muted">word.doc</span>
                        </div>
                    </div>
                    <div class="file-image-lg">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/10.jpg" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-lg">Image2.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-lg">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/file.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-lg text-muted">hdi.pdf</span>
                        </div>
                    </div>
                    <div class="file-image-lg">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/09.jpg" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-lg">img3.jpg</span>
                        </div>
                    </div>
                    <div class="file-image-lg">
                        <div class="product-image">
                            <a routerLink="/apps/filemanager/file-details">
                                <img src="./assets/img/files/zip.png" class="rounded-6" alt="img">
                            </a>
                            <ul class="icons">
                                <li><a href="javascript:;" class="bg-danger"><i class="fe fe-trash"></i></a></li>
                                <li><a href="javascript:;" class="bg-primary"><i class="fe fe-download"></i></a></li>
                            </ul>
                            <span class="file-name-lg text-muted">lak.zip</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->