<app-page-header [title]="'Cards'" [items]="['Advanced Ui']" [active_item]="'Cards'"></app-page-header>

<!-- Row -->
<div class="row row-sm">
    <div class="col-md">
        <div class="card custom-card card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card card-body bg-primary tx-white">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card card-body bg-danger tx-white">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card card-body bg-info tx-white">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-lg-12 col-xl-4 col-md-12 col-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Card Header</h5>
            </div>
            <div class="card-body">
                <h6 class="tx-normal">Special title treatment</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="javascript:;" class="btn btn-primary ripple btn-block">View</a>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4 col-md-12 col-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Card Header</h5>
            </div>
            <div class="card-body">
                <h6 class="tx-normal">Special title treatment</h6>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <p class="mb-0">Card-footer</p>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-xl-4 col-md-12 col-12 col-sm-12">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Blockquote</h5>
            </div>
            <div class="card-body">
                <figure>
                    <blockquote class="blockquote">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.rhoncus ut, imperdiet a.</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
<!--End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-3 col-md-6">
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="main-content-label mg-b-10">The Card Title</h5>
                <p class="card-subtitle mg-b-15">This is the card subtitle</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link" href="javascript:;">Card link</a> <a class="card-link" href="javascript:;">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card custom-card  bg-primary tx-white">
            <div class="card-body">
                <h5 class="main-content-label tx-white mg-b-10">The Card Title</h5>
                <p class="card-subtitle mg-b-15 tx-white-8">This is the card subtitle</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link tx-white-7 hover-white" href="javascript:;">Card link</a> <a class="card-link tx-white-7 hover-white" href="javascript:;">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card custom-card  bg-danger tx-white">
            <div class="card-body">
                <h5 class="main-content-label tx-white mg-b-10">The Card Title</h5>
                <p class="card-subtitle tx-white-8 mg-b-15">This is the card subtitle</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link tx-white-7 hover-white" href="javascript:;">Card link</a> <a class="card-link tx-white-7 hover-white" href="javascript:;">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card custom-card  bg-info tx-white">
            <div class="card-body">
                <h5 class="main-content-label tx-white mg-b-10">The Card Title</h5>
                <p class="card-subtitle tx-white-8 mg-b-15">This is the card subtitle</p>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a class="card-link tx-white-7 hover-white" href="javascript:;">Card link</a> <a class="card-link tx-white-7 hover-white" href="javascript:;">Another link</a>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md-12 col-xl-4">
        <div class="card custom-card" [(ngbCollapse)]="isClosed">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Basic Card</h5>
                <div class="card-options">
                    <a href="javascript:void(0);" class="card-options-collapse" (click)="Collapsetoggle()" [attr.aria-expanded]="!isCollapsed"><i
                        class="fe fe-chevron-{{ !isCollapsed ? 'up' : 'down'}}"></i></a>
                    <a href="javascript:void(0);" class="card-options-remove"  (click)="Closetoggle()" [attr.aria-expanded]="!isClosed"><i
                        class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed">
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet									</div>
            <div class="card-footer" [(ngbCollapse)]="isCollapsed">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card custom-card" [(ngbCollapse)]="isClosed1" [ngClass]="toggleClass === 'fe fe-minimize'? 'card-fullscreen':''">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Basic Card</h5>
                <div class="card-options">
                    <a href="javascript:void(0);" class="card-options-collapse"  (click)="Collapsetoggle1()" [attr.aria-expanded]="!isCollapsed1"><i
                        class="fe fe-chevron-{{ !isCollapsed1 ? 'up' : 'down'}}"></i></a>
                    <a href="javascript:void(0);" class="card-options-fullscreen" (click)="fullScreenToggle()">
                      <i class="{{toggleClass}}"></i></a>
                    <a href="javascript:void(0);" class="card-options-remove" (click)="Closetoggle1()" [attr.aria-expanded]="!isClosed1"><i
                        class="fe fe-x"></i></a>
                </div>
            </div>
            <div class="card-body" [(ngbCollapse)]="isCollapsed1">
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet									</div>
            <div class="card-footer" [(ngbCollapse)]="isCollapsed1">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card custom-card">
            <div class="card-header custom-card-header">
                <h5 class="main-content-label mb-0">Basic Card</h5>
                <div class="card-options">
                    <a href="javascript:;" class="btn btn-primary btn-sm py-0">Action 1</a>
                    <a href="javascript:;" class="btn btn-secondary btn-sm ms-2 py-0">Action 2</a>
                </div>
            </div>
            <div class="card-body">
            Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet									</div>
            <div class="card-footer">
                This is Basic card footer
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md-6 col-lg-3">
        <div class="card overflow-hidden custom-card ">
            <img alt="Image" class="img-fluid b-img" src="./assets/img/media/1.jpg">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3 ">
        <div class="card overflow-hidden custom-card">
            <img alt="Image" class="img-fluid b-img" src="./assets/img/media/2.jpg">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card overflow-hidden custom-card">
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div><img alt="Image" class="img-fluid b-img" src="./assets/img/media/3.jpg"></div>
    </div>
    <div class="col-md-6 col-lg-3 ">
        <div class="card overflow-hidden custom-card">
        <div class="card-body ">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div><img alt="Image" class="img-fluid b-img" src="./assets/img/media/4.jpg"></div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md">
        <div class="card overflow-hidden card-blog-overlay1 custom-card">
            <div class="card-body  text-white z-index2">
                <h3 class="main-content-label text-white">card-with image</h3>
                <p class="tx-white-7 tx-13 mb-0 mt-2">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur Some quick example text to build on the card title and make up the bulk of the card's content...</p>
            </div>
            <div class="card-footer  text-white z-index2">
                This is Basic card footer
            </div>
        </div>
    </div>
    <div class="col-md ">
        <div class="card overflow-hidden card-blog-overlay2 custom-card">
            <div class="card-header border-bottom-0 custom-card-header">
                <h3 class="main-content-label text-white mb-0">card-with image</h3>
            </div>
            <div class="card-body  text-white z-index2">
                <p class="tx-white-7 tx-13">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
                <a class="tx-white" href="javascript:;">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md ">
        <div class="card overflow-hidden card-blog-overlay custom-card">
            <div class="card-body text-white z-index2">
                <h3 class="main-content-label text-white">card-with image</h3>
                <p class="tx-white-7 tx-13 mt-2">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur Some quick example text to build on the card title and make up the bulk of the card's content...</p>
                <button class="btn btn-sm btn-primary">Read more</button>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md-4">
        <div class="card custom-card">
            <div class="card-header p-3 tx-semibold tx-white bg-primary">
                Description
            </div>
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card custom-card">
            <div class="card-header p-3 tx-semibold tx-white bg-secondary">
                Description
            </div>
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 ">
        <div class="card custom-card">
            <div class="card-header p-3 tx-semibold tx-white bg-success">
                Description
            </div>
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md">
        <div class="card custom-card">
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
            <div class="card-footer">
                January, 20, 2017 4:30am
            </div>
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card">
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
            <div class="card-footer tx-center">
                <a href="javascript:;">Read more</a>
            </div>
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card">
            <div class="card-body">
                <p class="mg-b-0">Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur...</p>
            </div>
            <div class="card-footer tx-center">
                <a class="btn ripple btn-primary btn-sm" href="javascript:;">Read More</a>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-md">
        <div class="card custom-card card-body tx-white-8 bg-primary border-0">
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur.
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card card-body tx-white-8 bg-secondary border-0">
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur.
        </div>
    </div>
    <div class="col-md ">
        <div class="card custom-card card-body tx-white-8 bg-gray-800 border-0">
            Some quick example text to build on the card title and make up the bulk of the card's content. Lorem ipsum dolor sit amet consictetur.
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-6">
        <div class="card card-aside custom-card">
            <a class="card-aside-column cover-image rounded-start-11" href="javascript:;" ><img class="cover-image rounded-start-11" src="./assets/img/media/11.jpg" style="background: url(&quot;./assets/img/media/11.jpg&quot;) center center;"></a>
            <div class="card-body">
                <h5 class="main-content-label mg-b-10">The Card Title</h5>
                <div class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="d-flex align-items-center pt-3 mt-auto">
                    <div class="main-img-user avatar-sm me-3">
                        <img src="./assets/img/users/1.jpg" class="w-10 rounded-circle" alt="avatar-img">
                    </div>
                    <div>
                        <a routerLink="/pages/profile" class="text-default tx-semibold">Alica Nestle</a>
                        <small class="d-block text-muted">15 mintues ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-heart me-1"></i></a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-thumbs-up"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card card-aside custom-card">
            <div class="card-body">
                <h5 class="main-content-label mg-b-10">The Card Title</h5>
                <div class="">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                <div class="d-flex align-items-center pt-3 mt-auto">
                    <div class="main-img-user avatar-sm me-3">
                        <img src="./assets/img/users/2.jpg" class="w-10 rounded-circle" alt="avatar-img">
                    </div>
                    <div>
                        <a routerLink="/pages/profile" class="text-default tx-semibold">Mericon Elsa</a>
                        <small class="d-block text-muted">15 mintues ago</small>
                    </div>
                    <div class="ms-auto text-muted">
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-heart me-1"></i></a>
                        <a href="javascript:void(0)" class="icon d-none d-md-inline-block ms-3"><i class="far fa-thumbs-up"></i></a>
                    </div>
                </div>
            </div>
            <a class="card-aside-column cover-image rounded-end-11" href="javascript:;" ><img class="cover-image rounded-end-11" src="./assets/img/media/13.jpg" style="background: url(&quot;./assets/img/media/13.jpg&quot;) center center;"></a>
        </div>
    </div>
</div>
<!-- End Row -->