<div class="card-custom card">
    <div class="card-header">
        <p class="fw-bold">
            {{title}}
        </p>
    </div>
    <div class="card-body">

        <form [formGroup]="formGroup">
<!--            <div class="mb-3">-->
            <!--                <mat-form-field class="w-100" appearance="outline">-->
            <!--                    <mat-label>Mã</mat-label>-->
            <!--                    <input formControlName="ma" type="text"-->
            <!--                           id="exampleInputMa1"-->
            <!--                           aria-describedby="maHelp" required maxlength="10"-->
            <!--                           matInput-->
            <!--                    >-->
            <!--                    <mat-error-->
            <!--                        *ngIf="formGroup.get('ma')?.hasError('required')-->
            <!--                    && formGroup.get('ma')?.touched">Bạn phải nhập mã-->
            <!--                    </mat-error>-->
            <!--&lt;!&ndash;                    <mat-error&ndash;&gt;-->
            <!--                    &lt;!&ndash;                        *ngIf="formGroup.get('ma')?.hasError('maxlength')&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    && formGroup.get('ma')?.touched">Mã không dài quá 10 ký tự&ndash;&gt;-->
            <!--                    &lt;!&ndash;                    </mat-error>&ndash;&gt;-->
            <!--                </mat-form-field>-->
            <!--            </div>-->
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Tên</mat-label>
                    <input formControlName="ten" type="text"
                           id="exampleInputTen1" required maxlength="54"
                           matInput>
                    <mat-error
                        *ngIf="formGroup.get('ten')?.hasError('required') &&
                  formGroup.get('ten')?.touched">Bạn phải nhập tên
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-label>Trạng thái</mat-label>
                <mat-radio-group formControlName="trangThai">
                    <mat-radio-button class="mx-5" value="1" [checked]="formGroup.value.trangThai == 1">Hoạt động
                    </mat-radio-button>
                    <mat-radio-button value="0" [checked]="formGroup.value.trangThai != 1">Không hoạt động
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Địa chỉ</mat-label>
                    <input formControlName="diaChi" type="text"
                           id="exampleInputDiaChi1" required maxlength="255"
                           matInput>
                    <mat-error
                        *ngIf="formGroup.get('diaChi')?.hasError('required') &&
                  formGroup.get('diaChi')?.touched">Bạn phải nhập địa chỉ
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="mb-3">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Mô tả</mat-label>
                    <textarea
                        style="resize: none"
                        rows="6"
                        formControlName="moTa" type="text"
                        id="exampleInputMota1"
                        matInput>
                    </textarea>
                    <mat-error
                        *ngIf="formGroup.get('moTa')?.hasError('maxlength') &&
                  formGroup.get('moTa')?.touched">Mô tả tối đa 255 ký tự
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-center">
                <button mat-raised-button color="accent" (click)="saveTacGia()">Submit</button>
                <button mat-raised-button color="warn" (click)="close()" class="mx-5">Close</button>
            </div>
        </form>

    </div>
</div>
