<app-page-header [title]="'Feather icons'" [items]="['Icons']" [active_item]="'Feather icons'"></app-page-header>
<!-- Row-->
<div class="row row-sm">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                    <h3 class="main-content-label">Feather Icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://feathericons.com" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="fe fe-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="fe fe-activity" ngbTooltip="fe fe-activity"></i></li>
                                <li class="icons-list-item"><i class="fe fe-airplay" ngbTooltip="fe fe-airplay"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-circle" ngbTooltip="fe fe-alert-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-octagon" ngbTooltip="fe fe-alert-octagon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-alert-triangle" ngbTooltip="fe fe-alert-triangle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-center" ngbTooltip="fe fe-align-center"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-justify" ngbTooltip="fe fe-align-justify"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-left" ngbTooltip="fe fe-align-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-align-right" ngbTooltip="fe fe-align-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-anchor" ngbTooltip="fe fe-anchor"></i></li>
                                <li class="icons-list-item"><i class="fe fe-aperture" ngbTooltip="fe fe-aperture"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down" ngbTooltip="fe fe-arrow-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-circle" ngbTooltip="fe fe-arrow-down-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-left" ngbTooltip="fe fe-arrow-down-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-down-right" ngbTooltip="fe fe-arrow-down-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-left" ngbTooltip="fe fe-arrow-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-left-circle" ngbTooltip="fe fe-arrow-left-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-right" ngbTooltip="fe fe-arrow-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-right-circle" ngbTooltip="fe fe-arrow-right-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up" ngbTooltip="fe fe-arrow-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-circle" ngbTooltip="fe fe-arrow-up-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-left" ngbTooltip="fe fe-arrow-up-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-arrow-up-right" ngbTooltip="fe fe-arrow-up-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-at-sign" ngbTooltip="fe fe-at-sign"></i></li>
                                <li class="icons-list-item"><i class="fe fe-award" ngbTooltip="fe fe-award"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bar-chart" ngbTooltip="fe fe-bar-chart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bar-chart-2" ngbTooltip="fe fe-bar-chart-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-battery" ngbTooltip="fe fe-battery"></i></li>
                                <li class="icons-list-item"><i class="fe fe-battery-charging" ngbTooltip="fe fe-battery-charging"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bell" ngbTooltip="fe fe-bell"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bell-off" ngbTooltip="fe fe-bell-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bluetooth" ngbTooltip="fe fe-bluetooth"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bold" ngbTooltip="fe fe-bold"></i></li>
                                <li class="icons-list-item"><i class="fe fe-book" ngbTooltip="fe fe-book"></i></li>
                                <li class="icons-list-item"><i class="fe fe-book-open" ngbTooltip="fe fe-book-open"></i></li>
                                <li class="icons-list-item"><i class="fe fe-bookmark" ngbTooltip="fe fe-bookmark"></i></li>
                                <li class="icons-list-item"><i class="fe fe-box" ngbTooltip="fe fe-box"></i></li>
                                <li class="icons-list-item"><i class="fe fe-briefcase" ngbTooltip="fe fe-briefcase"></i></li>
                                <li class="icons-list-item"><i class="fe fe-calendar" ngbTooltip="fe fe-calendar"></i></li>
                                <li class="icons-list-item"><i class="fe fe-camera" ngbTooltip="fe fe-camera"></i></li>
                                <li class="icons-list-item"><i class="fe fe-camera-off" ngbTooltip="fe fe-camera-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cast" ngbTooltip="fe fe-cast"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check" ngbTooltip="fe fe-check"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check-circle" ngbTooltip="fe fe-check-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-check-square" ngbTooltip="fe fe-check-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-down" ngbTooltip="fe fe-chevron-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-left" ngbTooltip="fe fe-chevron-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-right" ngbTooltip="fe fe-chevron-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevron-up" ngbTooltip="fe fe-chevron-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-down" ngbTooltip="fe fe-chevrons-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-left" ngbTooltip="fe fe-chevrons-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-right" ngbTooltip="fe fe-chevrons-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chevrons-up" ngbTooltip="fe fe-chevrons-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-chrome" ngbTooltip="fe fe-chrome"></i></li>
                                <li class="icons-list-item"><i class="fe fe-circle" ngbTooltip="fe fe-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-clipboard" ngbTooltip="fe fe-clipboard"></i></li>
                                <li class="icons-list-item"><i class="fe fe-clock" ngbTooltip="fe fe-clock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud" ngbTooltip="fe fe-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-drizzle" ngbTooltip="fe fe-cloud-drizzle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-lightning" ngbTooltip="fe fe-cloud-lightning"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-off" ngbTooltip="fe fe-cloud-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-rain" ngbTooltip="fe fe-cloud-rain"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cloud-snow" ngbTooltip="fe fe-cloud-snow"></i></li>
                                <li class="icons-list-item"><i class="fe fe-code" ngbTooltip="fe fe-code"></i></li>
                                <li class="icons-list-item"><i class="fe fe-codepen" ngbTooltip="fe fe-codepen"></i></li>
                                <li class="icons-list-item"><i class="fe fe-command" ngbTooltip="fe fe-command"></i></li>
                                <li class="icons-list-item"><i class="fe fe-compass" ngbTooltip="fe fe-compass"></i></li>
                                <li class="icons-list-item"><i class="fe fe-copy" ngbTooltip="fe fe-copy"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-down-left" ngbTooltip="fe fe-corner-down-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-down-right" ngbTooltip="fe fe-corner-down-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-left-down" ngbTooltip="fe fe-corner-left-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-left-up" ngbTooltip="fe fe-corner-left-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-right-down" ngbTooltip="fe fe-corner-right-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-right-up" ngbTooltip="fe fe-corner-right-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-up-left" ngbTooltip="fe fe-corner-up-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-corner-up-right" ngbTooltip="fe fe-corner-up-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-cpu" ngbTooltip="fe fe-cpu"></i></li>
                                <li class="icons-list-item"><i class="fe fe-credit-card" ngbTooltip="fe fe-credit-card"></i></li>
                                <li class="icons-list-item"><i class="fe fe-crop" ngbTooltip="fe fe-crop"></i></li>
                                <li class="icons-list-item"><i class="fe fe-crosshair" ngbTooltip="fe fe-crosshair"></i></li>
                                <li class="icons-list-item"><i class="fe fe-database" ngbTooltip="fe fe-database"></i></li>
                                <li class="icons-list-item"><i class="fe fe-delete" ngbTooltip="fe fe-delete"></i></li>
                                <li class="icons-list-item"><i class="fe fe-disc" ngbTooltip="fe fe-disc"></i></li>
                                <li class="icons-list-item"><i class="fe fe-dollar-sign" ngbTooltip="fe fe-dollar-sign"></i></li>
                                <li class="icons-list-item"><i class="fe fe-download" ngbTooltip="fe fe-download"></i></li>
                                <li class="icons-list-item"><i class="fe fe-download-cloud" ngbTooltip="fe fe-download-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-droplet" ngbTooltip="fe fe-droplet"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit" ngbTooltip="fe fe-edit"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit-2" ngbTooltip="fe fe-edit-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-edit-3" ngbTooltip="fe fe-edit-3"></i></li>
                                <li class="icons-list-item"><i class="fe fe-external-link" ngbTooltip="fe fe-external-link"></i></li>
                                <li class="icons-list-item"><i class="fe fe-eye" ngbTooltip="fe fe-eye"></i></li>
                                <li class="icons-list-item"><i class="fe fe-eye-off" ngbTooltip="fe fe-eye-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-facebook" ngbTooltip="fe fe-facebook"></i></li>
                                <li class="icons-list-item"><i class="fe fe-fast-forward" ngbTooltip="fe fe-fast-forward"></i></li>
                                <li class="icons-list-item"><i class="fe fe-feather" ngbTooltip="fe fe-feather"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file" ngbTooltip="fe fe-file"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-minus" ngbTooltip="fe fe-file-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-plus" ngbTooltip="fe fe-file-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-file-text" ngbTooltip="fe fe-file-text"></i></li>
                                <li class="icons-list-item"><i class="fe fe-film" ngbTooltip="fe fe-film"></i></li>
                                <li class="icons-list-item"><i class="fe fe-filter" ngbTooltip="fe fe-filter"></i></li>
                                <li class="icons-list-item"><i class="fe fe-flag" ngbTooltip="fe fe-flag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder" ngbTooltip="fe fe-folder"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder-minus" ngbTooltip="fe fe-folder-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-folder-plus" ngbTooltip="fe fe-folder-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-branch" ngbTooltip="fe fe-git-branch"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-commit" ngbTooltip="fe fe-git-commit"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-merge" ngbTooltip="fe fe-git-merge"></i></li>
                                <li class="icons-list-item"><i class="fe fe-git-pull-request" ngbTooltip="fe fe-git-pull-request"></i></li>
                                <li class="icons-list-item"><i class="fe fe-github" ngbTooltip="fe fe-github"></i></li>
                                <li class="icons-list-item"><i class="fe fe-gitlab" ngbTooltip="fe fe-gitlab"></i></li>
                                <li class="icons-list-item"><i class="fe fe-globe" ngbTooltip="fe fe-globe"></i></li>
                                <li class="icons-list-item"><i class="fe fe-grid" ngbTooltip="fe fe-grid"></i></li>
                                <li class="icons-list-item"><i class="fe fe-hard-drive" ngbTooltip="fe fe-hard-drive"></i></li>
                                <li class="icons-list-item"><i class="fe fe-hash" ngbTooltip="fe fe-hash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-headphones" ngbTooltip="fe fe-headphones"></i></li>
                                <li class="icons-list-item"><i class="fe fe-heart" ngbTooltip="fe fe-heart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-help-circle" ngbTooltip="fe fe-help-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-home" ngbTooltip="fe fe-home"></i></li>
                                <li class="icons-list-item"><i class="fe fe-image" ngbTooltip="fe fe-image"></i></li>
                                <li class="icons-list-item"><i class="fe fe-inbox" ngbTooltip="fe fe-inbox"></i></li>
                                <li class="icons-list-item"><i class="fe fe-info" ngbTooltip="fe fe-info"></i></li>
                                <li class="icons-list-item"><i class="fe fe-instagram" ngbTooltip="fe fe-instagram"></i></li>
                                <li class="icons-list-item"><i class="fe fe-italic" ngbTooltip="fe fe-italic"></i></li>
                                <li class="icons-list-item"><i class="fe fe-layers" ngbTooltip="fe fe-layers"></i></li>
                                <li class="icons-list-item"><i class="fe fe-layout" ngbTooltip="fe fe-layout"></i></li>
                                <li class="icons-list-item"><i class="fe fe-life-buoy" ngbTooltip="fe fe-life-buoy"></i></li>
                                <li class="icons-list-item"><i class="fe fe-link" ngbTooltip="fe fe-link"></i></li>
                                <li class="icons-list-item"><i class="fe fe-link-2" ngbTooltip="fe fe-link-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-linkedin" ngbTooltip="fe fe-linkedin"></i></li>
                                <li class="icons-list-item"><i class="fe fe-list" ngbTooltip="fe fe-list"></i></li>
                                <li class="icons-list-item"><i class="fe fe-loader" ngbTooltip="fe fe-loader"></i></li>
                                <li class="icons-list-item"><i class="fe fe-lock" ngbTooltip="fe fe-lock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-log-in" ngbTooltip="fe fe-log-in"></i></li>
                                <li class="icons-list-item"><i class="fe fe-log-out" ngbTooltip="fe fe-log-out"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mail" ngbTooltip="fe fe-mail"></i></li>
                                <li class="icons-list-item"><i class="fe fe-map" ngbTooltip="fe fe-map"></i></li>
                                <li class="icons-list-item"><i class="fe fe-map-pin" ngbTooltip="fe fe-map-pin"></i></li>
                                <li class="icons-list-item"><i class="fe fe-maximize" ngbTooltip="fe fe-maximize"></i></li>
                                <li class="icons-list-item"><i class="fe fe-maximize-2" ngbTooltip="fe fe-maximize-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-menu" ngbTooltip="fe fe-menu"></i></li>
                                <li class="icons-list-item"><i class="fe fe-message-circle" ngbTooltip="fe fe-message-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-message-square" ngbTooltip="fe fe-message-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mic" ngbTooltip="fe fe-mic"></i></li>
                                <li class="icons-list-item"><i class="fe fe-mic-off" ngbTooltip="fe fe-mic-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minimize" ngbTooltip="fe fe-minimize"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minimize-2" ngbTooltip="fe fe-minimize-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus" ngbTooltip="fe fe-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus-circle" ngbTooltip="fe fe-minus-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-minus-square" ngbTooltip="fe fe-minus-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-monitor" ngbTooltip="fe fe-monitor"></i></li>
                                <li class="icons-list-item"><i class="fe fe-moon" ngbTooltip="fe fe-moon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-more-horizontal" ngbTooltip="fe fe-more-horizontal"></i></li>
                                <li class="icons-list-item"><i class="fe fe-more-vertical" ngbTooltip="fe fe-more-vertical"></i></li>
                                <li class="icons-list-item"><i class="fe fe-move" ngbTooltip="fe fe-move"></i></li>
                                <li class="icons-list-item"><i class="fe fe-music" ngbTooltip="fe fe-music"></i></li>
                                <li class="icons-list-item"><i class="fe fe-navigation" ngbTooltip="fe fe-navigation"></i></li>
                                <li class="icons-list-item"><i class="fe fe-navigation-2" ngbTooltip="fe fe-navigation-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-octagon" ngbTooltip="fe fe-octagon"></i></li>
                                <li class="icons-list-item"><i class="fe fe-package" ngbTooltip="fe fe-package"></i></li>
                                <li class="icons-list-item"><i class="fe fe-paperclip" ngbTooltip="fe fe-paperclip"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pause" ngbTooltip="fe fe-pause"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pause-circle" ngbTooltip="fe fe-pause-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-percent" ngbTooltip="fe fe-percent"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone" ngbTooltip="fe fe-phone"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-call" ngbTooltip="fe fe-phone-call"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-forwarded" ngbTooltip="fe fe-phone-forwarded"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-incoming" ngbTooltip="fe fe-phone-incoming"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-missed" ngbTooltip="fe fe-phone-missed"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-off" ngbTooltip="fe fe-phone-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-phone-outgoing" ngbTooltip="fe fe-phone-outgoing"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pie-chart" ngbTooltip="fe fe-pie-chart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-play" ngbTooltip="fe fe-play"></i></li>
                                <li class="icons-list-item"><i class="fe fe-play-circle" ngbTooltip="fe fe-play-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus" ngbTooltip="fe fe-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus-circle" ngbTooltip="fe fe-plus-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-plus-square" ngbTooltip="fe fe-plus-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-pocket" ngbTooltip="fe fe-pocket"></i></li>
                                <li class="icons-list-item"><i class="fe fe-power" ngbTooltip="fe fe-power"></i></li>
                                <li class="icons-list-item"><i class="fe fe-printer" ngbTooltip="fe fe-printer"></i></li>
                                <li class="icons-list-item"><i class="fe fe-radio" ngbTooltip="fe fe-radio"></i></li>
                                <li class="icons-list-item"><i class="fe fe-refresh-ccw" ngbTooltip="fe fe-refresh-ccw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-refresh-cw" ngbTooltip="fe fe-refresh-cw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-repeat" ngbTooltip="fe fe-repeat"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rewind" ngbTooltip="fe fe-rewind"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rotate-ccw" ngbTooltip="fe fe-rotate-ccw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rotate-cw" ngbTooltip="fe fe-rotate-cw"></i></li>
                                <li class="icons-list-item"><i class="fe fe-rss" ngbTooltip="fe fe-rss"></i></li>
                                <li class="icons-list-item"><i class="fe fe-save" ngbTooltip="fe fe-save"></i></li>
                                <li class="icons-list-item"><i class="fe fe-scissors" ngbTooltip="fe fe-scissors"></i></li>
                                <li class="icons-list-item"><i class="fe fe-search" ngbTooltip="fe fe-search"></i></li>
                                <li class="icons-list-item"><i class="fe fe-send" ngbTooltip="fe fe-send"></i></li>
                                <li class="icons-list-item"><i class="fe fe-server" ngbTooltip="fe fe-server"></i></li>
                                <li class="icons-list-item"><i class="fe fe-settings" ngbTooltip="fe fe-settings"></i></li>
                                <li class="icons-list-item"><i class="fe fe-share" ngbTooltip="fe fe-share"></i></li>
                                <li class="icons-list-item"><i class="fe fe-share-2" ngbTooltip="fe fe-share-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shield" ngbTooltip="fe fe-shield"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shield-off" ngbTooltip="fe fe-shield-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shopping-bag" ngbTooltip="fe fe-shopping-bag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shopping-cart" ngbTooltip="fe fe-shopping-cart"></i></li>
                                <li class="icons-list-item"><i class="fe fe-shuffle" ngbTooltip="fe fe-shuffle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sidebar" ngbTooltip="fe fe-sidebar"></i></li>
                                <li class="icons-list-item"><i class="fe fe-skip-back" ngbTooltip="fe fe-skip-back"></i></li>
                                <li class="icons-list-item"><i class="fe fe-skip-forward" ngbTooltip="fe fe-skip-forward"></i></li>
                                <li class="icons-list-item"><i class="fe fe-slack" ngbTooltip="fe fe-slack"></i></li>
                                <li class="icons-list-item"><i class="fe fe-slash" ngbTooltip="fe fe-slash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sliders" ngbTooltip="fe fe-sliders"></i></li>
                                <li class="icons-list-item"><i class="fe fe-smartphone" ngbTooltip="fe fe-smartphone"></i></li>
                                <li class="icons-list-item"><i class="fe fe-speaker" ngbTooltip="fe fe-speaker"></i></li>
                                <li class="icons-list-item"><i class="fe fe-square" ngbTooltip="fe fe-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-star" ngbTooltip="fe fe-star"></i></li>
                                <li class="icons-list-item"><i class="fe fe-stop-circle" ngbTooltip="fe fe-stop-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sun" ngbTooltip="fe fe-sun"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sunrise" ngbTooltip="fe fe-sunrise"></i></li>
                                <li class="icons-list-item"><i class="fe fe-sunset" ngbTooltip="fe fe-sunset"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tablet" ngbTooltip="fe fe-tablet"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tag" ngbTooltip="fe fe-tag"></i></li>
                                <li class="icons-list-item"><i class="fe fe-target" ngbTooltip="fe fe-target"></i></li>
                                <li class="icons-list-item"><i class="fe fe-terminal" ngbTooltip="fe fe-terminal"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thermometer" ngbTooltip="fe fe-thermometer"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thumbs-down" ngbTooltip="fe fe-thumbs-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-thumbs-up" ngbTooltip="fe fe-thumbs-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-toggle-left" ngbTooltip="fe fe-toggle-left"></i></li>
                                <li class="icons-list-item"><i class="fe fe-toggle-right" ngbTooltip="fe fe-toggle-right"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trash" ngbTooltip="fe fe-trash"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trash-2" ngbTooltip="fe fe-trash-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trending-down" ngbTooltip="fe fe-trending-down"></i></li>
                                <li class="icons-list-item"><i class="fe fe-trending-up" ngbTooltip="fe fe-trending-up"></i></li>
                                <li class="icons-list-item"><i class="fe fe-triangle" ngbTooltip="fe fe-triangle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-truck" ngbTooltip="fe fe-truck"></i></li>
                                <li class="icons-list-item"><i class="fe fe-tv" ngbTooltip="fe fe-tv"></i></li>
                                <li class="icons-list-item"><i class="fe fe-twitter" ngbTooltip="fe fe-twitter"></i></li>
                                <li class="icons-list-item"><i class="fe fe-type" ngbTooltip="fe fe-type"></i></li>
                                <li class="icons-list-item"><i class="fe fe-umbrella" ngbTooltip="fe fe-umbrella"></i></li>
                                <li class="icons-list-item"><i class="fe fe-underline" ngbTooltip="fe fe-underline"></i></li>
                                <li class="icons-list-item"><i class="fe fe-unlock" ngbTooltip="fe fe-unlock"></i></li>
                                <li class="icons-list-item"><i class="fe fe-upload" ngbTooltip="fe fe-upload"></i></li>
                                <li class="icons-list-item"><i class="fe fe-upload-cloud" ngbTooltip="fe fe-upload-cloud"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user" ngbTooltip="fe fe-user"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-check" ngbTooltip="fe fe-user-check"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-minus" ngbTooltip="fe fe-user-minus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-plus" ngbTooltip="fe fe-user-plus"></i></li>
                                <li class="icons-list-item"><i class="fe fe-user-x" ngbTooltip="fe fe-user-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-users" ngbTooltip="fe fe-users"></i></li>
                                <li class="icons-list-item"><i class="fe fe-video" ngbTooltip="fe fe-video"></i></li>
                                <li class="icons-list-item"><i class="fe fe-video-off" ngbTooltip="fe fe-video-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-voicemail" ngbTooltip="fe fe-voicemail"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume" ngbTooltip="fe fe-volume"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-1" ngbTooltip="fe fe-volume-1"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-2" ngbTooltip="fe fe-volume-2"></i></li>
                                <li class="icons-list-item"><i class="fe fe-volume-x" ngbTooltip="fe fe-volume-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-watch" ngbTooltip="fe fe-watch"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wifi" ngbTooltip="fe fe-wifi"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wifi-off" ngbTooltip="fe fe-wifi-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-wind" ngbTooltip="fe fe-wind"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x" ngbTooltip="fe fe-x"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x-circle" ngbTooltip="fe fe-x-circle"></i></li>
                                <li class="icons-list-item"><i class="fe fe-x-square" ngbTooltip="fe fe-x-square"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zap" ngbTooltip="fe fe-zap"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zap-off" ngbTooltip="fe fe-zap-off"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zoom-in" ngbTooltip="fe fe-zoom-in"></i></li>
                                <li class="icons-list-item"><i class="fe fe-zoom-out" ngbTooltip="fe fe-zoom-out"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>