<app-page-header [title]="'File details'" [items]="['apps','File manager']" [active_item]="'File details'"></app-page-header>

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-8 col-lg-12 col-md-12">
        <div class="card custom-card overflow-hidden">
            <div class="card-body px-4 pt-4">
                <a href="javascript:;"><img src="./assets/img/files/img1.jpg" alt="img" class="rounded-6 w-100"></a>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body h-100">
                <h5 class="mb-3 tx-semibold">Related Files</h5>
                <!-- <div id="owl-demo2" class="owl-carousel owl-carousel-icons2">
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/01.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image1.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">45 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/07.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image2.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">45 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/02.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image3.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">92 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/03.jpg" alt="img"></a>
                            <div class="card-footer border py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image4.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">56 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/04.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image5.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">56 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/05.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image6.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">92 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="card custom-card overflow-hidden">
                            <a href="javascript:;"><img src="./assets/img/files/06.jpg" alt="img"></a>
                            <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">image7.jpg</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">56 KB</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <owl-carousel-o [options]="customOptions">
                    <ng-container *ngFor="let slide of slidesStore">
                      <ng-template carouselSlide [id]="slide.id">
                        <div class="item m-2">
                            <div class="card custom-card overflow-hidden">
                              <a href="javascript:;"><img [src]="slide.src" [alt]="slide.alt"></a>
                              <div class="card-footer border bd-t-0 py-2 px-3">
                                <div class="d-flex">
                                    <div class="d-flex text-break">
                                        <i class="mdi mdi-file-image tx-20 text-danger me-1"></i>
                                        <h6 class="mb-0 mt-2 tx-semibold">{{slide.title}}</h6>
                                    </div>
                                    <div class="ms-auto my-auto">
                                        <h6 class="text-muted mb-0 tx-normal">{{slide.size}}</h6>
                                    </div>
                                </div>
                              </div>
                          </div>
                        </div>

                      </ng-template>
                    </ng-container>
                  </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <h5 class="mb-3 tx-15 tx-semibold tx-uppercase">File details</h5>
                <div class="">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="table-responsive">
                                <table class="table mb-0 table-bordered text-nowrap">
                                    <tbody>
                                        <tr>
                                            <th>File Name</th>
                                            <td>image.jpg</td>
                                        </tr>
                                        <tr>
                                            <th>File Size</th>
                                            <td>15 MB</td>
                                        </tr>
                                        <tr>
                                            <th>Date Created</th>
                                            <td>09-09-2021</td>
                                        </tr>
                                        <tr>
                                            <th>Width</th>
                                            <td>1000</td>
                                        </tr>
                                        <tr>
                                            <th>Height</th>
                                            <td>500</td>
                                        </tr>
                                        <tr>
                                            <th>Dimensions</th>
                                            <td>1000 x 500</td>
                                        </tr>
                                        <tr>
                                            <th>Resolution Unit</th>
                                            <td>2</td>
                                        </tr>
                                        <tr>
                                            <th>File Format</th>
                                            <td>jpg</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body pb-0">
                <h5 class="mb-3 tx-semibold">Recent Files</h5>
                <ul class="list-unstyled row" gallerize>
                    <img  class="col-xs-6 col-sm-4 col-md-4 col-xl-4 mb-3 border-bottom-0 img-responsive rounded-6" *ngFor="let img of imageData" [src]="img.srcUrl">
                  </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->