<app-page-header [title]="'Buttons'" [items]="['Elements']" [active_item]="'Buttons'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Default Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary">Primary</button>
              <button class="btn ripple btn-secondary">Secondary</button>
              <button class="btn ripple btn-success">Success</button>
              <button class="btn ripple btn-warning">Warning</button>
              <button class="btn ripple btn-danger">Danger</button>
              <button class="btn ripple btn-info">Info</button>
              <button class="btn ripple btn-light">Light</button>
              <button class="btn ripple btn-dark">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Disabled Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary  disabled">Primary</button>
              <button class="btn ripple btn-secondary disabled">Secondary</button>
              <button class="btn ripple btn-success disabled">Success</button>
              <button class="btn ripple btn-warning disabled">Warning</button>
              <button class="btn ripple btn-danger disabled">Danger</button>
              <button class="btn ripple btn-info disabled">Info</button>
              <button class="btn ripple btn-light  disabled">Light</button>
              <button class="btn ripple btn-dark  disabled">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card" id="round">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Rounded Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary btn-rounded">Primary</button>
              <button class="btn ripple btn-secondary btn-rounded">Secondary</button>
              <button class="btn ripple btn-success btn-rounded">Success</button>
              <button class="btn ripple btn-danger btn-rounded">Danger</button>
              <button class="btn ripple btn-info btn-rounded">Info</button>
              <button class="btn ripple btn-warning btn-rounded">Warning</button>
              <button class="btn ripple btn-light btn-rounded">Light</button>
              <button class="btn ripple btn-dark btn-rounded">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Disabled Rounded Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary  disabled btn-rounded">Primary</button>
              <button class="btn ripple btn-secondary disabled btn-rounded">Secondary</button>
              <button class="btn ripple btn-success disabled btn-rounded">Success</button>
              <button class="btn ripple btn-warning disabled btn-rounded">Warning</button>
              <button class="btn ripple btn-danger disabled btn-rounded">Danger</button>
              <button class="btn ripple btn-info disabled btn-rounded">Info</button>
              <button class="btn ripple btn-light  disabled btn-rounded">Light</button>
              <button class="btn ripple btn-dark  disabled btn-rounded">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card" id="outline">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Outline Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-outline-primary">Primary</button>
              <button class="btn ripple btn-outline-secondary">Secondary</button>
              <button class="btn ripple btn-outline-light">Light</button>
              <button class="btn ripple btn-outline-dark">Dark</button>
              <button class="btn ripple btn-outline-success">Success</button>
              <button class="btn ripple btn-outline-danger">Danger</button>
              <button class="btn ripple btn-outline-info">Info</button>
              <button class="btn ripple btn-outline-warning">warning</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Disabled Outline Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-outline-primary disabled">Primary</button>
              <button class="btn ripple btn-outline-secondary disabled">Secondary</button>
              <button class="btn ripple btn-outline-light disabled">Light</button>
              <button class="btn ripple btn-outline-dark disabled">Dark</button>
              <button class="btn ripple btn-outline-success disabled">Success</button>
              <button class="btn ripple btn-outline-danger disabled">Danger</button>
              <button class="btn ripple btn-outline-info disabled">Info</button>
              <button class="btn ripple btn-outline-warning disabled">warning</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Light Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary-transparent">Primary</button>
              <button class="btn ripple btn-secondary-transparent">Secondary</button>
              <button class="btn ripple btn-success-transparent">Success</button>
              <button class="btn ripple btn-danger-transparent">Danger</button>
              <button class="btn ripple btn-info-transparent">Info</button>
              <button class="btn ripple btn-warning-transparent">warning</button>
              <button class="btn ripple btn-dark-transparent">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1"> Rounded Light Buttons</h6>
          <p class="text-muted card-sub-title">Predefined button styles, each serving its own semantic purpose.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary-transparent btn-rounded">Primary</button>
              <button class="btn ripple btn-secondary-transparent btn-rounded">Secondary</button>
              <button class="btn ripple btn-success-transparent btn-rounded">Success</button>
              <button class="btn ripple btn-danger-transparent btn-rounded">Danger</button>
              <button class="btn ripple btn-info-transparent btn-rounded">Info</button>
              <button class="btn ripple btn-warning-transparent btn-rounded">warning</button>
              <button class="btn ripple btn-dark-transparent btn-rounded">Dark</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Button Sizes</h6>
          <p class="text-muted card-sub-title">Fancy larger or smaller buttons Add <code>.btn-lg</code> or
            <code>.btn-sm</code> for additional sizes.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button type="button" class="btn ripple btn-primary btn-lg">Large button</button>
              <button type="button" class="btn ripple btn-success">Default button</button>
              <button type="button" class="btn ripple btn-secondary btn-sm">Small button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Width Buttons</h6>
          <p class="text-muted card-sub-title">Fancy larger or smaller buttons Add <code>.w-xs</code> or
            <code>.w-sm</code> or <code>.w-md</code> or <code>.w-lg</code> for width.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button type="button" class="btn ripple btn-primary w-xs">XS</button>
              <button type="button" class="btn ripple btn-success w-sm">SM</button>
              <button type="button" class="btn ripple btn-secondary w-md">MD</button>
              <button type="button" class="btn ripple btn-info w-lg">LG</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Block Level Buttons</h6>
          <p class="text-muted card-sub-title">Fancy larger or smaller buttons Add <code>.btn-lg</code> or
            <code>.btn-md</code> or <code>.btn-sm</code> with <code>.btn-block</code> for additional sizes.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button type="button" class="btn ripple btn-info-transparent btn-block btn-lg">Block level button</button>
              <button type="button" class="btn ripple btn-secondary-transparent btn-block btn-md">Block level
                button</button>
              <button type="button" class="btn ripple  btn-success-transparent btn-block btn-sm">Block level
                button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card" id="icon">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Button with Icons</h6>
          <p class="text-muted card-sub-title">A basic button with added icons.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary"><i class="fe fe-folder me-1"></i> Folder</button>
              <button class="btn ripple btn-secondary"><i class="fe fe-plus me-1"></i> More</button>
              <button class="btn ripple btn-success"><i class="fe fe-edit me-1"></i> Edit</button>
              <button class="btn ripple btn-info"><i class="fe fe-download me-1"></i> Download</button>
              <button class="btn ripple btn-warning"><i class="fe fe-calendar me-1"></i> Calendar</button>
              <button class="btn ripple btn-danger"><i class="fe fe-heart me-1"></i> Like</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card" id="group">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Button Groups</h6>
          <p class="text-muted card-sub-title">Group a series of buttons together on a single line with the button
            group.</p>
        </div>
        <div class="text-wrap">
          <div class="example  overflow-hidden">
            <div class="btn-list">
              <div aria-label="Basic example" class="btn btn-group" role="group">
                <button class="btn ripple btn-success pd-x-25" type="button">Left</button>
                <button class="btn ripple btn-success pd-x-25" type="button">Center</button>
                <button class="btn ripple btn-success pd-x-25" type="button">Right</button>
              </div>
              <div aria-label="Basic example" class="btn btn-group" role="group">
                <button class="btn ripple btn-secondary btn-icon" type="button"><i
                    class="typcn typcn-media-play-outline"></i></button>
                <button class="btn ripple btn-secondary btn-icon" type="button"><i
                    class="typcn typcn-media-pause-outline"></i></button>
                <button class="btn ripple btn-secondary btn-icon" type="button"><i
                    class="typcn typcn-media-stop-outline"></i></button>
              </div>
              <div aria-label="Basic example" class="btn btn-group" role="group">
                <button class="btn ripple btn-primary btn-icon" type="button"><i
                    class="typcn typcn-media-play-outline"></i></button>
                <button class="btn ripple btn-primary btn-icon" type="button"><i
                    class="typcn typcn-media-pause-outline"></i></button>
                <button class="btn ripple btn-primary btn-icon" type="button"><i
                    class="typcn typcn-media-stop-outline"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Dropdown Buttons</h6>
          <p class="text-muted card-sub-title">A button variant for using only icons.</p>
        </div>
        <div class="text-wrap">
          <div class="btn-list d-flex flex-wrap">
            <div ngbDropdown>
              <button class="btn ripple btn-primary" ngbDropdownToggle>Dropdown <i
                  class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">Profile</a>
                <a class="dropdown-item" href="javascript:;">Activity Logs</a>
                <a class="dropdown-item" href="javascript:;">Account Settings</a>
                <a class="dropdown-item" href="javascript:;">Logout</a>
              </div>
            </div>
            <div ngbDropdown>
              <button class="btn ripple btn-secondary" ngbDropdownToggle>Dropdown <i
                  class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">Profile</a>
                <a class="dropdown-item" href="javascript:;">Activity Logs</a>
                <a class="dropdown-item" href="javascript:;">Account Settings</a>
                <a class="dropdown-item" href="javascript:;">Logout</a>
              </div>
            </div>
            <div ngbDropdown>
              <button class="btn ripple btn-success" ngbDropdownToggle>Dropdown <i
                  class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">Profile</a>
                <a class="dropdown-item" href="javascript:;">Activity Logs</a>
                <a class="dropdown-item" href="javascript:;">Account Settings</a>
                <a class="dropdown-item" href="javascript:;">Logout</a>
              </div>
            </div>
            <div ngbDropdown>
              <button class="btn ripple btn-info" ngbDropdownToggle>Dropdown <i
                  class="icon ion-ios-arrow-down tx-11 mg-l-3"></i></button>
              <div ngbDropdownMenu>
                <a class="dropdown-item" href="javascript:;">Profile</a>
                <a class="dropdown-item" href="javascript:;">Activity Logs</a>
                <a class="dropdown-item" href="javascript:;">Account Settings</a>
                <a class="dropdown-item" href="javascript:;">Logout</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-6">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Icon Buttons</h6>
          <p class="text-muted card-sub-title">A button variant for using only icons.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <button class="btn ripple btn-primary"><i class="fe fe-airplay"></i></button>
              <button class="btn ripple btn-secondary"><i class="fe fe-briefcase"></i></button>
              <button class="btn ripple btn-success"><i class="fe fe-folder"></i></button>
              <button class="btn ripple btn-info"><i class="fe fe-link"></i></button>
              <button class="btn ripple btn-danger"><i class="fe fe-heart"></i></button>
              <button class="btn ripple btn-warning"><i class="fe fe-calendar"></i></button>
              <button class="btn ripple btn-dark"><i class="fe fe-download"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-4">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Radio Buttons</h6>
          <p class="text-muted card-sub-title">A button variant by using Radio Group.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list radiobtns">
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio111" checked="">
                <label class="btn btn-outline-primary" for="btnradio111">Radio 1</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio222">
                <label class="btn btn-outline-primary" for="btnradio222">Radio 2</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio333">
                <label class="btn btn-outline-primary" for="btnradio333">Radio 3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-4">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Checkbox Buttons</h6>
          <p class="text-muted card-sub-title">A button variant by using Checkbox Group.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list checkboxbtns">
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck111">
                <label class="btn btn-outline-primary" for="btncheck111">Checkbox 1</label>
                <input type="checkbox" class="btn-check" id="btncheck222">
                <label class="btn btn-outline-primary" for="btncheck222">Checkbox 2</label>
                <input type="checkbox" class="btn-check" id="btncheck333">
                <label class="btn btn-outline-primary" for="btncheck333">Checkbox 3</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12 col-xl-4">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Button Toolbar</h6>
          <p class="text-muted card-sub-title">Combine sets of button groups into button toolbars.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group me-2 mb-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-primary">1</button>
                  <button type="button" class="btn btn-primary">2</button>
                  <button type="button" class="btn btn-primary">3</button>
                  <button type="button" class="btn btn-primary">4</button>
                </div>
                <div class="btn-group me-2 mb-2" role="group" aria-label="Second group">
                  <button type="button" class="btn btn-primary">5</button>
                  <button type="button" class="btn btn-primary">6</button>
                  <button type="button" class="btn btn-primary">7</button>
                </div>
                <div class="btn-group mb-2" role="group" aria-label="Third group">
                  <button type="button" class="btn btn-primary">8</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-lg-12">
    <div class="card custom-card">
      <div class="card-body">
        <div>
          <h6 class="main-content-label mb-1">Loading Button</h6>
          <p class="text-muted card-sub-title">Add <code>.btn-loader</code> to use a loading state on a button. The
            width of the button depends on the length of the text inside. Since the loading spinner is implemented using
            the element.</p>
        </div>
        <div class="text-wrap">
          <div class="example">
            <div class="btn-list btn-animation">
              <button class="btn btn-primary btn-loaders">Button</button>
              <button class="btn btn-secondary btn-loaders">Button</button>
              <button class="btn btn-success btn-loaders">Button</button>
              <button class="btn btn-warning btn-loaders">Button</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->