.bxl-google {
  color: var(--primary-bg-color);
  font-size: 22px;
  line-height: 35px !important;
  outline: none;
  height: 37px;
  width: 37px;
  background: #fff;
  margin: auto;
  text-align: center;
  border: 1px solid #f1ecf7;
  box-shadow: none;
  border-radius: 35px;
}