<!-- Page -->
<div class="page main-signin-wrapper bg-primary construction">

  <div class="container ">
    <div class="construction1 text-center details text-white">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h1 class="text-white display-1">500<span class="tx-20">error</span></h1>
        </div>
        <div class="col-lg-12 ">
          <h2 class="">Oops.The Page you are looking  for doesn't  exit..</h2>
          <h6 class="tx-15 mt-3 mb-4 tx-white-7 tx-normal">You may have mistyped the address or the page may have moved. Try searching below.</h6>
          <a class="btn ripple btn-success text-center" routerLink="/">Back to Home</a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- End Page -->