<div class="horizontalMenucontainer">
    <app-switcher></app-switcher>
    <div class="page">
            <!-- // header -->
            <app-switcherheader></app-switcherheader>
            <!-- //sidebar -->
            <app-sidebar appHoverEffectSidebar></app-sidebar>

        <div class="main-content side-content pt-0">
            <div class="main-container container-fluid" (click)="toggleSwitcherBody()">
                <div class="inner-body">
                    <!-- // contetnt  -->
            <router-outlet><app-loader></app-loader></router-outlet>
                </div>
            </div>  
        </div>
        <app-right-sidebar></app-right-sidebar>
        <app-footer></app-footer>
    </div>
</div>