<!-- Page -->
<div class="page main-signin-wrapper bg-primary construction">
  <div class="container ">
    <div class="construction1 text-center details text-white">
      <div class="">
        <img src="./assets/img/brand/logo-light.png" class="my-4" alt="logo">
        <h4 class="text-center text-white tx-30">We are Working on this Site.</h4>
        <p class="tx-white-7 tx-15">We're making the system more awesome.we'll be back shortly.</p>
        <div id="launch_date" class="is-countdown">
          <ul class="countdown">
            <li><span class="number">{{daysToDday}}</span><br><span class="time">Days</span></li>
            <li><span class="number">{{hoursToDday}}</span><br><span class="time">Hours</span></li>
            <li><span class="number">{{minutesToDday}}</span><br><span class="time">Minutes</span></li>
            <li><span class="number">{{secondsToDday}}</span><br><span class="time">Seconds</span></li>
          </ul>
        </div>
      </div>
      <div class="text-center mb-5">Copyright © 2022 <a href="https://www.spruko.com/" class="tx-white-7">Spruko</a> All
        rights reserved.</div>
    </div>
  </div>
</div>
<!-- End Page -->
