
<app-page-header [title]="'Blog Details'" [items]="['apps','Blog']" [active_item]="'Blog Details'"></app-page-header>
<!-- Row -->
<div class="row row-sm">
    <div class="col-xxl-9 col-xl-7 col-lg-7 col-md-7">
        <div class="card custom-card overflow-hidden">
            <div class="px-4 pt-4">
                <a href="javascript:;"><img src="./assets/img/media/blog-details.jpg" alt="img" class="rounded-6 w-100"></a>
            </div>
            <div class="card-body">
                <div class="item-card-desc d-flex mb-2">
                    <a href="javascript:;" class="d-flex me-4">
                        <i class="fe fe-calendar fs-18 me-2"></i>
                        <span class="my-auto text-dark">20-Mar-2021</span>
                    </a>
                    <a href="javascript:;" class="d-flex me-4">
                        <i class="fe fe-user fs-18 me-2"></i>
                        <span class="my-auto text-dark">Dennis Mark</span>
                    </a>
                    <a href="javascript:;" class="d-flex ms-auto">
                        <i class="fe fe-message-square fs-18 me-2"></i>
                        <span class="my-auto text-dark">6 Comments</span>
                    </a>
                </div>
                <a href="javascript:;" class="mt-4"><h4>Excepteur  occaecat cupidatat</h4></a>
                <p class="">I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                <p class="">Sunt in culpa qui officia cupidatat non proident, sunt in culpa qui officia deserunt No one rejects, dislikes, or avoids pleasure itself, because it is pleasure of denouncing pleasure and praising pain was born.of denouncing pleasure and praising pain was born.</p>
                <p class="">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.</p>
                <p class="tag tag-default px-2 py-1  mb-0 me-1">Travel</p>
                <p class="tag tag-default px-2 py-1 mb-0 me-1">Nature</p>
                <p class="tag tag-default px-2 py-1 mb-0 me-1">Life</p>
                <p class="tag tag-default px-2 py-1 mb-0">Discover</p>
            </div>
            <div class="card-footer">
                <div class="media profile-footer">
                    <div class="media-user">
                        <div class="demo-avatar-group">
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/12.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/7.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/5.jpg"></div>
                            <div class="main-img-user"><img alt="" class="rounded-circle" src="./assets/img/users/6.jpg"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-5 col-lg-5 col-md-5">
        <div class="card custom-card">
            <div class="card-header">
                <h6 class="main-content-label">Blog Categories</h6>
            </div>
            <div class="card-body">
                <div class="list-group list-group-transparent mb-0 file-manager">
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-food-apple fs-18 me-2 bg-success-light text-success px-2 py-1 rounded-6"></i>Nature & Life
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">30 Posts</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-food-fork-drink fs-18 me-2 bg-secondary-light text-secondary px-2 py-1 rounded-6"></i>Food & Drinks
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">25 Posts</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-car fs-18 me-2 bg-primary-light text-primary px-2 py-1 rounded-6"></i> Travel
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">16 Posts</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-music fs-18 me-2 bg-warning-light text-warning px-2 py-1 rounded-6"></i> Music
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">20 Posts</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-tshirt-v fs-18 me-2 bg-danger-light text-danger px-2 py-1 rounded-6"></i> Fashion
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">40 Posts</span>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center px-0">
                                <i class="mdi mdi-database fs-18 me-2 bg-info-light text-info px-2 py-1 rounded-6"></i> Technology
                            </a>
                        </div>
                        <div class="text-end ms-auto mt-3">
                            <span class="fs-11 text-dark">22 Posts</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <h6 class="main-content-label">Trending Posts</h6>
            </div>
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="media d-block d-sm-flex">
                        <img alt="img" class="wd-100p wd-sm-100  mg-sm-r-20 mg-b-20 mg-sm-b-0" src="./assets/img/media/6.jpg">
                        <div class="media-body my-auto">
                            <p class="mb-0 fs-13">Sed ut perspiciatis unde omnis iste natus error.</p>
                            <p class="mb-0 fs-11 text-muted">2 days ago</p>
                        </div>
                    </li>
                    <li class="media d-block d-sm-flex mg-t-25">
                        <img alt="img" class="wd-100p wd-sm-100  mg-sm-r-20 mg-b-20 mg-sm-b-0" src="./assets/img/media/7.jpg">
                        <div class="media-body my-auto">
                            <p class="mb-0 fs-13">Excepteur occaecat cupidatat doloremque laudantium.</p>
                            <p class="mb-0 fs-11 text-muted">2 days ago</p>
                        </div>
                    </li>
                    <li class="media d-block d-sm-flex mg-t-25">
                        <img alt="img" class="wd-100p wd-sm-100  mg-sm-r-20 mg-b-20 mg-sm-b-0" src="./assets/img/media/8.jpg">
                        <div class="media-body my-auto">
                            <p class="mb-0 fs-13">Sed ut perspiciatis unde omnis iste natus error.</p>
                            <p class="mb-0 fs-11 text-muted">2 days ago</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-3 tx-15">Comments</h6>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="media">
                            <div class="avatar avatar-md">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/2.jpg">
                            </div>
                            <div class="media-body ms-3 d-sm-flex">
                                <div class="">
                                    <p class="tx-15 text-dark mb-0 tx-semibold">Benedict Vallone</p>
                                    <p class="fs-11 text-muted mb-0">2 days ago</p>
                                    <p>Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>

                                    <div class="media mg-t-15">
                                        <div class="avatar avatar-sm">
                                            <img alt="avatar" class="rounded-circle" src="./assets/img/users/1.jpg">
                                        </div>
                                        <div class="media-body ms-3 d-flex">
                                            <div class="">
                                                <p class="tx-15 text-dark mb-0 tx-semibold">Jen Tile</p>
                                                <p class="fs-11 text-muted mb-0">2 days ago</p>
                                                <p class="mb-1">Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>
                                                <div class="text-end text-sm-start">
                                                    <a href="javascript:;" class="btn btn-primary btn-sm">Reply</a>
                                                    <a href="javascript:;" class="btn btn-light btn-sm ms-2">Like</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-auto float-end">
                                    <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Like"><i class="fe fe-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-wrap mt-2">
                    <div class="example">
                        <div class="media">
                            <div class="avatar avatar-md">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/3.jpg">
                            </div>
                            <div class="media-body ms-3 d-sm-flex">
                                <div class="">
                                    <p class="tx-15 text-dark mb-0 tx-semibold">Perry Scope</p>
                                    <p class="fs-11 text-muted mb-0">2 days ago</p>
                                    <p>Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>
                                    <div class="media mg-t-15">
                                        <div class="avatar avatar-sm">
                                            <img alt="avatar" class="rounded-circle" src="./assets/img/users/4.jpg">
                                        </div>
                                        <div class="media-body ms-3 d-flex">
                                            <div class="">
                                                <p class="tx-15 text-dark mb-0 tx-semibold">Ray Sin</p>
                                                <p class="fs-11 text-muted mb-0">2 days ago</p>
                                                <p class="mb-1">Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>
                                                <div class="text-end text-sm-start">
                                                    <a href="javascript:;" class="btn btn-primary btn-sm">Reply</a>
                                                    <a href="javascript:;" class="btn btn-light btn-sm ms-2">Like</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-auto float-end">
                                    <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Like"><i class="fe fe-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-wrap mt-2">
                    <div class="example">
                        <div class="media">
                            <div class="avatar avatar-md">
                                <img alt="avatar" class="rounded-circle" src="./assets/img/users/5.jpg">
                            </div>
                            <div class="media-body ms-3 d-sm-flex">
                                <div class="">
                                    <p class="tx-15 text-dark mb-0 tx-semibold">Lee Nonmi</p>
                                    <p class="fs-11 text-muted mb-0">2 days ago</p>
                                    <p>Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>
                                    <div class="media mg-t-15">
                                        <div class="avatar avatar-sm">
                                            <img alt="avatar" class="rounded-circle" src="./assets/img/users/6.jpg">
                                        </div>
                                        <div class="media-body ms-3 d-flex">
                                            <div class="">
                                                <p class="tx-15 text-dark mb-0 tx-semibold">Emma Grate</p>
                                                <p class="fs-11 text-muted mb-0">2 days ago</p>
                                                <p class="mb-1">Lorem ipsum dolor sit amet, quis Neque porro quisquam est, nostrud exercitation ullamco laboris</p>
                                                <div class="text-end text-sm-start">
                                                    <a href="javascript:;" class="btn btn-primary btn-sm">Reply</a>
                                                    <a href="javascript:;" class="btn btn-light btn-sm ms-2">Like</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ms-auto float-end">
                                    <a href="javascript:;" class="contact-icon text-primary" ngbTooltip="Like"><i class="fe fe-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
    <div class="col-xl-3 col-lg-12 col-md-12">
        <div class="card custom-card">
            <div class="card-header">
                <h6 class="main-content-label">All Tags</h6>
            </div>
            <div class="card-body">
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Nature and Life</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Travelling</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Travel</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Research</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Discover</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1 me-1">Beaches</span>
                <span class="tag tag-default px-2 py-1 mt-1 mb-1">Meeting</span>
            </div>
        </div>
    </div>
</div>
<!-- End Row -->

<!-- Row -->
<div class="row row-sm">
    <div class="col-xl-9 col-lg-12">
        <div class="card custom-card">
            <div class="card-body">
                <div>
                    <h6 class="main-content-label mb-3 tx-15">Add A Comment</h6>
                </div>
                <div class="text-wrap">
                    <div class="example">
                        <div class="">
                            <div class="form-group">
                                <input type="text" class="form-control" id="name1" placeholder="Your Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email" placeholder="Email Address">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="example-textarea-input" rows="6" placeholder="Write Comment"></textarea>
                            </div>
                            <a href="javascript:;" class="btn btn-primary">Send</a>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>
<!-- End Row -->