<app-page-header [title]="'Accordion'" [items]="['Elements']" [active_item]="'Accordion'"></app-page-header>
<!-- Row -->
<!-- row -->
<div class="row">
    <div class="col-lg-12 col-md-12 mb-3">
      <div class="card">
        <div class="card-header pb-3">
            <h6 class="main-content-label">Default Accordion</h6>
          </div>
        <div class="card-body pb-3">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel title=" Collapsible Group Item #1" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Collapsible Group Item #2" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Collapsible Group Item #3" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 mb-3">
      <div class="card">
        <div class="card-header pb-3">
            <h6 class="main-content-label">Close other Accordion</h6>
          </div>
        <div class="card-body pb-3">
          <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
            <ngb-panel title=" Collapsible Group Item #1" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Collapsible Group Item #2" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Collapsible Group Item #3" cardClass="acc-card">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
                moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
                proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
  </div>
<!-- End Row -->

<!-- Row -->
<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="card overflow-hidden">
      <div class="card-header pb-3">
        <h6 class="main-content-label">Accordion style</h6>
      </div>
      <div class="card-body">
        <div class="panel-group1" id="accordion1">
          <div class="panel panel-default mb-1 overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle firstgradient bg-gradient-primary collapsed "
                  (click)="FirstGradient()">Section 1</a>
              </h4>
            </div>
            <div *ngIf="isFirstGradient">
              <div class="panel-collapse">
                <div class="panel-body">
                  <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary,
                    making this the first true generator on the Internet. It uses a
                    dictionary of over 200 Latin words </p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues
                    or desires to obtain pain of itself, because it is pain, but
                    because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                    To take a trivial example, which of us ever undertakes laborious
                    physical exercise</p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default overflow-hidden">
            <div class="panel-heading1">
              <h4 class="panel-title1">
                <a class="accordion-toggle secondgradient bg-gradient-primary collapsed"
                  (click)="SecondGradient()">Section 2</a>
              </h4>
            </div>
            <div class="panel-collapse" *ngIf="isSecondGradient">
              <div class="panel-body">
                <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
                  this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled.Nor again is there anyone who loves or pursues or
                  desires to obtain pain of itself, because it is pain, but
                  because occasionally circumstances occur in which toil and pain can procure him some great pleasure.
                  To take a trivial example, which of us ever undertakes laborious
                  physical exercise</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Row -->