<app-page-header [title]="'Weather icons'" [items]="['Icons']" [active_item]="'Weather icons'"></app-page-header>
<!-- Row-->
<div class="row ">
    <div class="col-md-12">
        <div class="card custom-card">
            <div class="card-body">
                <div class="row row-sm">
                    <div class="col-lg-12 col-sm-12 mb-4">
                        <h3 class="main-content-label">Weather icons</h3>
                        <p class="mb-2">Simply beautiful open source icons. For more info <a href="https://erikflowers.github.io/weather-icons/" target="_blank">click here</a>.</p>
                        <p><code>&lt;i class="wi wi-ICON_NAME"&gt;&lt;/i&gt;</code></p>
                    </div>
                    <div class="col-sm-12 col-lg-12">
                        <div class="icons-list-wrap">
                            <ul class="icons-list">
                                <li class="icons-list-item"><i class="wi wi-day-cloudy-high" ngbTooltip="wi wi-day-cloudy-high"></i></li>
                                <li class="icons-list-item"><i class="wi wi-moonrise" ngbTooltip="wi wi-moonrise"></i></li>
                                <li class="icons-list-item"><i class="wi wi-na" ngbTooltip="wi wi-na"></i></li>
                                <li class="icons-list-item"><i class="wi wi-volcano" ngbTooltip="wi wi-volcano"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-light-wind" ngbTooltip="wi wi-day-light-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-moonset" ngbTooltip="wi wi-moonset"></i></li>
                                <li class="icons-list-item"><i class="wi wi-flood" ngbTooltip="wi wi-flood"></i></li>
                                <li class="icons-list-item"><i class="wi wi-train" ngbTooltip="wi wi-train"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sleet" ngbTooltip="wi wi-day-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-sleet" ngbTooltip="wi wi-night-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sandstorm" ngbTooltip="wi wi-sandstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-small-craft-advisory" ngbTooltip="wi wi-small-craft-advisory"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-haze" ngbTooltip="wi wi-day-haze"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-sleet" ngbTooltip="wi wi-night-alt-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-tsunami" ngbTooltip="wi wi-tsunami"></i></li>
                                <li class="icons-list-item"><i class="wi wi-gale-warning" ngbTooltip="wi wi-gale-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-cloudy-high" ngbTooltip="wi wi-night-cloudy-high"></i></li>
                                <li class="icons-list-item"><i class="wi wi-raindrop" ngbTooltip="wi wi-raindrop"></i></li>
                                <li class="icons-list-item"><i class="wi wi-earthquake" ngbTooltip="wi wi-earthquake"></i></li>
                                <li class="icons-list-item"><i class="wi wi-storm-warning" ngbTooltip="wi wi-storm-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-partly-cloudy" ngbTooltip="wi wi-night-alt-partly-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-barometer" ngbTooltip="wi wi-barometer"></i></li>
                                <li class="icons-list-item"><i class="wi wi-fire" ngbTooltip="wi wi-fire"></i></li>
                                <li class="icons-list-item"><i class="wi wi-hurricane-warning" ngbTooltip="wi wi-hurricane-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sleet" ngbTooltip="wi wi-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-humidity" ngbTooltip="wi wi-humidity"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sunny" ngbTooltip="wi wi-day-sunny"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-cloudy" ngbTooltip="wi wi-day-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-cloudy-gusts" ngbTooltip="wi wi-day-cloudy-gusts"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-cloudy-windy" ngbTooltip="wi wi-day-cloudy-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-fog" ngbTooltip="wi wi-day-fog"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-hail" ngbTooltip="wi wi-day-hail"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-haze" ngbTooltip="wi wi-day-haze"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-lightning" ngbTooltip="wi wi-day-lightning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-rain" ngbTooltip="wi wi-day-rain"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-rain-mix" ngbTooltip="wi wi-day-rain-mix"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-rain-wind" ngbTooltip="wi wi-day-rain-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-showers" ngbTooltip="wi wi-day-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sleet" ngbTooltip="wi wi-day-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sleet-storm" ngbTooltip="wi wi-day-sleet-storm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-snow" ngbTooltip="wi wi-day-snow"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-snow-thunderstorm" ngbTooltip="wi wi-day-snow-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-snow-wind" ngbTooltip="wi wi-day-snow-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sprinkle" ngbTooltip="wi wi-day-sprinkle"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-storm-showers" ngbTooltip="wi wi-day-storm-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-sunny-overcast" ngbTooltip="wi wi-day-sunny-overcast"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-thunderstorm" ngbTooltip="wi wi-day-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-windy" ngbTooltip="wi wi-day-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-solar-eclipse" ngbTooltip="wi wi-solar-eclipse"></i></li>
                                <li class="icons-list-item"><i class="wi wi-hot" ngbTooltip="wi wi-hot"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-cloudy-high" ngbTooltip="wi wi-day-cloudy-high"></i></li>
                                <li class="icons-list-item"><i class="wi wi-day-light-wind" ngbTooltip="wi wi-day-light-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-clear" ngbTooltip="wi wi-night-clear"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-cloudy" ngbTooltip="wi wi-night-alt-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-cloudy-gusts" ngbTooltip="wi wi-night-alt-cloudy-gusts"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-cloudy-windy" ngbTooltip="wi wi-night-alt-cloudy-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-hail" ngbTooltip="wi wi-night-alt-hail"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-lightning" ngbTooltip="wi wi-night-alt-lightning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-rain" ngbTooltip="wi wi-night-alt-rain"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-rain-mix" ngbTooltip="wi wi-night-alt-rain-mix"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-rain-wind" ngbTooltip="wi wi-night-alt-rain-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-showers" ngbTooltip="wi wi-night-alt-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-sleet" ngbTooltip="wi wi-night-alt-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-sleet-storm" ngbTooltip="wi wi-night-alt-sleet-storm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-snow" ngbTooltip="wi wi-night-alt-snow"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-snow-thunderstorm" ngbTooltip="wi wi-night-alt-snow-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-snow-wind" ngbTooltip="wi wi-night-alt-snow-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-sprinkle" ngbTooltip="wi wi-night-alt-sprinkle"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-storm-showers" ngbTooltip="wi wi-night-alt-storm-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-thunderstorm" ngbTooltip="wi wi-night-alt-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-cloudy" ngbTooltip="wi wi-night-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-cloudy-gusts" ngbTooltip="wi wi-night-cloudy-gusts"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-cloudy-windy" ngbTooltip="wi wi-night-cloudy-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-fog" ngbTooltip="wi wi-night-fog"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-hail" ngbTooltip="wi wi-night-hail"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-lightning" ngbTooltip="wi wi-night-lightning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-partly-cloudy" ngbTooltip="wi wi-night-partly-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-rain" ngbTooltip="wi wi-night-rain"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-rain-mix" ngbTooltip="wi wi-night-rain-mix"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-rain-wind" ngbTooltip="wi wi-night-rain-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-showers" ngbTooltip="wi wi-night-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-sleet" ngbTooltip="wi wi-night-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-sleet-storm" ngbTooltip="wi wi-night-sleet-storm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-snow" ngbTooltip="wi wi-night-snow"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-snow-thunderstorm" ngbTooltip="wi wi-night-snow-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-snow-wind" ngbTooltip="wi wi-night-snow-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-sprinkle" ngbTooltip="wi wi-night-sprinkle"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-storm-showers" ngbTooltip="wi wi-night-storm-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-thunderstorm" ngbTooltip="wi wi-night-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-lunar-eclipse" ngbTooltip="wi wi-lunar-eclipse"></i></li>
                                <li class="icons-list-item"><i class="wi wi-stars" ngbTooltip="wi wi-stars"></i></li>
                                <li class="icons-list-item"><i class="wi wi-storm-showers" ngbTooltip="wi wi-storm-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-cloudy-high" ngbTooltip="wi wi-night-alt-cloudy-high"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-cloudy-high" ngbTooltip="wi wi-night-cloudy-high"></i></li>
                                <li class="icons-list-item"><i class="wi wi-night-alt-partly-cloudy" ngbTooltip="wi wi-night-alt-partly-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloud" ngbTooltip="wi wi-cloud"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloudy" ngbTooltip="wi wi-cloudy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloudy-gusts" ngbTooltip="wi wi-cloudy-gusts"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloudy-windy" ngbTooltip="wi wi-cloudy-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-fog" ngbTooltip="wi wi-fog"></i></li>
                                <li class="icons-list-item"><i class="wi wi-hail" ngbTooltip="wi wi-hail"></i></li>
                                <li class="icons-list-item"><i class="wi wi-rain" ngbTooltip="wi wi-rain"></i></li>
                                <li class="icons-list-item"><i class="wi wi-rain-mix" ngbTooltip="wi wi-rain-mix"></i></li>
                                <li class="icons-list-item"><i class="wi wi-rain-wind" ngbTooltip="wi wi-rain-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-showers" ngbTooltip="wi wi-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sleet" ngbTooltip="wi wi-sleet"></i></li>
                                <li class="icons-list-item"><i class="wi wi-snow" ngbTooltip="wi wi-snow"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sprinkle" ngbTooltip="wi wi-sprinkle"></i></li>
                                <li class="icons-list-item"><i class="wi wi-storm-showers" ngbTooltip="wi wi-storm-showers"></i></li>
                                <li class="icons-list-item"><i class="wi wi-thunderstorm" ngbTooltip="wi wi-thunderstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-snow-wind" ngbTooltip="wi wi-snow-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-snow" ngbTooltip="wi wi-snow"></i></li>
                                <li class="icons-list-item"><i class="wi wi-smog" ngbTooltip="wi wi-smog"></i></li>
                                <li class="icons-list-item"><i class="wi wi-smoke" ngbTooltip="wi wi-smoke"></i></li>
                                <li class="icons-list-item"><i class="wi wi-lightning" ngbTooltip="wi wi-lightning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-raindrops" ngbTooltip="wi wi-raindrops"></i></li>
                                <li class="icons-list-item"><i class="wi wi-raindrop" ngbTooltip="wi wi-raindrop"></i></li>
                                <li class="icons-list-item"><i class="wi wi-snowflake-cold" ngbTooltip="wi wi-snowflake-cold"></i></li>
                                <li class="icons-list-item"><i class="wi wi-windy" ngbTooltip="wi wi-windy"></i></li>
                                <li class="icons-list-item"><i class="wi wi-strong-wind" ngbTooltip="wi wi-strong-wind"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sandstorm" ngbTooltip="wi wi-sandstorm"></i></li>
                                <li class="icons-list-item"><i class="wi wi-earthquake" ngbTooltip="wi wi-earthquake"></i></li>
                                <li class="icons-list-item"><i class="wi wi-fire" ngbTooltip="wi wi-fire"></i></li>
                                <li class="icons-list-item"><i class="wi wi-flood" ngbTooltip="wi wi-flood"></i></li>
                                <li class="icons-list-item"><i class="wi wi-meteor" ngbTooltip="wi wi-meteor"></i></li>
                                <li class="icons-list-item"><i class="wi wi-tsunami" ngbTooltip="wi wi-tsunami"></i></li>
                                <li class="icons-list-item"><i class="wi wi-volcano" ngbTooltip="wi wi-volcano"></i></li>
                                <li class="icons-list-item"><i class="wi wi-hurricane" ngbTooltip="wi wi-hurricane"></i></li>
                                <li class="icons-list-item"><i class="wi wi-tornado" ngbTooltip="wi wi-tornado"></i></li>
                                <li class="icons-list-item"><i class="wi wi-small-craft-advisory" ngbTooltip="wi wi-small-craft-advisory"></i></li>
                                <li class="icons-list-item"><i class="wi wi-gale-warning" ngbTooltip="wi wi-gale-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-storm-warning" ngbTooltip="wi wi-storm-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-hurricane-warning" ngbTooltip="wi wi-hurricane-warning"></i></li>
                                <li class="icons-list-item"><i class="wi wi-wind-direction" ngbTooltip="wi wi-wind-direction"></i></li>
                                <li class="icons-list-item"><i class="wi wi-alien" ngbTooltip="wi wi-alien"></i></li>
                                <li class="icons-list-item"><i class="wi wi-celsius" ngbTooltip="wi wi-celsius"></i></li>
                                <li class="icons-list-item"><i class="wi wi-fahrenheit" ngbTooltip="wi wi-fahrenheit"></i></li>
                                <li class="icons-list-item"><i class="wi wi-degrees" ngbTooltip="wi wi-degrees"></i></li>
                                <li class="icons-list-item"><i class="wi wi-thermometer" ngbTooltip="wi wi-thermometer"></i></li>
                                <li class="icons-list-item"><i class="wi wi-thermometer-exterior" ngbTooltip="wi wi-thermometer-exterior"></i></li>
                                <li class="icons-list-item"><i class="wi wi-thermometer-internal" ngbTooltip="wi wi-thermometer-internal"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloud-down" ngbTooltip="wi wi-cloud-down"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloud-up" ngbTooltip="wi wi-cloud-up"></i></li>
                                <li class="icons-list-item"><i class="wi wi-cloud-refresh" ngbTooltip="wi wi-cloud-refresh"></i></li>
                                <li class="icons-list-item"><i class="wi wi-horizon" ngbTooltip="wi wi-horizon"></i></li>
                                <li class="icons-list-item"><i class="wi wi-horizon-alt" ngbTooltip="wi wi-horizon-alt"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sunrise" ngbTooltip="wi wi-sunrise"></i></li>
                                <li class="icons-list-item"><i class="wi wi-sunset" ngbTooltip="wi wi-sunset"></i></li>
                                <li class="icons-list-item"><i class="wi wi-moonrise" ngbTooltip="wi wi-moonrise"></i></li>
                                <li class="icons-list-item"><i class="wi wi-moonset" ngbTooltip="wi wi-moonset"></i></li>
                                <li class="icons-list-item"><i class="wi wi-refresh" ngbTooltip="typcn typcn-rss-outline"></i></li>
                                <li class="icons-list-item"><i class="wi wi-refresh-alt" ngbTooltip="wi wi-refresh-alt"></i></li>
                                <li class="icons-list-item"><i class="wi wi-umbrella" ngbTooltip="wi wi-umbrella"></i></li>
                                <li class="icons-list-item"><i class="wi wi-barometer" ngbTooltip="wi wi-barometer"></i></li>
                                <li class="icons-list-item"><i class="wi wi-humidity" ngbTooltip="wi wi-humidity"></i></li>
                                <li class="icons-list-item"><i class="wi wi-na" ngbTooltip="wi wi-na"></i></li>
                                <li class="icons-list-item"><i class="wi wi-train" ngbTooltip="wi wi-train"></i></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Row-->